/// Fixed padding for labels
.rc-label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 7.864px;
    padding-bottom: 7.864px;
}

.rc-label-html {
    flex-direction: column;
}