/// Inline-flex for alignment
/// default alignment
.rc-editor-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.rc-editor-checkbox-label {
    margin-left: 4px;
}