/// Basic Theme React
:root {
    /// Full size of topbar buttons.
    --basti-topbar-buttons: 60px;

    /// Small size of topbar buttons.
    --basti-topbar-buttons-small: 40px;

    /// Height of the profile-menu.
    --basti-profile-height: 60px;

    ///Small Profile-menu width.
    --basti-profile-width-small: 60px;

    /// Profile-menu padding.
    --basti-profile-padding: 0.75rem 1rem;

    /// Profile-menu picture size.
    --basti-profile-pic: 40px;

    /// Padding of a menu-header for standard menu.
    --basti-s-menu-header-padding: 1rem 1rem 1rem 0.625rem;

    /// Padding of a menu-item for standard menu.
    --basti-s-menu-item-padding: 0.75rem 0.75rem 0.75rem 1.5rem;

    /// Padding of a menu-header for coporation-menu.
    --basti-c-menu-header-padding: 0.75rem 1rem;

    /// Padding of a menu-item for corporation menu.
    --basti-c-menu-item-padding: 0.75rem 1rem;

    /// Padding of input fields
    --basti-input-padding: 0.5rem 0.5rem;

    /// Padding for buttons next to input fields. e.g. LinkedCellEditor, DateCellEditor
    --basti-input-button-padding: 0rem 0.5rem;

    /// Icon size for LinkedCellEditor and DateCellEditor
    --basti-input-button-icon-size: 14px;

    /// Padding for normal buttons
    --basti-button-padding: 0.5rem 1rem;

    /// Padding for icon-only buttons
    --basti-button-icon-only-padding: 0.5rem 0.5rem;

    /// Padding for the left part of the menu-button
    --basti-menubtn-leftbtn-padding: 0.5rem 0rem 0.5rem 1rem;

    /// Padding for the right part of the menu-button
    --basti-menubtn-rightbtn-padding: 0.5rem 0rem;

    /// Size of a checkbox
    --basti-checkbox-size: 20px;

    /// Size of a radiobutton
    --basti-radiobutton-size: 20px;

    /// Padding of tabs
    --basti-tab-padding: 0rem 1rem;

    /// Padding of table headers
    --basti-table-header-padding: 0.6rem 1rem;

    /// Height of cell data in a table
    --basti-table-data-height: 27px;

    /// Fixed Padding for Labels
    --basti-label-padding: 9px;
}

body {
    .basti {
        .p-button.p-button-icon-only.menu-topbar-buttons {
            width: var(--basti-topbar-buttons);
            height: var(--basti-topbar-buttons);
        }
        
        .profile-menu .p-menubar-root-list >.p-menuitem >.p-menuitem-link {
            height: var(--basti-profile-height);
            padding: var(--basti-profile-padding);
        }
        
        .profile-image, .profile-image-null {
            width: var(--basti-profile-pic);
            height: var(--basti-profile-pic);
        }
        
        .profile-image {
            background-size: var(--basti-profile-pic) var(--basti-profile-pic);
        }
        
        .profile-image-null::before {
            font-size: calc(var(--basti-profile-pic) - 2px);
        }
        
        .p-panelmenu {
            .p-panelmenu-header > a {
                padding: var(--basti-s-menu-header-padding);
            }
        
            .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled) {
                padding: var(--basti-s-menu-item-padding);
            }
        }
        
        .p-menubar {
            .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) {
                padding: var(--basti-c-menu-header-padding);
            }
            .p-menuitem-link {
                padding: var(--basti-c-menu-item-padding);
            }
        }
        
        .p-inputtext {
            padding: var(--basti-input-padding);
        }
        
        .p-button.p-button-icon-only {
            &.p-autocomplete-dropdown, &.p-datepicker-trigger {
                padding: var(--basti-input-button-padding);
                > .p-button-icon {
                    font-size: var(--basti-input-button-icon-size);
                }
            }
        }
        
        .p-checkbox-box {
            width: var(--basti-checkbox-size);
            height: var(--basti-checkbox-size);
        
            .p-checkbox-icon {
                font-size: calc(var(--basti-checkbox-size) * 0.7);
            }
        }
        
        .p-radiobutton .p-radiobutton-box {
            width: var(--basti-radiobutton-size);
            height: var(--basti-radiobutton-size);
        
            .p-radiobutton-icon {
                height: calc(var(--basti-radiobutton-size) * 0.6);
                width: calc(var(--basti-radiobutton-size) * 0.6);
            }
        }
        
        .p-tabview .p-tabview-nav li .p-tabview-nav-link {
            padding: var(--basti-tab-padding);
        }
        
        .rc-table {
            .p-datatable-thead > tr > th {
                padding: var(--basti-table-header-padding);
            }
        
            .p-datatable-tbody > tr > td {
                height: calc(8px + var(--basti-table-data-height));
        
                &:not(.ChoiceCellEditor):not(.CheckBoxCellEditor) {
                    height: var(--basti-table-data-height);
                }
            }
        }
        
        .rc-label >span {
            padding: var(--basti-label-padding) 0px;
        }
    }
}


@media screen and (max-width: 960px) {
    body {
        .basti {
            .profile-menu .p-menubar .p-menubar-root-list {
                .p-submenu-list {
                    left: calc(var(--basti-profile-width-small) - var(--s-menu-profile-mini-sub-width))
                }
        
                >.p-menuitem >.p-menuitem-link:not(.p-disabled), &.p-menuitem-active >.p-menuitem-link:not(.p-disabled) {
                    width: var(--basti-profile-width-small);
                    padding: 0;
                }
            }
        }
    }

}

@media screen and (max-width: 530px) {
    body {
        .basti {
            .p-button.p-button-icon-only.menu-topbar-buttons {
                width: var(--basti-topbar-buttons-small);
                height: var(--basti-topbar-buttons-small);
            }
        }
    }
}