/// Basic Theme React - Small
:root {
    /// Full size of topbar buttons.
    --bastis-topbar-buttons: 40px;

    /// Small size of topbar buttons.
    --bastis-topbar-buttons-small: 25px;

    /// Height of the profile-menu.
    --bastis-profile-height: 60px;

    ///Small Profile-menu width.
    --bastis-profile-width-small: 60px;

    /// Profile-menu padding.
    --bastis-profile-padding: 0.25rem 0.5rem;

    /// Profile-menu picture size.
    --bastis-profile-pic: 35px;

    /// Padding of a menu-header for standard menu.
    --bastis-s-menu-header-padding: 0.5rem 1rem 0.5rem 0.625rem;

    /// Padding of a menu-item for standard menu.
    --bastis-s-menu-item-padding: 0.375rem 0.75rem 0.375rem 1.5rem;

    /// Padding of a menu-header for coporation-menu.
    --bastis-c-menu-header-padding: 0.75rem 0.5rem;

    /// Padding of a menu-item for corporation menu.
    --bastis-c-menu-item-padding: 0.25rem 0.5rem;

    /// Padding of input fields
    --bastis-input-padding: 0.125rem 0.125rem;

    /// Padding for buttons next to input fields. e.g. LinkedCellEditor, DateCellEditor
    --bastis-input-button-padding: 0rem 0.125rem;

    /// Icon size for LinkedCellEditor and DateCellEditor
    --bastis-input-button-icon-size: 12px;

    /// Padding for normal buttons
    --bastis-button-padding: 0.125rem 0.25rem;

    /// Padding for icon-only buttons
    --bastis-button-icon-only-padding: 0.125rem 0.125rem;

    /// Padding for the left part of the menu-button
    --bastis-menubtn-leftbtn-padding: 0.125rem 0rem 0.125rem 0.25rem;

    /// Padding for the right part of the menu-button
    --bastis-menubtn-rightbtn-padding: 0rem 0.125rem 0rem 0.125rem;

    /// Size of a checkbox
    --bastis-checkbox-size: 14px;

    /// Size of a radiobutton
    --bastis-radiobutton-size: 14px;

    /// Padding of tabs
    --bastis-tab-padding: 0rem 0.5rem;

    /// Padding of table headers
    --bastis-table-header-padding: 0.3rem 0.5rem;

    ///Height of cell data in a table
    --bastis-table-data-height: 18px;

    /// Fixed Padding for Labels
    --bastis-label-padding: 2.25px;
}

.basti_small {
    .p-button.p-button-icon-only.menu-topbar-buttons {
        width: var(--bastis-topbar-buttons);
        height: var(--bastis-topbar-buttons);
    }

    .profile-menu .p-menubar-root-list >.p-menuitem >.p-menuitem-link {
        height: var(--bastis-profile-height);
        padding: var(--bastis-profile-padding);
    }

    .profile-image, .profile-image-null {
        width: var(--bastis-profile-pic);
        height: var(--bastis-profile-pic);
    }

    .profile-image {
        background-size: var(--bastis-profile-pic) var(--bastis-profile-pic);
    }

    .profile-image-null::before {
        font-size: calc(var(--bastis-profile-pic) - 2px);
    }

    .p-panelmenu {
        .p-panelmenu-header > a {
            padding: var(--bastis-s-menu-header-padding);
        }

        .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled) {
            padding: var(--bastis-s-menu-item-padding);
        }
    }

    .p-menubar {
        .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) {
            padding: var(--bastis-c-menu-header-padding);
        }
        .p-menuitem-link {
            padding: var(--bastis-c-menu-item-padding);
        }
    }

    .p-inputtext {
        padding: var(--bastis-input-padding);
    }

    .p-button.p-button-icon-only {
        &.p-autocomplete-dropdown, &.p-datepicker-trigger {
            padding: var(--bastis-input-button-padding);
            > .p-button-icon {
                font-size: var(--bastis-input-button-icon-size);
            }
        }
    }

    .p-checkbox-box {
        width: var(--bastis-checkbox-size);
        height: var(--bastis-checkbox-size);

        .p-checkbox-icon {
            font-size: calc(var(--bastis-checkbox-size) * 0.7);
        }
    }

    .p-radiobutton .p-radiobutton-box {
        width: var(--bastis-radiobutton-size);
        height: var(--bastis-radiobutton-size);

        .p-radiobutton-icon {
            height: calc(var(--bastis-radiobutton-size) * 0.6);
            width: calc(var(--bastis-radiobutton-size) * 0.6);
        }
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        padding: var(--bastis-tab-padding);
    }

    .rc-table {
        .p-datatable-thead > tr > th {
            padding: var(--bastis-table-header-padding);
        }

        .p-datatable-tbody > tr > td {
            height: calc(8px + var(--bastis-table-data-height));

            &:not(.ChoiceCellEditor):not(.CheckBoxCellEditor) {
                height: var(--bastis-table-data-height);
            }
        }
    }

    .rc-label >span {
        padding: var(--bastis-label-padding) 0px;
    }
}

@media screen and (max-width: 960px) {
    .basti_small {
        .profile-menu .p-menubar .p-menubar-root-list {
            .p-submenu-list {
                left: calc(var(--bastis-profile-width-small) - var(--s-menu-profile-mini-sub-width))
            }

            >.p-menuitem >.p-menuitem-link:not(.p-disabled), &.p-menuitem-active >.p-menuitem-link:not(.p-disabled) {
                width: var(--bastis-profile-width-small);
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .basti_small {
        .p-button.p-button-icon-only.menu-topbar-buttons {
            width: var(--bastis-topbar-buttons-small);
            height: var(--bastis-topbar-buttons-small);
        }
    }
}