/// Basic Theme React
:root {
    /// Full size of topbar buttons.
    --btr-topbar-buttons: 60px;

    /// Small size of topbar buttons.
    --btr-topbar-buttons-small: 40px;

    /// Height of the profile-menu.
    --btr-profile-height: 60px;

    ///Small Profile-menu width.
    --btr-profile-width-small: 60px;

    /// Profile-menu padding.
    --btr-profile-padding: 0.75rem 1rem;

    /// Profile-menu picture size.
    --btr-profile-pic: 40px;

    /// Padding of a menu-header for standard menu.
    --btr-s-menu-header-padding: 1rem 1rem 1rem 0.625rem;

    /// Padding of a menu-item for standard menu.
    --btr-s-menu-item-padding: 0.75rem 0.75rem 0.75rem 1.5rem;

    /// Padding of a menu-header for coporation-menu.
    --btr-c-menu-header-padding: 0.75rem 1rem;

    /// Padding of a menu-item for corporation menu.
    --btr-c-menu-item-padding: 0.75rem 1rem;

    /// Padding of input fields
    --btr-input-padding: 0.5rem 0.5rem;

    /// Padding for buttons next to input fields. e.g. LinkedCellEditor, DateCellEditor
    --btr-input-button-padding: 0rem 0.5rem;

    /// Icon size for LinkedCellEditor and DateCellEditor
    --btr-input-button-icon-size: 14px;

    /// Padding for normal buttons
    --btr-button-padding: 0.5rem 1rem;

    /// Padding for icon-only buttons
    --btr-button-icon-only-padding: 0.5rem 0.5rem;

    /// Padding for the left part of the menu-button
    --btr-menubtn-leftbtn-padding: 0.5rem 0rem 0.5rem 1rem;

    /// Padding for the right part of the menu-button
    --btr-menubtn-rightbtn-padding: 0.5rem 0rem;

    /// Size of a checkbox
    --btr-checkbox-size: 20px;

    /// Size of a radiobutton
    --btr-radiobutton-size: 20px;

    /// Padding of tabs
    --btr-tab-padding: 0rem 1rem;

    /// Padding of table headers
    --btr-table-header-padding: 0.6rem 1rem;

    /// Height of cell data in a table
    --btr-table-data-height: 27px;

    /// Fixed Padding for Labels
    --btr-label-padding: 9px;
}

.btr {
    .p-button.p-button-icon-only.menu-topbar-buttons {
        width: var(--btr-topbar-buttons);
        height: var(--btr-topbar-buttons);
    }

    .profile-menu .p-menubar-root-list >.p-menuitem >.p-menuitem-link {
        height: var(--btr-profile-height);
        padding: var(--btr-profile-padding);
    }

    .profile-image, .profile-image-null {
        width: var(--btr-profile-pic);
        height: var(--btr-profile-pic);
    }

    .profile-image {
        background-size: var(--btr-profile-pic) var(--btr-profile-pic);
    }

    .profile-image-null::before {
        font-size: calc(var(--btr-profile-pic) - 2px);
    }

    .p-panelmenu {
        .p-panelmenu-header > a {
            padding: var(--btr-s-menu-header-padding);
        }

        .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled) {
            padding: var(--btr-s-menu-item-padding);
        }
    }

    .p-menubar {
        .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) {
            padding: var(--btr-c-menu-header-padding);
        }
        .p-menuitem-link {
            padding: var(--btr-c-menu-item-padding);
        }
    }

    .p-inputtext {
        padding: var(--btr-input-padding);
    }

    .p-button.p-button-icon-only {
        &.p-autocomplete-dropdown, &.p-datepicker-trigger {
            padding: var(--btr-input-button-padding);
            > .p-button-icon {
                font-size: var(--btr-input-button-icon-size);
            }
        }
    }

    .p-checkbox-box {
        width: var(--btr-checkbox-size);
        height: var(--btr-checkbox-size);

        .p-checkbox-icon {
            font-size: calc(var(--btr-checkbox-size) * 0.7);
        }
    }

    .p-radiobutton .p-radiobutton-box {
        width: var(--btr-radiobutton-size);
        height: var(--btr-radiobutton-size);

        .p-radiobutton-icon {
            height: calc(var(--btr-radiobutton-size) * 0.6);
            width: calc(var(--btr-radiobutton-size) * 0.6);
        }
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        padding: var(--btr-tab-padding);
    }

    .rc-table {
        .p-datatable-thead > tr > th {
            padding: var(--btr-table-header-padding);
        }

        .p-datatable-tbody > tr > td {
            height: calc(8px + var(--btr-table-data-height));

            &:not(.ChoiceCellEditor):not(.CheckBoxCellEditor) {
                height: var(--btr-table-data-height);
            }
        }
    }

    .rc-label >span {
        padding: var(--btr-label-padding) 0px;
    }
}

@media screen and (max-width: 960px) {
    .btr {
        .profile-menu .p-menubar .p-menubar-root-list {
            .p-submenu-list {
                left: calc(var(--btr-profile-width-small) - var(--s-menu-profile-mini-sub-width))
            }

            >.p-menuitem >.p-menuitem-link:not(.p-disabled), &.p-menuitem-active >.p-menuitem-link:not(.p-disabled) {
                width: var(--btr-profile-width-small);
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .p-button.p-button-icon-only.menu-topbar-buttons {
        width: var(--btr-topbar-buttons-small);
        height: var(--btr-topbar-buttons-small);
    }
}