 td>.p-inputext {
    width: 100%;
}

.p-datatable .p-datatable-tbody>tr>td.p-cell-editing>span{
    >.p-button-icon-only{
        width: auto ;
    }

    >.p-inputtext{
        width: calc(100% - 45px);
    }
}

