.p-datatable-scrollable-wrapper {
    //height:calc(100% - 36px);
    .p-datatable-scrollable-view {
        height:100%;
        .p-datatable-scrollable-body {
            max-height: calc(100% - 36px) !important;
        }
    }
}

td, th{
    overflow: scroll;
    //white-space: nowrap;
}