.rc-frame {
    box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
    border-radius: 9px;
}

.rc-frame-header {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    cursor: move;

    .rc-frame-header-title, .rc-frame-header-icon {
        margin-left: 4px;
    }

    .rc-frame-header-close-button {
        border-radius: 50%;
        border: none;
        padding: 4px;

        margin-left: auto;
        margin-right: 4px;
        
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
}

.rc-frame-content {
    padding: 0px 4px 4px 4px;
}