.p-dialog {
    .p-dialog-header {
        background: #ffffff;
        color: #495057;
        padding: 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        .p-dialog-title {
            padding-left: 0.5rem;
            font-weight: 600;
            font-size: 1.25rem;
        }
        .p-dialog-header-icons {
            padding-top: 3px;
            padding-right: 5px;
        }
        .p-dialog-header-icon:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        .p-dialog-header-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .p-dialog-content {
        padding: 0;
        overflow-y: hidden;
    }
}