.rc-popup {
    .p-dialog-header {
        background: #ffffff;
        color: #495057;
        padding: 0.5rem;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        .p-dialog-title {
            padding-left: 0.5rem;
            font-weight: 600;
            font-size: 1.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .p-dialog-header-icon:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        .p-dialog-header-icon {
            width: 1.5rem;
            height: 1.5rem;
            &:last-child {
                margin-right: 4px;
            }
        }
    }
    .p-dialog-content {
        padding: 0;
        overflow-y: hidden;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}