.rc-popup {
    .p-dialog-header {
        padding: 0.5rem;

        .p-dialog-title {
            padding-left: 0.5rem;
            font-weight: 600;
            font-size: 1.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 1;
        }
        .p-dialog-header-icon:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        .p-dialog-header-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .p-dialog-content {
        padding: 0;
    }
}

.rc-panel {
    background-image: var(--backgroundImage);
}