.rc-panel-group {
    background: inherit;
}

.rc-panel-group-caption {
    position: relative;
    z-index: 9;
    background: inherit;
    font-weight: bold;
    border-bottom: 1px solid #d5d5d5;
    line-height: 27px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
}