.rc-panel-group {
    background: inherit;
}

.rc-panel-group-caption {
    position: relative;
    z-index: 9;
    background: inherit;
    font-weight: bold;
    line-height: 27px;
    user-select: none; 
}

.rc-panel-group-content {
    background-image: var(--backgroundImage);
}