.error-dialog {
    max-width: 600px;

    .p-dialog-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 1.5rem 2rem 1.5rem;

        .error-dialog-icon {
            margin-right: 4px;
        }
    }

    .p-listbox {
        text-align: left;

        .p-listbox-list {
            .p-listbox-item {
                white-space: nowrap;
                display: inline-block;
                min-width: 100%;
            }
        }
    }
}