/// Inline-flex for alignment
/// default alignment
.rc-editor-choice {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.rc-editor-choice-img {
    --choiceMinW: 0px;
    --choiceMinH: 0px;

    min-width: var(--choiceMinW);
    min-height: var(--choiceMinH);

    &:not(.choice-read-only) {
        cursor: pointer;
    }
    
}