.jvxFlowLayout {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    .jvxFlowLayout-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        background-color: inherit;
    }
}