@import '../../../../frontmask/scssutil/buttonColors.scss';

/// Inherit height and width from parent who has set it by the layout
.rc-button {
    --btnJustify: center;
    --btnAlign: center;

    height: inherit;
    width: inherit;

    justify-content: var(--btnJustify);
    align-items: var(--btnAlign);
    padding: var(--btnPadding, 0.5rem 1rem);

    &:not(.login-button):not(.lost-password-button) {
        .p-button-icon-left {
            margin-right: 0;
        }

        .p-button-icon-right {
            margin-left: 0;
        }
    } 


    &.mouse-border {
        background: transparent;
        border-color: transparent;
    }

    @include btnHover
}

.p-button.p-button-icon-only {
    width: unset;
    //height: inherit;
    &.p-autocomplete-dropdown, &.p-datepicker-trigger {
        padding: 0px 0.5rem;
    }
    padding: var(--btnPadding, 0.5rem 0.5rem);
    .rc-button-icon {
        align-self: center;
    }
    &.rc-toolbar-button {
        padding: 0;
    }
}

/// If the button is dark set the foreground to white
.bright-button {
    color: var(--button-color-bright);
    &:enabled:hover {
        color: var(--button-color-bright);
    }
}

/// If the button is bright set the foreground to a darker color
.dark-button {
    color: var(--button-color-dark);
    &:enabled:hover {
        color: var(--button-color-dark);
    }
}

/// When the border is not painted background and border are transparent and the color is set to standard
.border-notpainted, .border-notpainted:enabled:hover {
    background: transparent !important;
    border-color: transparent !important;
}

.p-button-label {
    flex: unset;
}

.reactUI:not(.basti_mobile) {
    .p-button.p-button-icon-only {
        &.p-autocomplete-dropdown, &.p-datepicker-trigger {
            @include btnHover;
        }
    }
}


.rc-button.p-button.p-button-icon-only {
    width: inherit;
    height: inherit;
}

.rc-button-icon {
    font-size: var(--iconHeight);
    color: var(--iconColor);
    &:not([class*="fas fa-"]):not([class*="far fa-"]):not([class*="fab fa-"]) {
        width: var(--iconWidth);
        height: var(--iconHeight);
        display: inline-block;
        background-image: var(--iconImage);
    }

    &:not(span) {
        margin-right: 4px;
    }

    @at-root #{selector-unify(&, "span")} {
        .gap-top:not(.p-button-icon-only):not(.login-button):not(.lost-password-button) & {
            margin-top: var(--iconTextGap);
        }

        .gap-left:not(.p-button-icon-only):not(.login-button):not(.lost-password-button) & {
            margin-left: var(--iconTextGap);
        }

        .gap-right:not(.p-button-icon-only):not(.login-button):not(.lost-password-button) & {
            margin-right: var(--iconTextGap);
        }

        .gap-bottom:not(.p-button-icon-only):not(.login-button):not(.lost-password-button) & {
            margin-bottom: var(--iconTextGap);
        }

        .icon-center-left:not(.p-button-icon-only):not(.no-center-gap):not(.login-button):not(.lost-password-button) & {
            margin-left: var(--iconCenterGap);
        }
        .icon-center-right:not(.p-button-icon-only):not(.no-center-gap):not(.login-button):not(.lost-password-button) & {
            margin-right: var(--iconCenterGap);
        }
    }
}

.p-button.p-button-link:enabled:focus {
    box-shadow: unset;
    border-color: transparent;

    .p-button-label {
        text-decoration: underline;
    }
}