.splitPanel{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.first{
  overflow-x: hidden;
}

.second{
  overflow-x: hidden;
  flex: 1;
}

.separator{
  cursor: e-resize;
  width: 40px;
  background-color: #34a835;
}