.splitPanel{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.first{
  width: 25%;
  overflow: hidden;
}

.second{
  overflow: hidden;
  flex: 1;
}

.separator{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 20%;
  cursor: e-resize;
  width: 10px;
}

.hideOnScroll {
  overflow: hidden;
}