.splitPanel{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.hSplit {
  flex-direction: row;
}

.vSplit {
  flex-direction: column;
}

.firstH{
  width: 25%;
  overflow: hidden;
}

.firstV {
  height: 25%;
  overflow: hidden;
}

.second{
  overflow: hidden;
  flex: 1;
}

.separator{
  background-image: url('../../../../assests/Split.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 20%;
}

.hSeperator {
  width: 10px;
  cursor: ew-resize;
}

.vSeperator {
  height: 10px;
  cursor: ns-resize;
}

.hideOnScroll {
  overflow: hidden;
}