.splitPanel{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.first{
}

.second{
  flex: 1;
}

.separator{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  cursor: e-resize;
  width: 40px;
}