.splitPanel{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.first{
  background-color: #333333;
  overflow-x: auto;
}

.second{
  background-color: #a80000;
  overflow-x: auto;
  flex: 1;
}

.separator{
  cursor: e-resize;
  width: 40px;
  background-color: #34a835;
}