//Content does not overlap with the menu/topbar if menu is on the side
.content-sidemenu {
    padding-top: 80px;
    margin-left: 200px;
    height: 100%;
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: -o-calc(100% - 200px);
    width: calc(100% - 200px);
    overflow: auto;
    transition:0.3s;
      -webkit-transition:0.3s;
      -moz-transition:0.3s;
    transition-delay: .2s;
    //grid positioning
    .parent-grid {
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
    }
    //if there is a content-sidemenu set margin to 0 (in footer.scss set to 200px)
    .footer-sidemenu {
      margin-left: 0 !important;
    }
}

//Positioning of the content if menu is on top so it does not overlap, height calc: TopMenu padding-bottom 175px p-grid margin top -80 footer +61px = 156px
.content-topmenu {
  width: 100%;
  height: -moz-calc(100% - 156px);
    height: -webkit-calc(100% - 156px);
    height: -o-calc(100% - 156px);
    height: calc(100% - 156px);
  .parent-grid {
    height: 100%;
    margin-top: -80px;
    margin-left: 34px;
    margin-right: 34px;
  }
}

//stretch animation and stretching of content
.stretched {
  margin-left: 0px;
  transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    transition-delay: .3s;
}

@media only screen and (max-width: 1575px) {
  .content-topmenu {
    height: -moz-calc(100% - 171px);
    height: -webkit-calc(100% - 171px);
    height: -o-calc(100% - 171px);
    height: calc(100% - 171px);
  }
}

@media only screen and (max-width: 1207px) {
  .content-topmenu {
    height: -moz-calc(100% - 181px);
    height: -webkit-calc(100% - 181px);
    height: -o-calc(100% - 181px);
    height: calc(100% - 181px);
  }
}

//if the window is below 945px the grid will be moved down
@media only screen and (max-width: 945px) {
  .content-topmenu {
    height: -moz-calc(100% - 141px);
    height: -webkit-calc(100% - 141px);
    height: -o-calc(100% - 141px);
    height: calc(100% - 141px);
    .p-grid {
      margin-top: -30px;
    }
  }
}