//body margin to 0
body {
  margin: 0;
  //background design
  .background {
    background-image: url("../../../public/assets/loginbackground.jpg");
    height: 100vh;
    padding: 7%
  }
  //items in background and upper part of the login mask are central
  .background, .upperMask {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
  }
  //login mask design and positioning
  .loginmask {
    background-color: white;
    opacity: 0.9;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 1%;
    min-width: 25%;
    -webkit-box-shadow: 10px 8px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 8px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 8px 25px 0px rgba(0,0,0,0.5);
  }
  //width of user inputs
  #username, .p-button, #password {
    width: 100%;
  }
  //margins in mask
  img, .p-float-label, #password, .checkStay{
    margin-bottom: 6%;
  }
}





