/*import themes*/
@import 'theme-dark';
@import 'theme-light';
@import 'theme-blue';
/*Variables*/
$shadow: 0px 2px 10px 0px rgba(0,0,0,0.42);

/*Styling*/
/*mixin for themes*/
@mixin themable($theme-name, $theme-map) {
    .#{$theme-name} {
        .topBar {
            background-color: map-get($theme-map, "topBar");
            .menuBtnSide {
                color: map-get($theme-map, "fgdColor");
                margin-left: 20px;
                display: flex;
                height: 100%;
                align-items: center;
                :hover {
                    color: map-get($theme-map, "hover");
                    cursor: pointer;
                }
            }
            .p-inputtext {
                background-color: map-get($theme-map, "srch");
                border: 1px transparent;
            }
            .p-inputtext::placeholder, .p-inputgroup-addon {
                background-color: map-get($theme-map, "srch");;
                color: map-get($theme-map, "fgdColor");
                border: 1px transparent;
            }
            .profile-content {
                .p-menubar {
                    background-color: map-get($theme-map, "topBar");
                    .p-menuitem-link, .p-menuitem-link .p-menuitem-text,
                    .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
                .p-menuitem.p-menuitem-active >.p-menuitem-link >.p-submenu-icon {
                    color: map-get($theme-map, "fgdColor");
                }
                .p-menuitem-link:hover, .p-menuitem-link:hover .p-menuitem-text,
                .p-menuitem.p-menuitem-active > .p-menuitem-link {
                    background-color: map-get($theme-map, "topBar");
                    color: map-get($theme-map, "fgdColor");
                }
                .p-menuitem:hover {
                    border-bottom: map-get($theme-map, "border");
                }
                }
            }
        }
    }
}

@include themable('dark', $theme-dark);
@include themable('light', $theme-light);
@include themable('blue', $theme-blue);

/*custom avatar icon for profile*/
.avatar-icon::before{
    background-image: url("../../../public/assets/avatar.jfif");
    background-size: 30px 30px;
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    content:"";
}

/*Positioning*/
.topBar {
    position: fixed;
    top:0;
    height: 80px;
    display: flex;
    width: 100%;
    padding-right: 10px;
    z-index: 10;
    -webkit-box-shadow: $shadow ;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
    .logo-sidemenu, .menuBtnSide, .searchbar-sidemenu  {
        display: flex;
        height: 100%;
        align-items: center;
    }
    .logo-sidemenu {
        padding-top: 10px;
    }
    .searchbar-sidemenu {
        margin-left: auto;
    }
    .menuBtnSide {
        margin-left: 20px;
    }
    .p-inputgroup {
        .p-inputtext {
            padding-left: 2px;
        }
    }
    img {
        width: 190px;
        height: 40px;
        border-radius: 5%;
        margin-left: 5px;
    }
    .profile-content {
        padding-top: 7px;
        .p-menubar {
            background-color: inherit;
            border: inherit;
            padding-top: 8px;
            .p-menuitem.p-menuitem-active
            > .p-submenu-list {
                >.p-menuitem {
                    >.p-menuitem-link {
                        background-color: inherit;
                        >.p-menuitem-text {
                            color: black
                        }
                    }
                }
                >.p-menuitem.p-menuitem-active {
                    >.p-menuitem-link {
                        background-color: inherit;
                    }
                    >.p-menuitem-link:hover {
                        background-color: #eaeaea
                    }
                }
                .p-menuitem-link:hover {
                    .p-menuitem-text{
                        background-color: inherit
                    }
                }
                .p-menuitem:hover {
                    border-bottom: none;
                }
             } 
        }
    }
}

.menu-container  {
    position: fixed;
    top: 80px;
    width: 200px;
    height: 100%;
    left: 0;
    background-color: white;
    z-index: 5;
    box-shadow: $shadow;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
    .p-tieredmenu {
        width: 100%;
        border-radius: 0;
        border: none;
        .p-submenu-list {
            min-width: 12.5em;
            width: auto;
        }
    }    
}

@media only screen and (max-width: 610px) {
    body {
        .topBar {
            .logo-sidemenu {
                display: none;
            }
        }
    }
}

/*Animation*/
@keyframes hide{
    0% { transform: translate(0);}
    20% { transform: translate(5px);}
    100% { transform: translate(-120vw);}
  }
  
  @keyframes show {
    0% { transform: translate(-120vw);}
    80% { transform: translate(-5px);}
    100% { transform: translate(0vw);}
  }
  
  .hide {
    animation: hide 0.3s forwards ease-in-out;
    animation-delay: .2s;
  }
  
  .show {
    animation: show 0.5s forwards ease-in-out;
  }