//settings content positioning if the menu is on the side
.settings-content-side {
    
    height: -moz-calc(100% - 61.5px);
    height: -webkit-calc(100% - 61.5px);
    height: -o-calc(100% - 61.5px);
    height: calc(100% - 61.5px - 70px);
    margin-left: 200px;
    transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition-delay: 0.2s;
    .settings-grid {
        margin-top: -10px;
        margin-right: 0;
        margin-left: 0;
        .p-card {
            margin-left: 40px;
            .p-radiobutton-label {
                margin-right: 5px;
                margin-left: 0;
            }
        }
    }
}

//settings content positioning if the menu is on top
.settings-content-top {
    
    height: -moz-calc(100% - 157px);
    height: -webkit-calc(100% - 157px);
    height: -o-calc(100% - 157px);
    height: calc(100% - 157px - 80px);
    .settings-grid {
        margin-right: 0;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: -80px;
        .p-card {
            margin-right: 40px;
        }
        .p-radiobutton-label {
            margin-right: 5px;
            margin-left: 0;
        }
    }
}

//the cardtitle doesn't exceed the card
.p-card-title {
    overflow-wrap: break-word;
}

.settings-grid .p-card-content {
    display: flex;
    align-items: center;
    .p-inputswitch {
        margin-left: 5px;
    }
}

//if the screen is smaller than 1575px move content lower
@media only screen and (max-width: 1575px) {
    .settings-content-top {
        height: -moz-calc(100% - 172px);
        height: -webkit-calc(100% - 172px);
        height: -o-calc(100% - 172px);
        height: calc(100% - 172px);
    }
}

//if the screen is smaller than 1207px move content lower
@media only screen and (max-width: 1207px) {
    .settings-content-top {
        height: -moz-calc(100% - 182px);
        height: -webkit-calc(100% - 182px);
        height: -o-calc(100% - 182px);
        height: calc(100% - 182px);
    }
}

//if the screen is smaller than 945px move content lower
@media only screen and (max-width: 945px) {
    .settings-content-top {
        height: -moz-calc(100% - 142px);
        height: -webkit-calc(100% - 142px);
        height: -o-calc(100% - 142px);
        height: calc(100% - 142px);
        .p-grid {
            margin-top: -30px;
        }
    }
}

//Animation if settings-content gets stretched
.stretched {
      margin-left: 0px;
      transition:0.3s;
        -webkit-transition:0.3s;
        -moz-transition:0.3s;
      transition-delay: .2s;
}