@import 'theme-dark';
@import 'theme-light';
@import 'theme-blue';
$shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);

@mixin themable($theme-name, $theme-map) {
    .#{$theme-name} {
        .topMenuBar {
            background-color: map-get($theme-map, "topBar");
            .menuBtnTop {
                color: map-get($theme-map, "fgdColor");
                :hover {
                    color: map-get($theme-map, "hover");
                    cursor: pointer;
                }
            }
            .p-inputtext {
                background-color: map-get($theme-map, "srch");
                border: 1px transparent;
            }
            .p-inputtext::placeholder, .p-inputgroup-addon {
                background-color: map-get($theme-map, "srch");;
                color: map-get($theme-map, "fgdColor");
                border: 1px transparent;
            }
            .p-menubar {
                .p-menuitem-link, .p-menuitem-link .p-menuitem-text,
                .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
                .p-menuitem.p-menuitem-active >.p-menuitem-link >.p-submenu-icon {
                    color: map-get($theme-map, "fgdColor");
                }
                .p-menuitem-link:hover, .p-menuitem-link:hover .p-menuitem-text,
                .p-menuitem.p-menuitem-active > .p-menuitem-link {
                    background-color: map-get($theme-map, "topBar");
                    color: map-get($theme-map, "fgdColor");
                }
                .p-menuitem:hover {
                    border-bottom: map-get($theme-map, "border");
                }
            }
        }
    }
}

@include themable('dark', $theme-dark);
@include themable('light', $theme-light);
@include themable('blue', $theme-blue);

body {
    .topMenuBar {
        height: 80px;
        padding-bottom: 175px;
        display: flex;
        width: 100%;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        &.p-grid {
            margin: 0;
        }
        .logo-topmenu, .searchbar-topmenu {
            display: flex;
            height: 100%;
            align-items: center;
        }
        .logo-topmenu {
            padding-top: 35px;
            padding-left: 50px;
        }
        img {
            width: 190px;
            height: 40px;
            border-radius: 5%;
            margin-left: 5px;
        }
        .menuBtnTop {
            display: none;
            padding-top: 27px;
            cursor: pointer;
        }
        .searchbar-topmenu {
            padding-top: 30px;
        }
        .p-menubar {
            background-color: inherit;
            border: inherit;
            padding-top: 8px;
            .p-menuitem.p-menuitem-active
            > .p-submenu-list {
                >.p-menuitem {
                    >.p-menuitem-link {
                        background-color: inherit;
                        >.p-menuitem-text {
                            color: black
                        }
                    }
                }
                >.p-menuitem.p-menuitem-active {
                    >.p-menuitem-link {
                        background-color: inherit;
                    }
                    >.p-menuitem-link:hover {
                        background-color: #eaeaea
                    }
                }
                .p-menuitem-link:hover {
                    .p-menuitem-text{
                        background-color: inherit
                    }
                }
                .p-menuitem:hover {
                    border-bottom: none;
                }
             } 
        }
    }
    .profile {
        margin-top: -12px;
        padding-right: 50px;
        .p-submenu-list {
            right: 0;
        }
    }
    .p-sidebar {
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(246,246,246,1) 74%, rgba(233,233,233,1) 91%);
        .sidebar-menu {
            border: none;
            margin-top: 25px;
        }
    }
}

.topMenuBar, .topMenuBar .p-inputtext, .p-inputtext::placeholder, 
.p-inputgroup-addon,.p-menuitem-link, .p-menuitem-link .p-menuitem-text,
.p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
.p-menubar .p-menuitem >.p-menuitem-link >.p-submenu-icon {
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    transition-delay: .2s;
}

@media only screen and (max-width: 1575px) {
    body {
        .topMenuBar {
            padding-bottom: 190px;
        }
    }
}

@media only screen and (max-width: 1207px) {
    body {
        .topMenuBar {
            padding-bottom: 200px;
        }
    }
}

@media only screen and (max-width: 945px) {
    body {
        .topMenuBar {
            padding-bottom: 110px;
            .menuBtnTop {
                display: flex;
            }
            .logo-topmenu, .searchbar-topmenu {
                padding-top: 45px;
            }
            >.p-menubar {
                display: none;
            }
            .profile {
                padding-top: 26px;
            }
        }
    }
}

@media only screen and (max-width: 733px) {
    body {
        .topMenuBar {
            .logo-topmenu {
                display: none;
            }
        }
    }
}