/*import themes*/
@import '../themes/theme-dark';
@import '../themes/theme-light';
@import '../themes/theme-blue.scss';

/*Styling*/
/*mixin for themes*/
@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    .footer-sidemenu {
      background-color: map-get($theme-map, "footer");
      color: map-get($theme-map, "fgdColor");
      padding: 20px;
      margin-left: 200px;
    }
    .footer-topmenu {
      background-color: map-get($theme-map, "footer");
      color: map-get($theme-map, "fgdColor");
      padding: 20px;
    }
  } 
}

//usage of the mixin based on theme
@include themable('dark', $theme-dark);
@include themable('light', $theme-light);
@include themable('blue', $theme-blue);


/*Animation*/
.footer-sidemenu, .footer-topmenu {
  transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    transition-delay: .2s;
}

/*fixed position to bottom*/
.fixedPos {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*Stretch to the left of screen*/
.stretched {
  margin-left: 0 !important;
  transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
  transition-delay: .2s;
}