.jvxEditorNumber {
    .p-inputnumber-input {
        height: 100%;
        width: 100%;
        flex-grow: unset;
        flex-shrink: unset;
        flex-basis: unset;
        text-align: right;
    }
}
