@import '../scssmixin/scrollbar.scss';

.c-menu-header {
    display: flex;
    justify-content: space-between;
    background: var(--menuTopBar);
    align-items: center;
    height: var(--profileMenuHeight);
}

.c-menu-profile {
    display: flex;
    align-items: center;
}

.c-menu-menubar {
    background: var(--menuTopBar);
    padding-left: 10px;
    .p-menubar {
        border-radius: 0;
        height: var(--cMenuHeight);
        .p-submenu-list {
            max-height: 600px;
            overflow: auto;
            margin-left: 4px;
        }
    }
}

.c-menu-logo-wrapper {
    margin-left: 10px;
    display: flex;
    max-width: var(--menuLogoWidth);
    transition: max-width 0.5s ease-out;
}

.c-menu-menubar {
    display: flex;
    align-items: center;

    .p-menubar {
        .p-menubar-root-list {
            @include styledScrollbarCorp();
            overflow-y: auto;
            overflow-x: hidden;
            height: inherit;

            >.p-menuitem {
                float: left;
                position: unset;
            }
        }
    }
}

.p-speeddial {
    z-index: auto;
    position: relative;
    .p-speeddial-button.p-button.p-button-icon-only {
        width: 2rem;
        height: 2rem;
        background: #ffffff;
        border-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.20);
        color: var(--standardTextColor);
        padding: 0;

        .p-button-icon {
            font-size: 1rem;
        } 
    }
    
    .p-speeddial-action {
        width: 2rem;
        height: 2rem;
    }

    &.p-speeddial-opened {
        .p-speeddial-list {
            z-index: 10;
        }
    }
}

@media screen and (max-width: 530px) {
    .c-menu-header {
        justify-content: unset;
        .c-menu-logo-wrapper {
            max-width: 0px;
            transition: max-width 0.5s ease-out;
        }
        .c-menu-profile {
            margin-left: auto;
        }
    }

}