@import '../themes/theme-dark';
@import '../themes/theme-light';
@import '../themes/theme-blue';
$shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);

@mixin themable($theme-name, $theme-map) {
    .#{$theme-name} {
        .topMenuBar {
            background-color: map-get($theme-map, "topBar");
            .p-menubar:not(.p-menubar-mobile-active) {
                .p-menuitem-link, >.p-menubar-root-list .p-menuitem-link .p-menuitem-text, .p-menuitem-link .p-submenu-icon,
                .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) .p-menuitem-text,
                .p-menuitem.p-menuitem-active >.p-menuitem-link:not(.p-disabled) .p-submenu-icon,
                .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon, .p-menubar-end .p-button {
                    color: map-get($theme-map, "fgdColor");
                }
                >.p-menubar-button {
                    color: map-get($theme-map, "fgdColor");
                    &:hover {
                        color: map-get($theme-map, "hover");
                        cursor: pointer;
                    }
                }
                >.p-menubar-root-list .p-menuitem-link:not(.p-disabled):hover,
                .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) {
                    background-color: map-get($theme-map, "topBar");
                    color: map-get($theme-map, "fgdColor");
                }
                >.p-menubar-root-list .p-menuitem:hover, .p-menubar-end .p-button:hover {
                    border-bottom: map-get($theme-map, "border");
                }
            }
        }
    }
}

@include themable('dark', $theme-dark);
@include themable('light', $theme-light);
@include themable('blue', $theme-blue);

body {
    .topMenuBar {
        height: 70px;
        display: flex;
        width: 100%;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        &.p-grid {
            margin: 0;
        }
        .logo-topmenu {
            display: flex;
            height: 100%;
            align-items: center;
        }
        .logo-topmenu {
            padding-top: 35px;
            padding-left: 50px;
        }
        img {
            width: 190px;
            height: 40px;
            border-radius: 5%;
            margin-left: 5px;
        }
        .p-menubar-button {
            text-decoration: unset;
            margin-left: 5px;
            &:hover {
                background: unset;
            }
            >i {
                font-weight: bold;
                font-size: 1.5em;
            }
        }

        .p-menubar:not(.p-menubar-mobile-active) {
            .p-menubar-root-list {
                >.p-menuitem {
                    border-bottom: 4px solid transparent;
                }
            }

            .p-menuitem.p-menuitem-active
            > .p-submenu-list {
                >.p-menuitem {
                    >.p-menuitem-link {
                        background-color: inherit;
                        >.p-menuitem-text {
                            color: black
                        }
                    }
                }
                >.p-menuitem.p-menuitem-active {
                    >.p-menuitem-link {
                        background-color: inherit;
                    }
                    >.p-menuitem-link:hover {
                        background-color: #eaeaea
                    }
                }
                .p-menuitem-link:hover {
                    .p-menuitem-text{
                        background-color: inherit
                    }
                }
                .p-menuitem:hover {
                    border-bottom: none;
                }
             }
        }

        .p-menubar {
            background-color: inherit;
            border: inherit;
            padding-top: 8px;
            .p-submenu-list {
                z-index: 999;
            }
             >.p-menubar-end {
                 .p-button{
                    color: white;
                    border-bottom: 4px solid transparent;
                    .p-button-icon-right {
                        margin-left: 0.5rem;
                    }
                 }
                 .p-slidemenu-rootlist {
                     width: 100% !important;
                 }
             }
        }
    }
    .profile {
        margin-top: -12px;
        padding-right: 50px;
    }
    .p-sidebar {
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(246,246,246,1) 74%, rgba(233,233,233,1) 91%);
        .sidebar-menu {
            border: none;
            margin-top: 25px;
        }
    }
}


@media only screen and (max-width: 960px) {
    body {
        .topMenuBar {
        //    .menuBtnTop {
        //         display: flex;
        //     } 
            .logo-topmenu {
                padding-top: 45px;
            }
            // >.p-menubar {
            //     display: none;
            // }
            .profile {
                padding-top: 20px;
            }
        }
    }
}