@import '../themes/theme-dark';
@import '../themes/theme-light';
@import '../themes/theme-blue';

@mixin themable($theme-name, $theme-map) {
    .#{$theme-name} {
        .menu-topbar {
            background: map-get($theme-map, "topBar");
            .p-menubar:not(.p-menubar-mobile-active) {
                > .p-menubar-root-list {
                    .p-menuitem-text, .p-submenu-icon {
                        color: map-get($theme-map, "fgdColor");
                    }
                    > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover,
                    > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover,
                    > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) {
                        background: map-get($theme-map, "topBar");
                        color: map-get($theme-map, "fgdColor");
                    }
                    > .p-menuitem, >.p-menubar-root-list > .p-menuitem-active {
                        >.p-menuitem-link {
                            &:hover {
                                .p-menuitem-text, .p-submenu-icon {
                                    color: map-get($theme-map, "hover");
                                }
                            }
                        }
                    }
                }
            }
            .menu-toggler {
                color: map-get($theme-map, "fgdColor");
                &:hover {
                    color:map-get($theme-map, "hover");
                    cursor: pointer;
                }
            }

        }
    }
}

@include themable('dark', $theme-dark);
@include themable('light', $theme-light);
@include themable('blue', $theme-blue);

body {
    .menu {
        :focus {
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
        }
        .menu-topbar {
            height: 70px;
            display: flex;
            align-items: center;
            width: 100%;
            position: fixed;
            z-index: 20;
            .menu-logo-wrapper {
                background: rgb(232,232,232);
                background: linear-gradient(270deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
                width: 240px;
                display: flex;
                height: 70px;
                padding: 0 25px;
                position: fixed;
                .menu-logo {
                    width: 190px;
                    height: 40px;
                    border-radius: 5%;
                    align-self: center;
                }
                border-bottom: 1px solid;
                border-color: var(--menuBorderColor);
                &.menu-collapsed {
                    width: 80px;
                    padding: 0 10px;
                    .menu-logo {
                        width: 60px;
                        height: unset;
                    }
                }
            }
            .menu-upper {
                display: flex;
                flex-grow: 1;
                flex-basis: auto;
                align-items: center;
                margin-left: 240px;
                &.upper-collapsed {
                    margin-left: 80px;
                }
            }
            .menu-toggler {
                padding: 0 10px;
                font-size: 25px;
                transition: none;
            }
            .menu-screen-title {
                color:white;
                font-size: 22px;
                font-weight: bold;
            }
            .profile-menu {
                display: flex;
                flex-direction: row;
                flex-flow: nowrap;
                align-items: center;
                height: 100%;
                margin-left: auto;
                padding-right: 10px;
                .p-menubar {
                    padding: 0;
                    border: none;
                    background: transparent;
                    .p-menubar-root-list {
                        .p-submenu-list {
                            width: 100%;
                            .p-menuitem-text {
                                color: #333333
                            }
                        }
                    }
                    .profile-image{
                        background-size: 40px 40px;
                        display: inline-block;
                        min-width: 40px !important;
                        min-height: 40px !important;
                        border-radius: 50%;
                    }
                    .profile-image-null {
                        background: white;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .menu-panelmenu-wrapper {
            position: fixed;
            height: 100%;
            width: 240px;
            padding-top: 70px;
            background: white;
            z-index: 10;
            border-right: 1px solid;
            border-color: var(--menuBorderColor);
            overflow-y: auto;
            overflow-x: hidden;
            &.transition-disable-overflow {
                overflow: hidden;
            }
            &::-webkit-scrollbar {
                width: 7px;
            }
            &::-webkit-scrollbar-button:start:decrement {
                height: 70px;
            }
            &::-webkit-scrollbar-track {
                background: white; 
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(230, 230, 230);
                border-radius: 10px;
                &:hover {
                    background: rgb(202, 202, 202);
                }
            }
            .p-panelmenu {
                .p-panelmenu-header {
                    > a {
                        .p-panelmenu-icon {
                            position: absolute;
                            left: 200px;
                            order: 1;
                            margin-left: 0.5rem;
                            margin-right: 0;
                        }
                    }
                    .p-panelmenu-header-link {
                        background: white;
                        border: none;
                        color: #495057;
                        &:hover {
                            color: black;
                        }
                        .p-menuitem-text {
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                    &.p-highlight {
                        
                        > a {
                            color: black;
                            background: white;
                        }
                    }
                }
                .p-panelmenu-content {
                    border: none;
                    .p-menuitem-link {
                        padding: 0.857rem 0.857rem 0.857rem 1.5rem;
                        .p-menuitem-icon, .p-menuitem-text {
                            color: #495057;
                        }
                        &:hover {
                            .p-menuitem-icon, .p-menuitem-text {
                                color: black;
                            }
                        }
                    }
                }
            }
            .menu-logo-mini-wrapper {
                display: flex;
                padding-left: 0.857rem;
                align-items: center;
                .menu-logo-mini {
                    max-height: 0px;
                    transition: max-height 0.5s ease-out;
                }
            }
            .fadeout {
                height: 100%;
                margin-top: 70px;
                position: absolute;
                width: 20px;
                top: 0;
                left: 60px;
                background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); 
                background-image: linear-gradient(90deg,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
                -webkit-animation: fadein 1s;
                -moz-animation: fadein 1s;
                 -ms-animation: fadein 1s;
                  -o-animation: fadein 1s;
                     animation: fadein 1s;
            }
        }
        .menu-collapsed {
            width: 80px;
            overflow: hidden;
            .p-panelmenu .p-panelmenu-header > a {
                padding: 0.857rem 0.2rem 0.857rem 1rem;
            }
        }
        .menu-panelmenu-wrapper, .menu-topbar .menu-upper, .menu-topbar .menu-logo-wrapper, .menu-topbar .menu-logo-wrapper .menu-logo {
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
        } 

    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideout {
    from { max-width: 80px; }
    to   { max-width: 0px; }
}

@-moz-keyframes slideout {
    from { max-width: 80px; }
    to   { max-width: 0px; }
}

@-webkit-keyframes slideout {
    from { max-width: 80px; }
    to   { max-width: 0px; }
}

@-ms-keyframes slideout {
    from { max-width: 80px; }
    to   { max-width: 0px; }
}

@-o-keyframes slideout {
    from { max-width: 80px; }
    to   { max-width: 0px; }
}


@media screen and (max-width: 960px) {
    body { 
        .menu {
            .menu-topbar {
                .profile-menu {
                    .p-menubar {
                        .p-menubar-button {
                            display: none;
                        }
                        .p-menubar-root-list {
                            position:initial;
                            display: initial;
                            background: initial;
                            border: initial;
                            -webkit-box-shadow: initial;
                            box-shadow: initial;
                            padding: initial;
                            width: initial;
                            .p-submenu-list {
                                position: absolute;
                                width: 100%;
                                -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
                                box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
                                border: 1px solid #c8c8c8;
                                li {
                                    a {
                                        padding-left: 0.857rem;
                                    }
                                }
                            }
                            >.p-menuitem {
                                >.p-menuitem-link {
                                    >.p-submenu-icon {
                                        margin-left: 0.5rem;
                                    }
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        .menu {
            .menu-topbar {
                .menu-logo-wrapper {
                    visibility: hidden;
                    width: 0px;
                    padding:0;
                    &.menu-collapsed, &.menu-hover {
                        width: 0px;
                        padding:0;
                    }
                    .menu-logo {
                        height: unset;
                        width: 0px;
                    }
                }
                .upper-collapsed.upper-collapsed {
                    margin-left: 0px;
                }
                .profile-menu {
                    padding-right: 0;
                    .p-menubar {
                        .p-menubar-root-list {
                            .p-submenu-list {
                                left: -90px;
                                width: 150px;
                            }
                            >.p-menuitem {
                                >.p-menuitem-link {
                                    .p-menuitem-icon {
                                        margin-right: 0;
                                    }
                                    .p-menuitem-text {
                                        display: none;
                                    }
                                    >.p-submenu-icon {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .menu-panelmenu-wrapper {
                &.menu-hover {
                    .menu-logo-mini-wrapper {
                        width: 190px;
                    }
                }
                &.menu-collapsed {
                    .menu-logo-mini-wrapper {
                        .menu-logo-mini{
                            width: 60px;
                        }
                    }
                }
                .menu-logo-mini-wrapper {
                    height: 60px;
                    .menu-logo-mini {
                        width: 190px;
                        max-height: 60px;
                        -webkit-transition: 0.5s ease-in-out;
                        -moz-transition: 0.5s ease-in-out;
                        -o-transition: 0.5s ease-in-out;
                        transition: 0.5s ease-in-out;
                    }
                }
                .fadeout {
                    margin-top: 130px;
                }
            }
        }
    }
}