@import '../scssmixin/scrollbar.scss';
// @import '../themes/theme-dark';
// @import '../themes/theme-light';
// @import '../themes/theme-blue';

// @mixin themable($theme-name, $theme-map) {
//     .#{$theme-name} {
//         .menu-topbar {
//             .p-menubar:not(.p-menubar-mobile-active) {
//                 > .p-menubar-root-list {
//                     .p-menuitem-text, .p-submenu-icon {
//                         color: map-get($theme-map, "fgdColor");
//                     }
//                     > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover,
//                     > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover,
//                     > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) {
//                         background: map-get($theme-map, "topBar");
//                         color: map-get($theme-map, "fgdColor");
//                     }
//                     > .p-menuitem, >.p-menubar-root-list > .p-menuitem-active {
//                         >.p-menuitem-link {
//                             &:hover {
//                                 .p-menuitem-text, .p-submenu-icon {
//                                     color: map-get($theme-map, "hover");
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//             .menu-toggler {
//                 color: map-get($theme-map, "fgdColor");
//                 &:hover {
//                     color:map-get($theme-map, "hover");
//                     cursor: pointer;
//                 }
//             }

//         }
//     }
// }

// @include themable('dark', $theme-dark);
// @include themable('light', $theme-light);
// @include themable('blue', $theme-blue);

/// Css-Class Variables
/// Position and display for topbar elements.
%topbar-pos-dis {
    position: fixed;
    display: flex;
    height: var(--menuHeight);
}

/// Styling for profile image in menubar
%profile-image {
    width: 40px;
    height: 40px;
    border-radius: 25%;
}

/// Mixin for menu-transitions
@mixin menuTransitions() {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/// No blue borders on focus
.menu {
    :focus {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
}

/// Topbar styling
.menu-topbar {
    @extend %topbar-pos-dis;
    z-index: 20;
    align-items: center;
    width: 100%;
    background: var(--menuTopBar);
}

/// When menu is collapsed
.menu-collapsed {
    /// Set new widths and hide overflow because menu overflows on y axis
    .menu-logo-wrapper, .menu-panelmenu-wrapper {
        width: var(--menuCollapsedWidth);
        overflow: hidden;
        .menu-logo {
            width: var(--menuLogoCollapsedWidth);
        }
    }
    /// Set margin to adapt to new widths
    .menu-upper {
        margin-left: var(--menuCollapsedWidth);
    }
    .menu-logo-mini {
        width: var(--menuLogoCollapsedWidth);
    }
}

/// Styling topbar-logo-wrapper
.menu-logo-wrapper {
    @extend %topbar-pos-dis;
    @include menuTransitions();
    width: var(--menuWidth);
    justify-content: center;
    background: var(--menuLogoBgdColor);
    background: var(--menuLogoBgdColorGrad);
    border-bottom: 1px solid var(--menuBorderColor);
}

/// Align to center, so logo is properly positioned and other styling
.menu-logo {
    @include menuTransitions();
    align-self: center;
    width: var(--menuLogoWidth);
    border-radius: 5%;
    max-height: var(--menuLogoHeight);
    object-fit: contain;
}

/// Styling for top bar part next to logo, flex-grow, so the profile is on the far right
.menu-upper {
    @include menuTransitions();
    margin-left: var(--menuWidth);
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.menu-upper-left, .menu-upper-right {
    display: flex;
    align-items: center;
}

.p-button.p-button-icon-only.menu-upper-buttons {
    width: var(--menuButtonsBig);
    height: var(--menuButtonsBig);
    flex: 1;
    background-color: initial;
    color: var(--menuFgdColor);
    border: 0;
    border-radius: 4px;
    margin-right: 0.5rem;
    &:hover {
        background-color: #454b52;
    }
    .pi, .fa {
        font-size: 1.5rem;
    }
}

/// Menu-screen-title styling
.menu-screen-title {
    color: var(--menuFgdColor);
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

/// Margin-left, so the profile is on the far right
.profile-menu {
    margin-right: 10px;
    border-left: 2px solid rgb(60, 66, 73);

    
    .p-menubar  {
        .p-menubar-root-list >.p-menuitem >.p-menuitem-link {
            display: flex;
            padding: 0.5rem 1rem;
            justify-content: flex-end;
            height: var(--profileMenuHeight);
        }

        .p-submenu-list {
            left: -45px;
        }

        .p-menubar-root-list >.p-menuitem >.p-menuitem-link {
            .p-menuitem-text {
                opacity: 1;
                max-width: 140px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: max-width 0.5s, opacity 0.5s ease-out;
            }
            .p-submenu-icon {
                opacity: 1;
                max-width: 16px;
                transition: max-width 0.5s, opacity 0.5s ease-out;
            }
        } 
    }
}

.p-menubar {
    /// Removes default primereact menubar style
    padding: 0;
    border: none;
    background: var(--menuTopBar);

    .p-menubar-root-list {
        >.p-menuitem, >.p-menuitem.p-menuitem-active {
            /// Sets menubar style on hover and active for text, subicon color and background
            > .p-menuitem-link:not(.p-disabled) {
                background: var(--menuTopBar);
                color: var(--menuFgdColor);
                margin-left: 4px;
                .p-menuitem-text, .p-submenu-icon {
                    color: var(--menuFgdColor);
                }
                &:hover {
                    background: #454b52;
                    color: var(--menuFgdColor);
                    .p-menuitem-text, .p-submenu-icon {
                        color: var(--menuFgdColor);
                    }
                }
            }
        }
    }

    .p-submenu-list {
        z-index: 10;
    }
}

/// Profile-image styling
.profile-image {
    @extend %profile-image;
    background-size: 40px 40px;
    background-image: var(--profileImage);
}
.profile-image-null {
    @extend %profile-image;
    background: var(--menuProfileBgdColor);
    text-align: center;
    &::before {
        font-size: 38px;
    }
}

/// Panelmenu-wrapper styling & positioning
.menu-panelmenu-wrapper {
    @include menuTransitions();
    @include styledScrollbarPanel();
    position: fixed;
    padding-top: var(--menuHeight);
    z-index: 10;
    height: 100%;
    width: var(--menuWidth);
    border-right: 1px solid var(--menuBorderColor);
    overflow-x: hidden;
    background: var(--menuPanelWrapperBgd)
}

/// Logo in Menu should only be displayed when screen < 600px, transition for smoothness
.menu-logo-mini-wrapper, .menu-logo-mini {
    @include menuTransitions();
}

.menu-logo-mini-wrapper {
    display: flex;
    align-items: center;
    height: 0;
    padding-left: var(--menuCollapsePaddingLeft);
}

.menu-logo-mini {
    max-height: 0px;
    width: var(--menuLogoWidth);
}

/// Fadeout div for not readable text if collapsed
.fadeout {
    @include menuTransitions();
    position: absolute;
    top: 0;
    left: var(--menuFadeoutLeft);
    width: var(--menuFadeoutWidth);
    margin-top: var(--menuHeight);
    height: 100%;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); 
    background-image: linear-gradient(90deg,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

/// Panelmenu styling, nesting needed because primereact nesting
.p-panelmenu {
    .p-panelmenu-header {
        > a {
            padding: 1rem 1rem 1rem 10px;

            //Positioning of menu-arrow
            .p-panelmenu-icon {
                position: absolute;
                left: calc(var(--menuWidth) - 30px);
                margin-right: 0;
            }
        }
        &:not(.p-highlight):not(.p-disabled) > a:hover {
            color: var(--menuPanelHeaderColorHover);
        }
        .p-panelmenu-header-link {
            background: var(--menuPanelHeaderBgd);
            border: none;
            color: var(--menuPanelHeaderColor);
            &:hover {
                color: var(--menuPanelHeaderColorHover);
            }
            /// When text is longer don't break
            .p-menuitem-text {
                white-space: nowrap;
            }
        }
        /// Selected menupoint styling
        &.p-highlight {
            > a, &:not(.p-disabled) > a:hover {
                background: var(--menuPanelHeaderBgd);
                color: var(--menuPanelHeaderColorHover);
            }
        }
    }
    .p-panelmenu-content {
        border: none;
        .p-menuitem {
            /// Menu sub points little more to the right
            .p-menuitem-link:not(.p-disabled) {
                padding: 0.75rem 0.75rem 0.75rem 1.5rem;
                &:hover {
                    .p-menuitem-icon, .p-menuitem-text {
                        color: var(--menuPanelHeaderColorHover);
                    }
                }
            }
        }
    }

    .p-panelmenu-content .p-menuitem.p-menuitem--active {
        .p-menuitem-link {
            .p-menuitem-text, .p-menuitem-icon {
                color: var(--menuPanelActiveItemColor);
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .p-menubar {
        /// Primereact wants to show a button instead of the menu we don't want that
        .p-menubar-button {
            display: none;
        }
        /// Initial to undo Primereact changes
        .p-menubar-root-list {
            position:initial;
            display: inline-block;
            -webkit-box-shadow: initial;
            box-shadow: initial;
            padding: initial;
            background: var(--menuTopBar);

            >.p-menuitem {
                background-color: var(--menuTopBar);
                width: initial;
            }

            >.p-menuitem > .p-menuitem-link > .p-submenu-icon {
                margin-left: 0.5rem;
                font-size: 1rem;
            }

            /// Submenu styling needed because primereact button menu looks different we have to redesign
            .p-submenu-list {
                position: fixed;
                -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
                box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
                border: 1px solid #c8c8c8;
                width: 12.5rem;
                top: calc(var(--profileMenuHeight) + var(--cMenuHeight));
                li {
                    a {
                        padding: 0.75rem;
                    }
                }
            }
        }
    }

    .profile-menu {
        margin-right: 0;

        /// In mini mode, Primereacts submenu position needs to be corrected and don't display name and submenu arrow
        .p-menubar {
            .p-menubar-root-list {
                .p-submenu-list {
                    position: absolute;
                    width: 10rem;
                    left: -96px;
                    top: unset;
                }
                >.p-menuitem {
                    >.p-menuitem-link {
                        width: unset;
                        .p-menuitem-icon {
                            margin-right: 0;
                        }
                        .p-menuitem-text, .p-submenu-icon {
                            opacity: 0;
                            max-width: 0px;
                            margin-left: 0;
                            transition: max-width 0.5s, opacity 0.5s ease-out;
                        }
                    }
                    >.p-menuitem-link:not(.p-disabled), &.p-menuitem-active >.p-menuitem-link:not(.p-disabled) {
                        padding: 0.5rem 0.625rem
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    /// Don't show the logo wrapper ever, width 0 for transition
    .menu-logo-wrapper {
        &, .menu-collapsed & {
            visibility: hidden;
            width: 0px;
            .menu-logo {
                width: 0px;
            }
        }
    }

    /// Colored part of menu always on the left side
    .menu-upper {
        &, .menu-collapsed & {
            margin-left: 0px;
        }
    }

    /// Show logo-mini-wrapper
    .menu-logo-mini-wrapper {
        height: var(--menuLogoHeight);
    }

    /// Mini logo displaying and styling
    .menu-logo-mini {
        @include menuTransitions();
        width: var(--menuLogoWidth);
        max-height: var(--menuLogoHeight);
    }

    /// Fadeout position needs to be adjusted.
    .fadeout {
        margin-top: calc(var(--menuHeight) + var(--menuLogoHeight));
    }

    .menu-collapsed.no-mini {
        .menu-logo-wrapper, .menu-panelmenu-wrapper {
            width: 0px;
            overflow: hidden;
            .menu-logo {
                width: 0px;
            }
        }
    }

    .p-button.p-button-icon-only.menu-upper-buttons {
        width: 40px;
        height: 40px;
    }
}

/// Animation for fadeout div
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}