@import '../scssutil/scrollbar.scss';
@import '../scssutil/variables.scss';

:root {
    /// Menu-width when extended
    --s-menu-width: 240px;

    /// Menu-width when collapsed
    --s-menu-collapsed-width: 80px;
    
    /// Header height
    --s-menu-header-height: 70px;

    /// Logo width when expanded
    --s-menu-logo-width: 190px;
    
    /// Logo width when collapsed
    --s-menu-logo-collapsed-width: 60px;
        
    /// Logo height
    --s-menu-logo-max-height: 60px;

    /// profilemenu height
    --s-menu-profile-height: 60px;

    /// Profile-menu seperator margin
    --s-menu-profile-seperator-margin: 4px;

    /// Profile sub-menu width when mini
    --s-menu-profile-mini-sub-width: 10rem;

    --s-menu-profile-mini-size: 60px;

    /// Menu buttons big height
    --s-menu-buttons-full: 60px;

    /// Menu buttons small height
    --s-menu-buttons-small: 2.5rem;

    /// Hover background for buttons
    --s-menu-buttons-hover-background: #454b52;
    
    /// Foreground of topbar
    --s-menu-color: white;

    /// Color for menu borders
    --s-menu-border-color: rgba(120,130,140,.13);
    
    /// Background for each panel of panelmenu
    --s-menu-panelmenu-header-background: #fafafa;
    
    /// Foreground color for each panel of panelmenu
    --s-menu-panelmenu-header-color: #495057;
    
    /// Foreground color when a panel is hovered or active
    --s-menu-panelmenu-header-color-hover: black;

    /// Fadeout width, fadeout: when menu is collapsed the text gets faded out with a gradient from right to left
    --s-menu-fadeout-width: 20px;
    
    /// Fadeout positioning
    --s-menu-fadeout-left: calc(var(--s-menu-collapsed-width) - var(--s-menu-fadeout-width));
}

/// Mixin for menu-transitions
@mixin menuTransitions() {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/// No blue borders on focus
.menu {
    :focus {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
}

/// Topbar styling
.menu-header {
    position: fixed;
    display: flex;
    height: var(--s-menu-header-height);
    z-index: 20;
    align-items: center;
    width: 100%;
    background: var(--default-menu-header-background);
}

/// When menu is collapsed
.menu-collapsed {
    /// Set new widths and hide overflow because menu overflows on y axis
    .menu-logo-wrapper, .menu-panelmenu-wrapper {
        width: var(--s-menu-collapsed-width);
        overflow: hidden;
        .menu-logo {
            width: var(--s-menu-logo-collapsed-width);
        }
    }
    /// Set margin to adapt to new widths
    .menu-topbar {
        margin-left: var(--s-menu-collapsed-width);
    }
    .menu-logo-mini {
        width: var(--s-menu-logo-collapsed-width);
    }
}

/// Styling topbar-logo-wrapper
.menu-logo-wrapper {
    @include menuTransitions();
    position: fixed;
    display: flex;
    height: var(--s-menu-header-height);
    width: var(--s-menu-width);
    justify-content: center;
    align-items: center;
    background: rgb(232,232,232);
    background: linear-gradient(270deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
    border-bottom: 1px solid var(--s-menu-border-color);
}

/// Align to center, so logo is properly positioned and other styling
.menu-logo {
    @include menuTransitions();
    align-self: center;
    width: var(--s-menu-logo-width);
    max-height: var(--s-menu-logo-max-height);
    object-fit: contain;
}

/// Styling for top bar part next to logo, flex-grow, so the profile is on the far right
.menu-topbar {
    @include menuTransitions();
    margin-left: var(--s-menu-width);
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.menu-topbar-left, .menu-topbar-right {
    display: flex;
}

.menu-topbar-left {
    align-items: center;
}

.menu-topbar-right {
    align-items: center;
}

.p-button.p-button-icon-only.menu-topbar-buttons {
    width: var(--s-menu-buttons-full);
    height: var(--s-menu-buttons-full);
    flex: 1;
    background-color: transparent;
    color: var(--s-menu-color);
    border: 0;
    border-radius: 4px;
    margin-right: 0.5rem;
    &:hover {
        background-color: var(--s-menu-buttons-hover-background);
    }
    .pi, .fa {
        font-size: 1.5rem;
    }
}

/// Menu-screen-title styling
.menu-screen-title {
    @extend %ellipsis-overflow;
    color: var(--s-menu-color);
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}

.profile-menu {
    margin-right: 10px;
    border-left: 2px solid #5b6067;

    .p-menubar  {
        .p-menubar-root-list >.p-menuitem >.p-menuitem-link {
            height: var(--s-menu-profile-height);
        }

        .p-submenu-list {
            width: calc(100% - var(--s-menu-profile-seperator-margin));
            margin-left: var(--s-menu-profile-seperator-margin);
        }

        .p-menubar-root-list >.p-menuitem >.p-menuitem-link {
            .p-menuitem-text {
                @extend %ellipsis-overflow;
                max-width: 140px;
                transition: max-width 0.5s, opacity 0.5s ease-out;
            }
            .p-submenu-icon {
                opacity: 1;
                max-width: 16px;
                transition: max-width 0.5s, opacity 0.5s ease-out;
            }
        }

        .p-menuitem-text {
            line-height: unset;
        }
    }
}

.p-menubar {
    /// Removes default primereact menubar style
    padding: 0;
    border: none;
    background: var(--default-menu-header-background);

    .p-menubar-root-list {
        >.p-menuitem, >.p-menuitem.p-menuitem-active {
            /// Sets menubar style on hover and active for text, subicon color and background
            > .p-menuitem-link:not(.p-disabled) {
                background: var(--default-menu-header-background);
                color: var(--s-menu-color);
                margin-left: 4px;
                .p-menuitem-text, .p-submenu-icon {
                    color: var(--s-menu-color);
                }
                &:hover {
                    background: var(--s-menu-buttons-hover-background);
                    color: var(--s-menu-color);
                    .p-menuitem-text, .p-submenu-icon {
                        color: var(--s-menu-color);
                    }
                }
            }
        }
    }

    .p-submenu-list {
        z-index: 10;
    }
}

/// Profile-image styling
.profile-image, .profile-image-null {
    width: 40px;
    height: 40px;
    border-radius: 25%;
}

.profile-image {
    background-size: 40px 40px;
    background-image: var(--profileImage);
}
.profile-image-null {
    background: white;
    text-align: center;
    &::before {
        font-size: 38px;
    }
}

/// Panelmenu-wrapper styling & positioning
.menu-panelmenu-wrapper {
    @include menuTransitions();
    @include styledScrollbarPanel();
    position: fixed;
    padding-top: var(--s-menu-header-height);
    z-index: 10;
    height: 100%;
    width: var(--s-menu-width);
    border-right: 1px solid var(--s-menu-border-color);
    overflow-x: hidden;
    background: #fafafa
}

/// Logo in Menu should only be displayed when screen < 600px, transition for smoothness
.menu-logo-mini-wrapper, .menu-logo-mini {
    @include menuTransitions();
}

.menu-logo-mini-wrapper {
    display: flex;
    align-items: center;
    height: 0;
    padding-left: 10px;
}

.menu-logo-mini {
    max-height: 0px;
    width: var(--s-menu-logo-width);
}

/// Fadeout div for not readable text if collapsed
.fadeout {
    @include menuTransitions();
    position: absolute;
    top: 0;
    left: var(--s-menu-fadeout-left);
    width: var(--s-menu-fadeout-width);
    margin-top: var(--s-menu-header-height);
    height: 100%;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); 
    background-image: linear-gradient(90deg,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

/// Panelmenu styling, nesting needed because primereact nesting
.p-panelmenu {
    .p-panelmenu-header {
        > a {
            padding: 1rem 1rem 1rem 10px;

            //Positioning of menu-arrow
            .p-panelmenu-icon {
                position: absolute;
                left: calc(var(--s-menu-width) - 30px);
                margin-right: 0;
            }
        }
        &:not(.p-highlight):not(.p-disabled) > a:hover {
            color: var(--s-menu-panelmenu-header-color-hover);
        }
        .p-panelmenu-header-link {
            background: var(--s-menu-panelmenu-header-background);
            border: none;
            color: var(--s-menu-panelmenu-header-color);
            &:hover {
                color: var(--s-menu-panelmenu-header-color-hover);
            }
            /// When text is longer don't break
            .p-menuitem-text {
                white-space: nowrap;
            }
        }
        /// Selected menupoint styling
        &.p-highlight {
            > a, &:not(.p-disabled) > a:hover {
                background: var(--s-menu-panelmenu-header-background);
                color: var(--s-menu-panelmenu-header-color-hover);
            }
        }
    }
    .p-panelmenu-content {
        border: none;
        background: var(--s-menu-panelmenu-header-background);
        .p-menuitem {
            /// Menu sub points little more to the right
            .p-menuitem-link:not(.p-disabled) {
                padding: 0.75rem 0.75rem 0.75rem 1.5rem;
                &:hover {
                    .p-menuitem-icon, .p-menuitem-text {
                        color: var(--s-menu-panelmenu-header-color-hover);
                    }
                }
            }
        }
    }

    .p-panelmenu-content .p-menuitem.p-menuitem--active {
        .p-menuitem-link {
            .p-menuitem-text, .p-menuitem-icon {
                color: #2196F3;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .menu-topbar-right, .c-menu-profile {
        margin-right: 4px;
    }

    .p-menubar {
        /// Primereact wants to show a button instead of the menu we don't want that
        .p-menubar-button {
            display: none;
        }
        /// Initial to undo Primereact changes
        .p-menubar-root-list {
            position:initial;
            display: inline-block;
            -webkit-box-shadow: initial;
            box-shadow: initial;
            padding: initial;
            background: var(--default-menu-header-background);

            >.p-menuitem {
                background: var(--default-menu-header-background);
                width: initial;
            }

            >.p-menuitem > .p-menuitem-link > .p-submenu-icon {
                margin-left: 0.5rem;
                font-size: 1rem;
            }

            /// Submenu styling needed because primereact button menu looks different we have to redesign
            .p-submenu-list {
                position: fixed;
                -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
                box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
                border: 1px solid #c8c8c8;
                width: 12.5rem;
                li {
                    a {
                        padding: 0.75rem;
                    }
                }
            }
        }
    }

    .profile-menu {
        margin-right: 0;

        /// In mini mode, Primereacts submenu position needs to be corrected and don't display name and submenu arrow
        .p-menubar {
            .p-menubar-root-list {
                .p-submenu-list {
                    position: absolute;
                    width: var(--s-menu-profile-mini-sub-width);
                    left: calc(var(--s-menu-profile-mini-size) - var(--s-menu-profile-mini-sub-width));
                }
                >.p-menuitem {
                    >.p-menuitem-link {
                        width: unset;
                        .p-menuitem-icon {
                            margin-right: 0;
                        }
                        .p-menuitem-text, .p-submenu-icon {
                            opacity: 0;
                            max-width: 0px;
                            margin-left: 0;
                            transition: max-width 0.5s, opacity 0.5s ease-out;
                        }
                    }
                    >.p-menuitem-link:not(.p-disabled), &.p-menuitem-active >.p-menuitem-link:not(.p-disabled) {
                        width: var(--s-menu-profile-mini-size);
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    /// Don't show the logo wrapper ever, width 0 for transition
    .menu-logo-wrapper {
        &, .menu-collapsed & {
            visibility: hidden;
            width: 0px;
            .menu-logo {
                width: 0px;
            }
        }
    }

    /// Colored part of menu always on the left side
    .menu-topbar {
        &, .menu-collapsed & {
            margin-left: 0px;
        }
    }

    /// Show logo-mini-wrapper
    .menu-logo-mini-wrapper {
        height: var(--s-menu-logo-max-height);
    }

    /// Mini logo displaying and styling
    .menu-logo-mini {
        @include menuTransitions();
        width: var(--s-menu-logo-width);
        max-height: var(--s-menu-logo-max-height);
    }

    /// Fadeout position needs to be adjusted.
    .fadeout {
        margin-top: calc(var(--s-menu-header-height) + var(--s-menu-logo-max-height));
    }

    .menu-collapsed.no-mini {
        .menu-logo-wrapper, .menu-panelmenu-wrapper {
            width: 0px;
            overflow: hidden;
            .menu-logo {
                width: 0px;
            }
        }
    }

    .p-button.p-button-icon-only.menu-topbar-buttons {
        width: 40px;
        height: 40px;
    }

    .menu-toggler {
        min-width: 40px;
    }
}

/// Animation for fadeout div
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}