.rc-button {
    height: inherit;
    width: inherit;
    padding: 5px 10px 5px 10px;
    &.p-button-icon-only {
        width: unset;
        padding: unset;
    }
}

.border-notpainted, .border-notpainted:enabled:hover {
    background: transparent;
    border-color: transparent;
    color: black;
}

.border-notpainted:enabled:hover {
    border-color: black;
}

.p-button-label {
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}