.rc-button {
    height: inherit;
    width: inherit;
    padding: var(--btnPTB) var(--btnPLR);
    &.p-button-icon-only {
        width: inherit;
        padding: unset;
    }
}

.bright {
    color: white;
}

.dark {
    color: black;
}

.border-notpainted, .border-notpainted:enabled:hover {
    background: transparent;
    border-color: transparent;
    color: var(--btnNoBorderPaintedColor);
}

.border-notpainted:enabled:hover {
    border-color: var(--btnNoBorderPaintedColor);
}

.p-button-label {
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.p-button-icon-only {
    .rc-button-icon {
        margin: 0 !important;
    }
}