.rc-button {
    height: inherit;
    width: inherit;
    padding: var(--btnPTB) var(--btnPLR);
    &.p-button-icon-only {
        width: inherit;
        padding: var(--btnPTB) var(--btnPLR);
    }
    .p-button-icon-left {
        margin-right: 0;
    }
    .p-button-icon-right {
        margin-left: 0;
    }
}

.bright {
    color: white;
    &:enabled:hover {
        color: rgb(250, 250, 250);
    }
}

.dark {
    color: var(--standardTextColor);
    &:enabled:hover {
        color: black;
    }
}

.border-notpainted, .border-notpainted:enabled:hover {
    background: transparent;
    border-color: transparent;
    color: var(--btnNoBorderPaintedColor);
}

.border-notpainted:enabled:hover {
    border-color: var(--btnNoBorderPaintedColor);
}

.p-button-label {
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    flex: unset;
}

.p-button-icon-only {
    .rc-button-icon {
        margin: 0 !important;
    }
}