.jvxButton {
    display: inline-flex;
    height: inherit;
    width: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    .p-button-icon-left {
        margin-right: unset;
    }
    .p-button-icon-right {
        margin-left: unset;
    }
}

.p-button-icon-only {
    .p-button-label {
        display: none;
    }
}

.hyperlink {
    background-color: transparent !important;
    border-color: transparent !important;
    .p-button-label {
        color: black;
        &:hover {
            text-decoration: underline;   
        }
    }
}

.borderNotPainted, .borderNotPainted:enabled:hover {
    background-color: unset;
    border-color: unset;
    >.jvxButton-icon, >.p-button-label {
        color: black;
    }
}

.borderNotPainted:enabled:hover {
    >.p-button-label {
        text-decoration: underline;
    }
}

.p-button-label {
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}