:root {
    --icon: unset;
}

.jvxButton {
    display: inline-flex;
    height: inherit;
    width: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    .p-button-icon-left {
        margin-right: unset;
    }
    .p-button-icon-right {
        margin-left: unset;
    }
}

.p-button-icon-only {
    .p-button-label {
        display: none;
    }
}

.hyperlink {
    .p-button-label {
        color: black;
        &:hover {
            text-decoration: underline;   
        }
    }
}

.borderNotPainted {
    background-color: unset;
    border-color: unset;
}