@import '../../../../frontmask/scssmixin/buttonColors.scss';

.rc-togglebutton {
    --btnJustify: center;
    --btnAlign: center;
    --btnPadding: var(--btnPTB) var(--btnPLR);

    height: inherit;
    width: inherit;

    justify-content: var(--btnJustify);
    align-items: var(--btnAlign);
    padding: var(--btnPadding);

    .p-button-icon-left {
        margin-right: 0;
    }
    .p-button-icon-right {
        margin-left: 0;
    }

    @include toggleBtnHover;
}

.rc-inputswitch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.rc-inputswitch-label {
    margin-right: 4px;
}