@import '../../../../frontmask/scssutil/buttonColors.scss';

.rc-togglebutton {
    --btnJustify: center;
    --btnAlign: center;

    height: inherit;
    width: inherit;

    justify-content: var(--btnJustify);
    align-items: var(--btnAlign);
    padding: var(--btnPadding, 0.5rem 1rem);

    .p-button-icon-left {
        margin-right: 0;
    }
    .p-button-icon-right {
        margin-left: 0;
    }

    &.mouse-border {
        background: transparent;
        border-color: transparent;
    }

    @include toggleBtnHover;
}
