:root {
    --gauge-color__error: #DF5353;
    --gauge-color__warning: #DDDF0D;
    --gauge-color__ok: #55BF3B;
    --gauge-color__ticks: #000;
    --gauge-color__subticks: #999;
    --gauge-color__needle: #000;
    --gauge-color__ticklabels: #666;
    --gauge-color__border: #bbb;
    --gauge-gradient__top: #fff;
    --gauge-gradient__bottom: #ccc;
}

.ui-gauge {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        text-align: center;
        margin: 1.5rem 0;
    }
}

.ui-gauge-ring {
    width: 100%;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
    }

    &__label {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
}

.ui-gauge-arc {
    width: 100%;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
    }

    text {
        font-size: 7px;
        fill: #999;
    }

    &__label {
        position: absolute;
        text-align: center;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: bold;
    }
}

.ui-gauge-speedometer {
    width: 100%;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
        font-size: 5px;
    }

    &__label {
        fill: #666;
        font-size: 6px;
    }

    &__value {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        font-weight: bold;
        background: rgba(#fff, .2);
        border-radius: .25em;
        padding: .25em .5em;
        border: 1px solid var(--gauge-color__border);
    }
}

.ui-gauge-meter {
    width: 100%;
    position: relative;
    padding-bottom: 2em;

    svg {
        width: 100%;
        height: 100%;
        font-size: 5px;
    }

    &__label {
        fill: #666;
        font-size: 6px;
    }

    &__value {
        position: absolute;
        text-align: center;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: bold;
        background: #fff;
        border-radius: .25em;
        padding: .25em .5em;
        border: 1px solid #ddd;
    }
}