.ui-gauge {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        text-align: center;
        margin: 1.5rem 0;
    }
}

.ui-gauge-ring {
    width: 100%;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
    }

    &__label {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
}

.ui-gauge-arc {
    width: 100%;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
    }

    &__label {
        position: absolute;
        text-align: center;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: bold;
    }
}

.ui-gauge-speedometer {
    width: 100%;
    position: relative;

    svg {
        width: 100%;
        height: 100%;
    }

    &__label {
        position: absolute;
        text-align: center;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: bold;
    }
}