.rc-signature-pad {
    position: relative;
    width: 100%;
    height: 100%;
    
    canvas {
        width: 400px;
        height: 200px;
        border: 1px solid #ced4da;
        border-radius: var(--editor-border-radius);
    }

    .signature-pad-editing-locked {
        pointer-events: none;
    }

    &.sigpad-drawing {
        .signature-buttons {
            display: none;
        }
    }

    .signature-buttons {
        display: inline-block;
        position: absolute;
        bottom: 8px;
        right: 8px;

        .rc-button {
            width: 35px;
            height: 35px;

            &:last-child {
                margin-left: 0.25rem;
            }
        }
    }
}