.rc-signature-pad {
    position: relative;
    width: 100%;
    height: 100%;
    
    canvas {
        width: 400px;
        height: 200px;
        border: 1px solid #ced4da;
        border-radius: var(--editor-border-radius);
    }

    .signature-pad-editing-locked {
        pointer-events: none;
    }

    &.sigpad-drawing {
        .signature-header-buttons {
            display: none;
        }

        .signature-footer-buttons {
            display: none;
        }
    }

    .no-focus:focus {
        box-shadow: none;
    }

    .no-ripple .p-ink {
        display: none;
    }

    .no-click {
        cursor: default;
    }

    .signature-footer-buttons {
        display: flex;
        position: absolute;
        bottom: 8px;
        right: 8px;
        gap: 8px;
        z-index: 3;

        .rc-button {
            width: 35px;
            height: 35px;

            &:last-child {
                margin-left: 0.25rem;
            }
        }
    }
}

