#toast-error {
    .p-toast-message .p-toast-message-content .p-toast-message-text {
        margin: 0 0 0 2rem;
    }
}

#toast-info {
    opacity: 1;
    width: unset;
    .p-toast-message {
        border: none;
        color: unset
    }

    .p-toast-message-content {
        padding: 0;
    }

    .index-helper {
        display: flex;
        flex: 1;

        .toast-header {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;

            &.info {
                .toast-header-close {
                    &:hover {
                        border-radius: 50%;
                    }
                }
            }

            .toast-header-text {
                align-self: center;
                font-size: 1rem;
                font-weight: bold;
                margin-left: 0.5rem;
            }

            .toast-header-left {
                display: flex;
                .toast-header-icon {
                    font-size: 2rem;
                }
            }

            .toast-header-close {
                border: none;
                background: transparent;
                padding: 0.5rem;
                cursor: pointer;
            }
        }

        .toast-content {
            padding: 1.5rem 1rem;
            flex: 1;
        }

        .toast-footer {
            display: flex;
            padding: 0 0.5rem 0.5rem 0.5rem;

            &.single-button {
                justify-content: flex-end;
            }
        }
    }
}