#toastInfo {
    z-index: 3000 !important;
    opacity: 1;
    width: unset;
    .p-toast-message.p-toast-message {
        border: none;
        background:white;
        color: unset
    }

    .p-toast-message-content {
        padding: 0;
    }

    .index-helper {
        display: flex;
        flex: 1;

        .toast-header {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            color: white;

            &.info {
                background: #347fae;

                .toast-header-close {
                    color:white;

                    &:hover {
                        border-radius: 50%;
                        background: #276b96;
                    }
                }
            }

            &.warning {
                background: #ffcf40;

                .toast-header-text {
                    color: #926d00;
                }

                .toast-header-left .toast-header-icon {
                    color: #926d00;
                }

                .toast-header-close {
                    color: #926d00;

                    &:hover {
                        border-radius: 50%;
                        background: #ebbd35;                        
                    }
                }
            }

            &.error {
                background: #ff364a;

                .toast-header-close {
                    color: white;

                    &:hover {
                        border-radius: 50%;
                        background: #db2739;
                    }
                }
            }

            &.question {
                background: #17c0eb;

                .toast-header-close {
                    color: white;

                    &:hover {
                        border-radius: 50%;
                        background: #13aacf;
                    }
                }
            }

            .toast-header-text {
                align-self: center;
                font-size: 1rem;
                font-weight: bold;
                margin-left: 0.5rem;
            }

            .toast-header-left {
                display: flex;
                .toast-header-icon {
                    font-size: 2rem;
                }
            }

            .toast-header-close {
                border: none;
                background: transparent;
                padding: 0.5rem;
                cursor: pointer;
                color: #444444;
            }
        }

        .toast-content {
            padding: 1.5rem 1rem;
            flex: 1;
        }

        .toast-footer {
            display: flex;
            padding: 0 0.5rem 0.5rem 0.5rem;

            &.single-button {
                justify-content: flex-end;
            }

            &.more-buttons {
                justify-content: space-between;
            }
        }
    }
}