.p-togglebutton {
    &.p-button:not(.p-disabled):not(.p-highlight) {
        background: var(--btnDefaultBgd);
        border-color: var(--btnDefaultBgd);
        &.dark {
            color: var(--standardTextColor);
            &.p-button-icon-left, .p-button-icon-right {
                color: var(--standardTextColor);
            } 
        }
        &.bright {
            color: var(--btnColorBright);
            .p-button-icon-left, .p-button-icon-right {
                color: var(--btnColorBright);
            } 
        }
        &:hover {
            &.dark {
                .p-button-icon-left, .p-button-icon-right {
                    color: var(--standardTextColor);
                } 
            }
            &.bright {
                .p-button-icon-left, .p-button-icon-right {
                    color: white;
                } 
            }
        }
    }
    &.p-button.p-highlight, &.p-button.p-highlight:hover {
        border-color: var(--btnDefaultBgd);
        &.dark {
            color: black;
            .p-button-icon-left, .p-button-icon-right {
                color: black;
            }
        }
        &.bright {
            color: white;
            .p-button-icon-left, .p-button-icon-right {
                color: white;
            }
        }
    }
}

.rc-inputswitch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.rc-inputswitch-label {
    margin-right: 4px;
}