.p-togglebutton {
    &.p-button, &.p-button.p-highlight {
        background: #dadada;
        border-color: #dadada;
    }
    &.p-button.p-highlight {
        color: black;
        &:hover {
            color: black;
            .p-button-icon-left, .p-button-icon-right {
                color: black
            }
        }
        .p-button-icon-left, .p-button-icon-right {
            color: #666666
        }
    }
}

.jvx-inputswitch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.jvx-inputswitch-label {
    margin-right: 4px;
}