.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assests/Login.webP");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form{
  padding: 50px;
  background-color: rgba(235,235,235, 0.8);
  border-radius: 10px;
}

.login-button{
  width: 100%;
}