:root {
  /// -----Login Variables-----

  /// Login container background
  --login-container-background: rgba(255, 255, 255, 0.9);

  /// Login form width
  --login-form-width: 450px;

  /// Login form height
  --login-form-height: 360px;
  
  /// Half of the login form width used for positioning
  --login-form-left-position: calc(var(--login-form-width) / 2);
  
  /// Half of the login form height used for positioning
  --login-form-top-position: calc(var(--login-form-height) / 2);
  
  /// Login form top bottom padding
  --login-form-top-bottom-padding: 30px;
  
  /// Login form left right padding
  --login-form-left-right-padding: 40px;

  /// Login form border-radius
  --login-form-border-radius: 6px;

  /// Login form field margin
  --login-form-field-margin: 1.5rem;
  
  /// Login form gap between logo and inputfields
  --login-form-logo-gap: 1rem;

  /// Login form logo size.
  --login-logo-width: 100%;
  
  /// Login form logo background
  --login-logo-background: rgba(255, 255, 255, 0.65);
  
  /// Login inputfields placeholder color
  --login-placeholder-color: #bcc0c4;
}

.login-container {
  height: var(--main-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form{
  width: var(--login-form-width);
  height: var(--login-form-height);
  background: var(--login-container-background);  
  border-radius: var(--login-form-border-radius);

  .p-fluid {
    padding: var(--login-form-logo-gap) var(--login-form-left-right-padding) var(--login-form-top-bottom-padding);
    .lost-password-button {
      width: unset;
      padding: 0.5rem;
    }
  }
}

.login-logo-wrapper {
  padding: var(--login-form-top-bottom-padding) var(--login-form-left-right-padding) var(--login-form-logo-gap);
  border-top-right-radius: var(--login-form-border-radius);
  border-top-left-radius: var(--login-form-border-radius);
  background: var(--login-logo-background);
}

.login-logo {
  width: var(--login-logo-width);
}

.p-field {
  margin-bottom: var(--login-form-field-margin);
}

.p-float-label {
  label {
    color: var(--login-placeholder-color);
    line-height: unset;
  }
  /// Position and Size of floatlabel placeholder
  input:focus ~label, input.p-filled ~label, 
  textarea:focus ~label, textarea.p-filled ~label,
  .p-inputwrapper-focus ~label, .p-inputwrapper-filled ~label{
    top: 10px;
    font-size: 8px;
  }
}

.login-button{
  padding: 0.5rem;
  .p-button-icon-left {
    margin-right: -1rem;
  }
  .p-button-label {
    margin: auto;
  }
}

.remember-me-cbx {
  margin-right: 4px;
}

.login-extra-options {
  display: flex;
  justify-content: space-between;
  &.lost-password-enabled {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
  }
  &:not(.lost-password-enabled) {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }
}

.login-cbx-container {
  align-self: center
}

.login-container-with-desktop {
  height: var(--main-height);
  position: relative;
}

.login-form-position-wrapper {
  position: absolute;
  top: calc(50% - var(--login-form-top-position));
  left: calc(50% - var(--login-form-left-position));
}