.login-container{
  height: var(--mainHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form{
  width: var(--loginFormWidth);
  height: var(--loginFormHeight);
  text-align: center;
  background: var(--loginContainerBgd);  
  border-radius: 6px;

  .p-fluid {
    padding: var(--loginFormLogoGap) var(--loginFormLRPadding) var(--loginFormTBPadding);
    .lost-password-button {
      width: unset;
      padding: 0.5rem;
    }
  }
}

.login-logo-wrapper {
  padding: var(--loginFormTBPadding) var(--loginFormLRPadding) var(--loginFormLogoGap);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background: var(--loginLogoBgd);
}

.login-logo {
  width: 100%;
}

.p-field {
  margin-bottom: 1.5rem;
}

.p-float-label {
  label {
    color: var(--loginPlaceholderColor);
  }
  /// Position and Size of floatlabel placeholder
  input:focus ~label, input.p-filled ~label, 
  textarea:focus ~label, textarea.p-filled ~label,
  .p-inputwrapper-focus ~label, .p-inputwrapper-filled ~label{
    top: 10px;
    font-size: 8px;
  }
}

.login-button{
  padding: 0.5rem;
  .p-button-icon-left {
    margin-right: -1rem;
  }
  .p-button-label {
    margin: auto;
  }
}

.remember-me-cbx {
  margin-right: 4px;
}

.login-extra-options {
  display: flex;
  justify-content: space-between;
  &.lost-password-enabled {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
  }
  &:not(.lost-password-enabled) {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }
}

.login-cbx-container {
  align-self: center
}

.login-container-with-desktop {
  height: var(--mainHeight);
}

.login-form-position-wrapper {
  position: absolute;
  top: calc(50% - var(--loginFormHeightHalf));
  left: calc(50% - var(--loginFormWidthHalf));
}