@import '../scssutil/scrollbar.scss';

/// Darkmode Style
:root {
    /// Darkmode login background
    --dark-login-background: rgba(63, 75, 91, 0.93);

    /// Darkmode login logo background
    --dark-login-logo-background: #3f4b5b;

    /// Darkmode login inputfields placeholder color
    --dark-login-placeholder-color: #bcc0c4;

    /// Darkmode login box-shadow
    --dark-login-shadow: 5px 5px 45px 5px rgba(0,0,0,0.6);

    /// Darkmode client background
    --dark-background: #20262e;

    /// Darkmode background for topbar
    --dark-menu-header-background: #3f4b5b;

    /// Darkmode menu color
    --dark-menu-color: #ffffff;

    /// Darkmode menu border
    --dark-menu-border: 1px solid rgba(120,130,140,.13);

    /// Darkmode logo background
    --dark-logo-background: linear-gradient(270deg, #4f5966 0%, #3f4b5b 100%);

    /// Darkmode profile-menu seperator
    --dark-profile-seperator: 2px solid #5b6067;

    /// Darkmode topbar buttons background
    --dark-topbar-buttons-background: transparent;

    /// Darkmode topbar buttons hover background
    --dark-topbar-buttons-hover: #2a323d;

    /// Darkmode panel-menu background
    --dark-panelmenu-background: #2a323d;

    /// Darkmode panel-menu hover background
    --dark-panelmenu-hover-background: #222a33;

    /// Darkmode panel-menu color
    --dark-panelmenu-text-color: #d9d9d9;

    /// Darkmode panel-menu color hover
    --dark-panelmenu-hover-text-color: #ffffff;

    /// Darkmode color for active menuitem
    --dark-menu-activeitem-color: #2196F3;

    /// Darkmode background for corporation menu speeddial
    --dark-speeddial-background: #ffffff;

    /// Darkmode color for corporation menu speeddial
    --dark-speeddial-color: #495057;

    /// Darkmode shadow for corporation menu speeddial
    --dark-speeddial-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.20);

    /// Darkmode menubar submenu background
    --dark-menubar-submenu-background: #3f4b5b;

    /// Darkmode menubar items hover background
    --dark-menubar-items-hover-background: #303a48;

    /// Darkmode menubar item hover
    --dark-menubar-item-hover: #2a323d;

    /// Darkmode button color
    --dark-button-color: #205e8f;

    /// Darkmode component background
    --dark-component-background: #2a323d;

    /// Darkmode component border
    --dark-component-border: 1px solid #3f4b5b;

    /// Darkmode text color
    --dark-text-color: rgba(255, 255, 255, 0.87);

    /// Darkmode checkbox, radiobutton selected outer color
    --dark-selected-rb-cb-outer-color: #2196f3;

    /// Darkmode checkbox, radiobutton selected outer hover color
    --dark-selected-rb-cb-outer-hover-color: #0b7ad1;

    /// Darkmode checkbox, radiobutton selected inner color
    --dark-selected-rb-cb-inner-color: #151515;

    /// Darkmode toolbar background
    --dark-toolbar-background: #303a48;

    /// Darkmode toolbar border
    --dark-toolbar-border: 1px solid #3f4b5b;

    /// Darkmode table-header background
    --dark-table-header-background: #20262e;

    /// Darkmode table-header border
    --dark-table-header-border: 1px solid #3f4b5b;

    /// Darkmode table selected row background
    --dark-table-selected-row-background: linear-gradient(to bottom, rgba(27, 135, 227, 0.5) 2%, rgba(22, 110, 213, 0.5) 98%) !important;

    /// Darkmode table-row background for odd rows
    --dark-table-row-odd-background: #2a323d;

    /// Darkmode table-row background for even rows
    --dark-table-row-even-background: #272c33;

    /// Darkmode background when hovering a table/linked row
    --dark-table-hover-background: #303a48;

    /// Darkmode table-row border
    --dark-table-row-border: 1px solid #3f4b5b;

    /// Darkmode cell hover color
    --dark-table-cell-hover-color: rgb(131, 131, 131);

    /// Darkmode cell font color when a cell is required
    --dark-table-required-color: #495057;

    /// Darkmode LinkedCellEditor panel background
    --dark-linked-panel-background: #3f4b5b;

    /// Darkmode LinkedCellEditor item hover background
    --dark-linked-item-hover-background: #303a48;

    /// Darkmode overlay background for popupmenubuttons
    --dark-popupmenubutton-overlay-background: #3f4b5b;

    /// Darkmode popupmenu item hover background
    --dark-popupmenubutton-item-hover: #303a48;

    /// Darkmode DateCellEditor panel background
    --dark-date-panel-background: #3f4b5b;

    /// Darkmode DateCellEditor header border
    --dark-date-panel-header-border: 1px solid #2a323d;

    /// Darkmode color when hovering over a day to select
    --dark-date-panel-hover-color: #495057;

    /// Darkmode Dialog header background
    --dark-dialog-header-background: #3f4b5b;

    /// Darkmode 'x' color when hovering
    --dark-dialog-icon-hover-color: #495057;

    /// Darkmode Dialog background
    --dark-dialog-content-background: #20262e;

    /// Darkmode TabSet navbar background
    --dark-tab-navbar-background: #3f4b5b;

    /// Darkmode TabSet navbar border
    --dark-tab-navbar-border: 1px solid #3f4b5b;

    /// Darkmode border and color of a selected tab
    --dark-tab-selected-color: #2196fe;

    /// Darkmode TabSet hover background
    --dark-tab-hover-background: #20262e;

    /// Darkmode TabSet border color
    --dark-tab-border-color: var(--dark-text-color);

    /// Darkmode Tree background
    --dark-tree-background: #20262e;

    /// Darkmode Tree border
    --dark-tree-border: 1px solid #2a323d;

    /// Darkmode Tree item hover background
    --dark-tree-item-hover-background: #303a48;

    /// Darkmode Tree selected item background
    --dark-tree-selected-item-background: #3f4b5b;

    /// Darkmode HTMLEditor toolbar background
    --dark-html-toolbar-background: #3f4b5b;

    /// Darkmode HTMLEditor toolbar border
    --dark-html-toolbar-border: 1px solid #2a323d;

    /// Darkmode HTMLEditor button hover colors
    --dark-html-toolbar-button-hover-background: rgba(255, 255, 255, 0.7);

    /// Darkmode HTMLEditor picker expanded background
    --dark-html-picker-expanded-background: #2a323d;

    /// Darkmode HTMLEditor picker item hover background
    --dark-html-picker-item-hover-background: #303a48;

    /// Darkmode Message info background
    --dark-message-info-header-background: var(--dark-button-color);

    /// Darkmode Message info hover background of closing element
    --dark-message-info-header-close-hover: #276b96;

    /// Darkmode Message warning background
    --dark-message-warning-header-background: #ffcf40;

    /// Darkmode Message warning hover background of closing element
    --dark-message-warning-header-close-hover: #ebbd35;

    /// Darkmode Message error background
    --dark-message-error-header-background: #B00020;

    /// Darkmode Message error hover background of closing element
    --dark-message-error-header-close-hover: #a20d1b;

    /// Darkmode Message question background
    --dark-message-question-header-background: #018786;

    /// Darkmode Message question hover background of closing element
    --dark-message-question-header-close-hover: #017372;

    /// Darkmode error-dialog background
    --dark-error-dialog-background: rgba(32, 38, 46, 0.8);

    /// Darkmode loading-screen background left
    --dark-loading-screen-left-background: #20262e;

    /// Darkmode loading-screen background right
    --dark-loading-screen-right-background: #3f4b5b;

    /// Darkmode loading-screen spinner colors
    --dark-loading-spinner-color-1: #b3ec23;

    --dark-loading-spinner-color-2: #95c41f;

    --dark-loading-spinner-color-3: #8bb61d;

    --dark-loading-spinner-color-4: #80a818;

    /// Darkmode tab close button color
    --dark-tab-close-color: #cdcfd1;

    /// Darkmode focus border/shadow
    --dark-focus-box-shadow: 0 0 0 0.2rem #93cbf9;

    /// Darkmode hover border-color
    --dark-border-color-hover: #2196fe;

    /// Darkmode border-radius for login
    --dark-login-border-radius: 6px;

    /// Darkmode border-radius for buttons
    --dark-button-border-radius: 3px;

    /// Darkmode border-radius for editors
    --dark-editor-border-radius: 3px;

    /// Darkmode border-radius for DatePicker panel
    --dark-date-border-radius: 3px;

    /// Darkmode border-radius for LinkedCellEditor panel
    --dark-linked-border-radius: 3px;

    /// Darkmode border-radius for Tables/Trees
    --dark-table-border-radius: 0px;

    /// Darkmode border-radius for tabset navbar
    --dark-tab-border-radius: 0px;

    /// Darkmode border-radius for Dialogs
    --dark-dialog-border-radius: 0px;

    /// Darkmode border-radius for toolbars which are NOT part of navigation-tables
    --dark-toolbar-border-radius: 0px;
}

body.dark {
    background: var(--dark-background);
    color: var(--dark-text-color);
}

/// *----------Login----------*
.login-form {
    background: var(--dark-login-background);
    border-radius: var(--dark-login-border-radius);

    .p-float-label label {
        color: var(--dark-login-placeholder-color);
    }
}

.login-logo-wrapper {
    background: var(--dark-login-logo-background);
}

.login-form-position-wrapper {
    border-radius: var(--dark-login-border-radius);
    box-shadow: var(--dark-login-shadow);
}

/// *----------General-Header----------*
.menu-header {
    background: var(--dark-menu-header-background);
}

.p-button.p-button-icon-only.menu-topbar-buttons {
    background: var(--dark-topbar-buttons-background);
    color: var(--dark-menu-color);
    border-radius: var(--dark-button-border-radius);

    &:hover {
        background: var(--dark-topbar-buttons-hover);
    }
}

.menu-screen-title {
    color: var(--dark-menu-color);
}

/// *----------Standard-Menu----------*
.menu-logo-wrapper {
    background: var(--dark-logo-background);
    border-bottom: var(--dark-menu-border);
}

.menu-panelmenu-wrapper {
    background: var(--dark-panelmenu-background);
    @include styledScrollbarPanelDark();
}

.p-panelmenu {
    .p-panelmenu-header {
        .p-panelmenu-header-link {
            background: var(--dark-panelmenu-background);
            border-color: var(--dark-panelmenu-background);
            color: var(--dark-panelmenu-text-color);
        }

        &:not(.p-highlight):not(.p-disabled) > a:hover {
            background: var(--dark-panelmenu-hover-background);
            border-color: var(--dark-panelmenu-hover-background);
            color: var(--dark-panelmenu-hover-text-color);
        }

        &.p-highlight {
            > a, &:not(.p-disabled) > a:hover {
                background: var(--dark-panelmenu-background);
                color: var(--dark-panelmenu-hover-text-color);
            }
        }
    }

    .p-panelmenu-content {
        background: var(--dark-panelmenu-background);

        .p-menuitem {
            &.p-menuitem--active {
                .p-menuitem-link {
                    .p-menuitem-text, .p-menuitem-icon {
                        color: var(--dark-menu-activeitem-color);
                    }
                }
            }

            .p-menuitem-link {
                background: var(--dark-panelmenu-background);
                .p-menuitem-icon, .p-menuitem-text {
                    color: var(--dark-panelmenu-text-color);
                }

                &:hover {
                    background: var(--dark-panelmenu-hover-background);
                    .p-menuitem-icon, .p-menuitem-text {
                        color: var(--dark-panelmenu-hover-text-color);
                    }
                }
            }
        }
    }
}

/// *----------Corporate/Profile Menu----------*
.c-menu-header {
    background: var(--dark-menu-header-background);
}

.c-menu-menubar {
    background: var(--dark-menu-header-background);
}

.p-speeddial .p-speeddial-button.p-button.p-button-icon-only {
    background: var(--dark-speeddial-background);
    border-color: var(--dark-speeddial-background);
    color: var(--dark-speeddial-color);
    box-shadow: var(--dark-speeddial-shadow);
}

.profile-menu {
    border-left: var(--dark-profile-seperator);
}

.p-menubar {
    background: var(--dark-menu-header-background);
    
    .p-menubar-root-list {
        >.p-menuitem, >.p-menuitem.p-menuitem-active  {
            > .p-menuitem-link:not(.p-disabled) {
                background: var(--dark-menu-header-background);

                &:hover {
                    background: var(--dark-topbar-buttons-hover);
                }
            }

            > .p-submenu-list {
                background: var(--dark-menubar-submenu-background);

                .p-menuitem .p-menuitem-link {
                    background: var(--dark-menubar-submenu-background);

                    .p-menuitem-text, .p-menuitem-icon {
                        color: var(--dark-text-color);
                    }

                    &:hover {
                        background: var(--dark-menubar-items-hover-background);

                        .p-menuitem-text, .p-menuitem-icon {
                            color: var(--dark-panelmenu-hover-text-color);
                        }
                    }
                }
            }
        }
    }
}

/// *----------Mobile-Theme Specific----------*

.reactUI.basti_mobile {
    .p-inputtext:enabled:focus {
        & + .p-autocomplete-dropdown, & + .p-datepicker-trigger {
            border-color: var(--dark-button-color);
            color: var(--dark-button-color);
        }
    }

    .rc-editor-linked, .rc-editor-date {
        &:hover {
            .p-button.p-button-icon-only {
                &.p-autocomplete-dropdown, &.p-datepicker-trigger {
                    border-color: var(--dark-button-color);
                    color: var(--dark-button-color);
                }
            }

            .p-inputtext {
                border-color: var(--dark-button-color);
            }
        }

        .p-autocomplete-dropdown, .p-datepicker-trigger {
            color: var(--dark-text-color);
        }
    }
}

/// *----------Components----------*

/// Button
.p-button {
    border-radius: var(--dark-button-border-radius);
}

.rc-button {
    .mouse-border {
        color: var(--dark-text-color);
    }

    &:focus {
        box-shadow: var(--dark-focus-box-shadow);
    }
}

.border-notpainted:not(.p-button-link), .border-notpainted:enabled:hover:not(.p-button-link) {
    color: var(--dark-text-color);
}

/// Checkbox & Radiobutton
.p-checkbox .p-checkbox-box:not(.p-highlight), .p-radiobutton .p-radiobutton-box:not(.p-highlight) {
    background: var(--dark-component-background);
    border: var(--dark-component-border);
}

.p-checkbox {
    &:not(.p-checkbox-disabled) .p-checkbox-box {
        &:hover {
            border-color: var(--dark-border-color-hover);
        }
    
        &.p-focus {
            box-shadow: var(--dark-focus-box-shadow);
            border-color: var(--dark-selected-rb-cb-outer-color);
        }

        &.p-highlight:hover {
            background: var(--dark-selected-rb-cb-outer-hover-color);
            border-color: var(--dark-selected-rb-cb-outer-hover-color);
        }
    }

    .p-checkbox-box {
        border-radius: var(--dark-button-border-radius);

        .p-highlight {
            background: var(--dark-selected-rb-cb-outer-color);
            border-color: var(--dark-selected-rb-cb-outer-color);
        }
    }
} 

.p-checkbox-box.p-highlight .p-checkbox-icon {
    color: var(--dark-selected-rb-cb-inner-color);
}

.p-radiobutton {
    .p-radiobutton-box {
        &:not(.p-disabled) {
            .p-focus {
                box-shadow: var(--dark-focus-box-shadow);
            }

            &:not(.p-highlight):hover {
                border-color: var(--dark-selected-rb-cb-outer-color);
            }
        }

        &.p-highlight {
            background: var(--dark-selected-rb-cb-outer-color);
            border-color: var(--dark-selected-rb-cb-outer-color);

            &:not(.p-disabled):hover {
                background: var(--dark-selected-rb-cb-outer-hover-color);
                border-color: var(--dark-selected-rb-cb-outer-hover-color);
            }
        }
    }
}

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
    background: var(--dark-selected-rb-cb-inner-color);
}

/// PopupMenuButton
.rc-popupmenubutton {
    background: var(--dark-button-color);
    border-color: var(--dark-button-color);
    border-radius: var(--dark-button-border-radius);

    &:focus-within {
        box-shadow: var(--dark-focus-box-shadow);
    }
}

.p-menu {
    &.p-menu-overlay {
        background: var(--dark-popupmenubutton-overlay-background);
    }

    .p-menuitem-link:not(.p-disabled):hover {
        background: var(--dark-popupmenubutton-item-hover);
        
        .p-menuitem-text {
            color: var(--dark-text-color);
        }
    }

    .p-menuitem-text{
        color: var(--dark-text-color);
    }
}

/// Togglebutton
.rc-togglebutton:focus {
    box-shadow: var(--dark-focus-box-shadow);
}

/// ChoiceCellEditor
.rc-editor-choice:focus img {
    box-shadow: var(--dark-focus-box-shadow);
}

/// Inputfields
.p-inputtext {
    background: var(--dark-component-background);
    border: var(--dark-component-border);
    border-radius: var(--dark-editor-border-radius);

    &:not(.required-field) {
        color: var(--dark-text-color);
    }

    &:enabled {
        &:focus {
            box-shadow: var(--dark-focus-box-shadow);
            border-color: var(--dark-border-color-hover);
        }

        &:hover {
            border-color: var(--dark-border-color-hover);
        }
    }
}

.readonly-standard-background.p-inputtext, .readonly-standard-background .p-inputtext {
    background-color: var(--dark-component-background) !important;
}

/// DateCellEditor
.p-calendar:focus-within {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--dark-focus-box-shadow);
    border-radius: var(--dark-editor-border-radius);
}

.p-datepicker {
    border-radius: var(--dark-date-border-radius);

    &:not(.p-datepicker-inline) {
        &, .p-datepicker-header {
            background: var(--dark-date-panel-background);
            color: var(--dark-text-color);
        }
    }

    .p-datepicker-header {
        border-bottom: var(--dark-date-panel-header-border);
        .p-datepicker-title {
            .p-datepicker-month, .p-datepicker-year {
                background-color: var(--dark-date-panel-background);
                color: var(--dark-text-color);
            }
        }
    } 

    &:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
        color: var(--dark-date-panel-hover-color);
    }
}

/// ImageCellEditor, Icon
.rc-editor-image, .rc-icon, .rc-validator {
    &:focus img {
        box-shadow: var(--dark-focus-box-shadow);
    }
}

/// LinkedCellEditor
.rc-editor-linked:focus-within {
    box-shadow: var(--dark-focus-box-shadow);
}

.p-autocomplete-panel {
    background: var(--dark-linked-panel-background);
    border-radius: var(--dark-linked-border-radius);

    .p-autocomplete-items {
        .p-autocomplete-item {
            background: var(--dark-linked-panel-background);
            color: var(--dark-text-color);

            &:hover {
                background: var(--dark-linked-item-hover-background);
            }
        }
    }

    &.dropdown-table {
        .p-autocomplete-items {
            /// Swaping odd and even because "table header" is also a child
            & li:nth-child(odd) {
                background: var(--dark-table-row-even-background);
                &:hover {
                    background: var(--dark-table-hover-background);
                }
            }

            & li:nth-child(even) {
                background: var(--dark-table-row-odd-background);
                &:hover {
                    background: var(--dark-table-hover-background);
                }
            }
        }
        .p-autocomplete-item-group > * {
            background: var(--dark-table-header-background);
            color: var(--dark-text-color);
            border-bottom: var(--dark-table-header-border);
        }

        .p-autocomplete-item > * {
            border-bottom: var(--dark-table-row-border);

            &:not(:first-child) {
                border-left: var(--dark-table-row-border);
            }
        }
    }
}

/// HTMLEditor
.p-editor-container {
    .p-editor-toolbar {
        background: var(--dark-html-toolbar-background);
        border: var(--dark-html-toolbar-border);
        border-top-left-radius: var(--dark-editor-border-radius);
        border-top-right-radius: var(--dark-editor-border-radius);

        &.ql-snow {
            .ql-formats {
                .ql-picker .ql-picker-label, button {
                    color: var(--dark-text-color);

                    &:hover {
                        color: var(--dark-html-toolbar-button-hover-background);
    
                        svg {
                            polygon, path, line, rect, polyline {
                                stroke: var(--dark-html-toolbar-button-hover-background);
                            }
                        } 
                    }
    
                    svg {
                        polygon, path, line, rect, polyline {
                            stroke: var(--dark-text-color);
                        }
                    }

                    &.ql-source {
                        svg path {
                            fill: var(--dark-text-color);
                        }

                        &:hover {
                            svg path {
                                fill: var(--dark-html-toolbar-button-hover-background);
                            }
                        }
                    } 
                }

                .ql-picker.ql-expanded .ql-picker-options {
                    background: var(--dark-html-picker-expanded-background);

                    .ql-picker-item {
                        color: var(--dark-text-color);

                        &:hover {
                            background: var(--dark-html-picker-item-hover-background);
                        }
                    }
                }
            }
        } 
    }

    .p-editor-content {
        border: var(--dark-component-border);
        border-bottom-left-radius: var(--dark-editor-border-radius);
        border-bottom-right-radius: var(--dark-editor-border-radius);

        .ql-editor {
            background: var(--dark-component-background);
            color: var(--dark-text-color);
            border-bottom-left-radius: var(--dark-editor-border-radius);
            border-bottom-right-radius: var(--dark-editor-border-radius);
        }
    }
}

.rc-editor-html {
    textarea.p-inputtext {
        border: var(--dark-component-border) !important;
    }
}

/// Table
.rc-table {
    border: var(--dark-component-border);

    table {
        border-style: hidden;
        box-shadow: 0 0 0 1px #e9ecef;
    }

    &.navtable-north {
        border-bottom-left-radius: var(--dark-table-border-radius);
        border-bottom-right-radius: var(--dark-table-border-radius);
    }

    &.navtable-west {
        border-top-right-radius: var(--dark-table-border-radius);
        border-bottom-right-radius: var(--dark-table-border-radius);
        &:not(.p-datatable-scrollable) .p-datatable-thead > tr > th {
            &:last-child {
                border-top-right-radius: var(--dark-table-border-radius);
            }

            &:only-child {
                border-top-left-radius: var(--dark-table-border-radius);
                border-top-right-radius: var(--dark-table-border-radius);
            }
        }

        /// VirtualScroll border radiuses, can probably be deleted after PR update
        .p-datatable-scrollable-header {
            border-top-right-radius: var(--dark-table-border-radius);
        }
    }

    &.navtable-east {
        border-top-left-radius: var(--dark-table-border-radius);
        border-bottom-left-radius: var(--dark-table-border-radius);
        &:not(.p-datatable-scrollable) .p-datatable-thead > tr > th {
            &:first-child {
                border-top-left-radius: var(--dark-table-border-radius);
            }

            &:only-child {
                border-top-left-radius: var(--dark-table-border-radius);
                border-top-right-radius: var(--dark-table-border-radius);
            }
        }

        /// VirtualScroll border radiuses, can probably be deleted after PR update
        .p-datatable-scrollable-header {
            border-top-left-radius: var(--dark-table-border-radius);
        }
    }

    &.navtable-south {
        border-top-left-radius: var(--dark-table-border-radius);
        border-top-right-radius: var(--dark-table-border-radius);
        &:not(.p-datatable-scrollable) .p-datatable-thead > tr > th {
            &:first-child {
                border-top-left-radius: var(--dark-table-border-radius);
            }

            &:last-child {
                border-top-right-radius: var(--dark-table-border-radius);
            }

            &:only-child {
                border-top-left-radius: var(--dark-table-border-radius);
                border-top-right-radius: var(--dark-table-border-radius);
            }
        }
        

        /// VirtualScroll border radiuses, can probably be deleted after PR update
        .p-datatable-scrollable-header {
            border-top-left-radius: var(--dark-table-border-radius);
            border-top-right-radius: var(--dark-table-border-radius);
        }
    }

    &:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south) {
        border-radius: var(--dark-table-border-radius);

        &:not(.p-datatable-scrollable) .p-datatable-thead > tr > th {
            &:first-child {
                border-top-left-radius: var(--dark-table-border-radius);
            }

            &:last-child {
                border-top-right-radius: var(--dark-table-border-radius);
            }

            &:only-child {
                border-top-left-radius: var(--dark-table-border-radius);
                border-top-right-radius: var(--dark-table-border-radius);
            }
        }
    }

    .p-datatable-thead > tr > th {
        background: var(--dark-table-header-background);
        border: var(--dark-table-header-border);
    }

    .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
        background: var(--dark-table-hover-background);
        color: var(--dark-text-color);
    }

    .p-datatable-tbody > tr {
        background: var(--dark-table-row-odd-background);
        color: var(--dark-text-color);
        > td {
            border: var(--dark-table-row-border);

            &.cell-required {
                color: var(--dark-table-required-color);
            }

            &.p-highlight {
                color: var(--dark-text-color);
            }

            &:hover {
                color: var(--dark-table-cell-hover-color);
            }
        }

        &.p-highlight {
            color: var(--dark-text-color);
            background: var(--dark-table-selected-row-background);
        }

        &:nth-child(even) {
            background: var(--dark-table-row-even-background);
        }

        &:not(.p-highlight):hover {
            background: var(--dark-table-hover-background);
            color: var(--dark-text-color);
        }
    }
} 

/// Toolbar
.rc-toolbar {
    background: var(--dark-toolbar-background);
    border: var(--dark-toolbar-border);

    &.navbar-north {
        border-top-left-radius: var(--dark-table-border-radius);
        border-top-right-radius: var(--dark-table-border-radius);
    }

    &.navbar-west {
        border-top-left-radius: var(--dark-table-border-radius);
        border-bottom-left-radius: var(--dark-table-border-radius);
    }

    &.navbar-east {
        border-top-right-radius: var(--dark-table-border-radius);
        border-bottom-right-radius: var(--dark-table-border-radius);
    }

    &.navbar-south {
        border-bottom-left-radius: var(--dark-table-border-radius);
        border-bottom-right-radius: var(--dark-table-border-radius);
    }

    &.toolbar-north {
        border-top-left-radius: var(--dark-toolbar-border-radius);
        border-top-right-radius: var(--dark-toolbar-border-radius);
    }

    &.toolbar-west {
        border-top-left-radius: var(--dark-toolbar-border-radius);
        border-bottom-left-radius: var(--dark-toolbar-border-radius);
    }

    &.toolbar-east {
        border-top-right-radius: var(--dark-toolbar-border-radius);
        border-bottom-right-radius: var(--dark-toolbar-border-radius);
    }

    &.toolbar-south {
        border-bottom-left-radius: var(--dark-toolbar-border-radius);
        border-bottom-right-radius: var(--dark-toolbar-border-radius);
    }
}

/// Dialogs
.rc-popup {
    .p-dialog-header {
        background: var(--dark-dialog-header-background);
        color: var(--dark-text-color);
        border-top-left-radius: var(--dark-dialog-border-radius);
        border-top-right-radius: var(--dark-dialog-border-radius);

        .p-dialog-header-icon {
            color: var(--dark-text-color);

            &:hover {
                color: var(--dark-dialog-icon-hover-color);
            }
        }
    }

    .p-dialog-content {
        background: var(--dark-dialog-content-background);
        color: var(--dark-text-color);
        border-bottom-left-radius: var(--dark-dialog-border-radius);
        border-bottom-right-radius: var(--dark-dialog-border-radius);
    }
}

/// Messages
.rc-message-dialog {
    .p-dialog-header {
        border-top-left-radius: var(--dark-dialog-border-radius);
        border-top-right-radius: var(--dark-dialog-border-radius);
    }

    &.info .p-dialog-header {
        background: var(--dark-message-info-header-background);

        .p-dialog-header-close {
            &:hover {
                background: var(--dark-message-info-header-close-hover);
            }

            .p-dialog-header-close-icon {
                color: var(--dark-text-color);
            }
        }
    }

    &.warning .p-dialog-header {
        background: var(--dark-message-warning-header-background);

        .p-dialog-header-close {
            &:hover {
                background: var(--dark-message-warning-header-close-hover);
            }

            .p-dialog-header-close-icon {
                color: var(--dark-text-color);
            }
        }
    }

    &.error .p-dialog-header {
        background: var(--dark-message-error-header-background);

        .p-dialog-header-close {
            &:hover {
                background: var(--dark-message-error-header-close-hover);
            }

            .p-dialog-header-close-icon {
                color: var(--dark-text-color);
            }
        }
    }

    &.question .p-dialog-header {
        background: var(--dark-message-question-header-background);

        .p-dialog-header-close {
            &:hover {
                background: var(--dark-message-question-header-close-hover);
            }

            .p-dialog-header-close-icon {
                color: var(--dark-text-color);
            }
        }
    }

    .p-dialog-footer {
        border-bottom-left-radius: var(--dark-dialog-border-radius);
        border-bottom-right-radius: var(--dark-dialog-border-radius);
    }

    &.message-dialog-no-footer .p-dialog-content {
        border-bottom-left-radius: var(--dark-dialog-border-radius);
        border-bottom-right-radius: var(--dark-dialog-border-radius);
    }    

    .p-dialog-content, .p-dialog-footer {
        background: var(--dark-dialog-content-background);
        color: var(--dark-text-color);
    }
}

/// Error Dialog
.rc-error-dialog {
    background: var(--dark-error-dialog-background);
}

/// TabSetPanel
.p-tabview .p-tabview-nav {
    background: var(--dark-tab-navbar-background);
    color: var(--dark-text-color);
    border: var(--dark-tab-navbar-border);
    border-radius: var(--dark-tab-border-radius);
    padding: 0 var(--dark-tab-border-radius);

    li {
        &:not(.p-highlight) {
            .p-tabview-nav-link {
                color: var(--dark-text-color);
                border-color: transparent transparent var(--dark-tab-border-color) transparent;
            }

            &:not(.p-disabled):hover .p-tabview-nav-link {
                color: var(--dark-text-color);
                background: var(--dark-tab-hover-background);
                border-color: var(--dark-text-color);
            }
        }

        &.p-highlight .p-tabview-nav-link {
            color: var(--dark-tab-selected-color);
            border-color: var(--dark-tab-selected-color);
        }

        .p-tabview-nav-link {
            background: var(--dark-tab-navbar-background);
        }
    }
}

.tabview-button {
    color: var(--dark-tab-close-color);
}

/// Tree
.p-tree {
    background: var(--dark-tree-background);
    border: var(--dark-tree-border);
    color: var(--dark-text-color);
    border-radius: var(--dark-table-border-radius);

    .p-tree-container .p-treenode .p-treenode-content {
        &.p-treenode-selectable:not(.p-highlight):hover {
            background: var(--dark-tree-item-hover-background);
            color: var(--dark-text-color);
        }

        &.p-highlight {
            background: var(--dark-tree-selected-item-background);
            color: var(--dark-text-color);
        }

        &:focus {
            box-shadow: var(--dark-focus-box-shadow);
        }
    }
}

/// Loading-Screen
.loading-screen {
    background: -webkit-radial-gradient(119% 190% at -6% -20%, var(--dark-loading-screen-left-background) 70%, var(--dark-loading-screen-right-background) 70%);
    background: -o-radial-gradient(119% 190% at -6% -20%, var(--dark-loading-screen-left-background) 70%, var(--dark-loading-screen-right-background) 70%);
    background: -moz-radial-gradient(119% 190% at -6% -20%, var(--dark-loading-screen-left-background) 70%, var(--dark-loading-screen-right-background) 70%);
    background: radial-gradient(119% 190% at -6% -20%, var(--dark-loading-screen-left-background) 70%, var(--dark-loading-screen-right-background) 70%);
}

@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-root-list {
        background: var(--dark-menu-header-background);

        > .p-menuitem {
            background: var(--dark-menu-header-background);
        }
    }
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: var(--dark-loading-spinner-color-1);
    }
    40% {
        stroke: var(--dark-loading-spinner-color-2);
    }
    66% {
        stroke: var(--dark-loading-spinner-color-3);
    }
    80%,
    90% {
        stroke: var(--dark-loading-spinner-color-4);
    }
}