.rc-panel-split{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.h-split {
  flex-direction: row;
}

.v-split {
  flex-direction: column;
}

.first-split-h {
  width: 25%;
  overflow: hidden;
}

.first-split-v {
  height: 25%;
  overflow: hidden;
}

.second-split{
  flex: 1;
}

.separator{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 20%;
}

.h-seperator {
  width: 10px;
  cursor: ew-resize;
}

.v-seperator {
  height: 10px;
  cursor: ns-resize;
}