:root {
    --button-color-bright: #ffffff;
    --button-color-dark: #495057;
}

@mixin btnHover {
    &.p-button:not(a):not(.p-disabled):not(.border-notpainted):hover {
        background: var(--hoverBackground);
        border-color: var(--hoverBackground);

        &.bright {
            color: var(--button-color-bright);
        }

        &.dark {
            color: var(--button-color-dark);
        }
    }

    &:not(.border-notpainted):not(.mouse-border) {
        background: var(--background);
        border-color: var(--background);
    }
}

@mixin toggleBtnHover {
    &.p-button {
        &:not(.border-notpainted) {
            background: var(--background);
            border-color: var(--background);
        }

        &.border-notpainted {
            background: transparent;
            border-color: transparent;
            color: var(--button-color-dark);
        }

        &:not(.p-disabled):not(.p-highlight):hover {
            &:not(.border-notpainted) {
                background: var(--hoverBackground);
                border-color: var(--hoverBackground);
            }

            &.border-notpainted {
                background: transparent;
                border-color: transparent;
                color: var(--button-color-dark);

                &.mouse-border {
                    background: var(--hoverBackground);
                    border-color: var(--hoverBackground);
                }
            }
        }

        &.bright, &:not(.p-disabled):not(.p-highlight).bright:hover, &.p-highlight.bright:hover {
            color: var(--button-color-bright);

            .p-button-icon-left, .p-button-icon-right {
                    color: var(--iconColor, --button-color-bright);
            }
        }

        &.dark, &:not(.p-disabled):not(.p-highlight).dark:hover, &.p-highlight.dark:hover {
            color: var(--button-color-dark);

            .p-button-icon-left, .p-button-icon-right {
                color: var(--iconColor, --button-color-dark);
            }
        }

        &.p-highlight {
            &:not(.border-notpainted), &.border-notpainted.mouse-border {
                background: var(--selectedBackground);
                border-color: var(--selectedBackground);
        
                &:hover {
                    background: var(--background);
                    border-color: var(--background);
                }
            }
    
            &:hover {
                background: var(--background);
            }
        }
    }
}