/// Inline-flex for alignment
.rc-checkbox {
    --checkJustify: flex-start;
    --checkAlign: center;
    --checkPadding: 0;

    display: flex;

    justify-content: var(--checkJustify);
    align-items: var(--checkAlign);
    padding: var(--checkPadding);

    .p-checkbox {
        //width: 20px;
        //height: 20px;
        justify-content: center;
        align-items: center;
    }
}

.gap-top {
    .p-checkbox {
        margin-top: var(--iconTextGap);
    }
}

.gap-left {
    .p-checkbox {
        margin-left: var(--iconTextGap);
    }
}

.gap-right {
    .p-checkbox {
        margin-right: var(--iconTextGap);
    }
}

.gap-bottom {
    .p-checkbox {
        margin-bottom: var(--iconTextGap);
    }
}

.icon-center-left {
    .p-checkbox {
        margin-left: var(--iconCenterGap);
    }
}

.icon-center-right {
    .p-checkbox {
        margin-right: var(--iconCenterGap);
    }
}

