
:root {
    --toolbar-gap: 0px;
    --toolbar-comp-gap: 4px
}

.rc-toolbar {
    border: 1px solid;

    &.navbar-north {
        border-bottom: none;
    }

    &.navbar-west {
        border-right: none;
    }

    &.navbar-east {
        border-left: none;
    }

    &.navbar-south {
        border-top: none;
    }
}

.rc-toolbar .p-button.p-disabled {
    opacity: 0.3;
}