
:root {
    --toolbar-button-gap: 0px;
}

.rc-toolbar {
    background: var(--default-toolbar-background);
    border: var(--default-toolbar-border);

    &.navbar-north {
        border-bottom: none;
    }

    &.navbar-west {
        border-right: none;
    }

    &.navbar-east {
        border-left: none;
    }

    &.navbar-south {
        border-top: none;
    }
}