/// Custom scrollbar for the Panelmenu
@mixin styledScrollbarPanelDefault() {
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-button:start:decrement {
        height: 70px;
    }
    &::-webkit-scrollbar-track {
        background: white; 
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(230, 230, 230);
        border-radius: 10px;
        &:hover {
            background: rgb(202, 202, 202);
        }
    }
}

@mixin styledScrollbarPanelDark() {
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-button:start:decrement {
        height: 70px;
    }
    &::-webkit-scrollbar-track {
        background: var(--dark-panelmenu-scroll-background); 
    }
    &::-webkit-scrollbar-thumb {
        background: #202427;
        border-radius: 10px;
        &:hover {
            background: #252a2e;
        }
    }
}

/// Custom scrollbar for the menubar in corporate mode
@mixin styledScrollbarCorp() {
    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    &::-webkit-scrollbar-button:start:decrement {
        height: 70px;
    }
    &::-webkit-scrollbar-track {
        background: #49525e; 
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(230, 230, 230);
        border-radius: 10px;
        &:hover {
            background: rgb(202, 202, 202);
        }
    }
}