.jvxPopupMenuButton {
    background-color: #007ad9;
    border-color: #007ad9;
    display: inline-flex;
    height: inherit;
    width: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    .p-button {
        background: inherit;
        border-color: inherit;
        transition: unset;
        &:enabled {
            &:hover {
                background-color: unset;
                border-color: unset;
                color: unset;
            }
        }
        &:focus {
            box-shadow: unset;
            -webkit-box-shadow: unset;
        }
        .p-button-label {
            flex: unset
        }
    }
    .p-splitbutton-defaultbutton, .p-splitbutton-menubutton{
        height: inherit;
        color: inherit;
        border-color: inherit;
    }
    .p-splitbutton-defaultbutton {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        padding: 5px 0px 5px 10px;
    }
    .p-splitbutton-menubutton {
        width: 38px;
        padding: 5px 10px 5px 0px;
    }
}