.p-splitbutton {
    .p-button {
        background: inherit;
        border-color: inherit;
        &:enabled {
            &:hover {
                background-color: unset;
                border-color: unset;
                color: unset;
            }
        }
    }
    .p-button-label {
        flex: unset
    }
}