/// Fixed padding for labels
.rc-label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

    & > span {
        flex-shrink: 0;
        overflow: hidden;
        width: 100%;
        display: block;
        padding-top: 0.563rem;
        padding-bottom: 0.563rem;
    }
}

.rc-label-html {
    flex-direction: column;
}