/// Fixed padding for labels
.rc-label {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

    & > span {
        flex-shrink: 0;
        overflow: hidden;
        max-width: 100%;
        display: inline-block;
        padding-top: 9px;
        padding-bottom: 9px;
    }
}

.rc-label-html {
    flex-direction: column;
}