:root {
    --icon: unset;
}

body {
    .p-button {
        transition: all 0.2s
    }
}

.p-button {
    .p-button-icon-left {
        margin-right: unset;
    }
}

.p-button {
    .p-button-icon-right {
        margin-left: unset;
    }
}

div {
    >.p-button-icon-only {
        .p-button-icon-left {
            position: unset;
            top: unset;
            left: unset;
            margin-top: unset;
            margin-left: unset;
        }
    }
}

.custom-icon::before {
    display: block;
    background-image: url("../../../../../src/assets/imgs/sibvisionslogo.png");
    height: inherit;
    width: inherit;
    content:"";
}

.formlayout {
    >div {
        >.p-button {
            .p-button-label {
                flex-grow: unset;
                flex-shrink: unset;
                flex-basis: unset;

            }
        } 
    }
}