.rc-table {
    width: 100%;
    height: 100%;
    border: 1px solid #d4d4d4;
    border-collapse: collapse;

    &.no-auto-resize {
        .p-datatable-scrollable-body {
            max-width: 100%;
        }

        table {
            margin-right: 100%;
        }
    }
    &.read-size {
        td > * {
            display: inline-block !important;
        }
    }
    .p-datatable-thead {
        >tr {
            >th {
                color: inherit;
                border-width: 0px 1px 1px 1px;
                font-weight: bold;
                padding: 0.6rem 1rem;
                background: white;
                &:hover {
                    background: #e9ecef;
                    color: inherit;
                }
                &.sort-asc, &.sort-des {
                    color: #2196F3;
                }
                .p-sortable-column-icon {
                    font-size: 14px;
                    margin-left: 4px;
                    color: #2196F3
                }
                .sort-index {
                    font-size: 10px;
                }
                .pi-sort-alt {
                    display: none;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
    .p-datatable-tbody {
        >tr {
            &:nth-child(even) {
                background: #fafafa;

                &.p-highlight {
                    >td {
                        &.cell-required {
                            background: rgba(253, 238, 195, 0.8);
                        }
    
                        &.cell-readonly {
                            background: rgba(230, 230, 230, 0.8);
                        }
                    }
                }

                >td {
                    &.cell-required {
                        background: rgb(253, 238, 195);
                    }
    
                    &.cell-readonly {
                        background: rgb(230, 230, 230);
                    }
                }
            }
            &:focus {
                outline: none;
            }
            &.p-highlight {
                background: linear-gradient(to bottom, rgba(27, 135, 227, 0.5) 2%, rgba(22, 110, 213, 0.5) 98%) !important;
                //color: white;

                > td {
                    &:hover {
                        color: rgb(131, 131, 131);
                    }

                    &.cell-required {
                        background: rgba(255, 244, 210, 0.8);
                    }

                    &.cell-readonly {
                        background: rgba(239, 239, 239, 0.8);
                    }
                }

                .cancel-padding {
                    box-shadow: inset 0 0 0 1000px rgba(#1b87e3 , .4);
                }
            }
            ::-moz-focus-inner {
                border: 0;
            }
            &.table-row-selected {
                background: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
            }

            &.row-deleted td:before {
                content: " ";
                position: absolute;
                top: 50%;
                left: 0;
                border-bottom: 1px solid #111;
                width: 100%;
            }

            >td {
                position: relative;
                height: var(--btr-table-row-height);
                padding: 0.2rem 0.4rem;
                overflow: hidden;
                text-overflow: ellipsis;
                border-width: 0px 0px 1px 0px !important;
                user-select: none;
                outline: none;

                &.cell-required {
                    background: rgb(255, 244, 210)
                }

                &.cell-readonly {
                    background: rgb(239, 239, 239);
                }

                .cancel-padding {
                    margin: -0.2rem -0.4rem;

                    &:empty {
                        min-height: calc(100% + .4rem);
                    }
                }

                &.ChoiceCellEditor, &.CheckBoxCellEditor {
                    text-align: center;
                    >.cell-data {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &.NumberCellEditor {
                    text-align: right;
                }
                &.ImageViewer {
                    >.cell-data {
                        padding: 0;
                        vertical-align: middle;
                        text-align: center;
                        .rc-table-image {
                            height: inherit;
                        }
                    }
                }
                &.LinkedCellEditor, &.DateCellEditor {
                    button {
                        width: 24px;
                        padding: 0;
                    }
                }
                &:not(.ChoiceCellEditor):not(.CheckBoxCellEditor) {
                    &>.cell-data {
                        display: flex;
                        align-items: center;
                        height: var(--btr-table-row-height);
                        &:not(.html-cell) .cell-data-content {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        &.cancel-padding {
                            padding: 0.2rem 0.4rem;
                        }
                    }
                }
                &.p-highlight {
                    outline: 2px solid #7f7f7f;
                    outline-offset: -2px;
                    color: var(--standardTextColor);
                    &:not(.cell-readonly):not(.cell-required) {
                        background: unset;
                    }
                    
                    .cancel-padding {
                        box-shadow: inset 0 0 0 1000px rgba(#e3f2fd, .4);
                    }
                }
            }
        }
    }
    .p-inputtext {
        padding: 3px 7px;
    }
}

.p-datatable-wrapper, .p-datatable-scrollable-wrapper {
    height: 100%;
    max-width: 100%;
}

.p-datatable-scrollable-wrapper .p-datatable-scrollable-view {
    height: 100%
}

.loading-text {
    display: block;
    background: #f1f1f1;;
    min-height: 19px;
    animation: pulse 0.4s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}

.p-column-title {
    user-select: none;
}

.p-datatable .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
    &.sort-asc, &.sort-des {
        color: #2196F3;
        .p-sortable-column-icon {
            color: #2196F3;
        }
    }
}

.cell-editor-arrow {
    font-size: 10px;
    line-height: 14px;
}

.p-datatable-emptymessage {
    display: none;
}

@keyframes pulse {
    0% {
        background: rgba(165, 165, 165, 0.1)
    }
    50% {
        background: rgba(165, 165, 165, 0.3)
    }
    100% {
        background: rgba(165, 165, 165, 0.1)
    }
}