tr.p-highlight{
    background: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%) !important;
}

.rc-table {
    width: 100%;
    height: 100%;
    border: 1px solid #d4d4d4;
    border-collapse: collapse;

    &.no-auto-resize {
        .p-datatable-scrollable-body {
            max-width: 100%;
        }

        table {
            margin-right: 100%;
        }
    }
    &.read-size {
        td > * {
            display: inline-block !important;
        }
    }
    .p-datatable-thead {
        >tr {
            >th {
                color: inherit;
                border-width: 0px 1px 1px 1px;
                font-weight: bold;
                padding: 0.6rem 1rem;
                background: white;
                &:hover {
                    background: #e9ecef;
                    color: inherit;
                }
                &.sort-asc, &.sort-des {
                    color: #2196F3;
                }
                .p-sortable-column-icon {
                    font-size: 14px;
                    margin-left: 4px;
                    color: #2196F3
                }
                .sort-index {
                    font-size: 10px;
                }
                .pi-sort-alt {
                    display: none;
                }
            }
        }
    }
    .p-datatable-tbody {
        >tr {
            &:nth-child(even) {
                background: #fafafa;
            }
            &:focus {
                outline: none;
            }
            &.p-highlight {
                color: white;

                .cancel-padding {
                    box-shadow: inset 0 0 0 1000px rgba(#1b87e3 , .4);
                }
            }
            ::-moz-focus-inner {
                border: 0;
            }
            &.table-row-selected {
                background: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
            }
            >td {
                height: 35px;
                padding: 0.2rem 0.4rem;
                overflow: hidden;
                text-overflow: ellipsis;
                border-width: 0px 0px 1px 0px !important;
                user-select: none;

                .cancel-padding {
                    margin: -0.2rem -0.4rem;

                    &:empty {
                        min-height: calc(100% + .4rem);
                    }
                }

                &.ChoiceCellEditor, &.CheckBoxCellEditor {
                    text-align: center;
                    >.cell-data {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &.NumberCellEditor {
                    text-align: right;
                }
                &.ImageViewer {
                    >.cell-data {
                        padding: 0;
                        vertical-align: middle;
                        text-align: center;
                        .rc-table-image {
                            height: inherit;
                        }
                    }
                }
                &.LinkedCellEditor, &.DateCellEditor {
                    button {
                        width: 24px;
                        padding: 0;
                    }
                }
                &:not(.ChoiceCellEditor):not(.CheckBoxCellEditor)>.cell-data {
                    padding: 6.5px 8.688px;                    
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.cancel-padding {
                        padding: calc(0.2rem + 6.5px) calc(0.4rem + 8.688px);
                    }
                }
                &.p-highlight {
                    background: linear-gradient(180deg, rgba(227,242,253,1) 2%, rgba(170,220,255,1) 98%);
                    color: var(--standardTextColor);

                    .cancel-padding {
                        box-shadow: inset 0 0 0 1000px rgba(#e3f2fd, .4);
                    }
                }
            }
        }
    }
    .p-inputtext {
        padding: 3px 7px;
    }
}

.p-datatable-wrapper, .p-datatable-scrollable-wrapper {
    height: 100%;
    max-width: 100%;
}

.p-datatable-scrollable-wrapper .p-datatable-scrollable-view {
    height: 100%
}

.loading-text {
    display: block;
    background: #f1f1f1;;
    min-height: 19px;
    animation: pulse 0.4s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}

.p-column-title {
    user-select: none;
}

.p-datatable .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
    &.sort-asc, &.sort-des {
        color: #2196F3;
        .p-sortable-column-icon {
            color: #2196F3;
        }
    }
}

.cell-editor-arrow {
    font-size: 10px;
    line-height: 14px;
}

@keyframes pulse {
    0% {
        background: rgba(165, 165, 165, 0.1)
    }
    50% {
        background: rgba(165, 165, 165, 0.3)
    }
    100% {
        background: rgba(165, 165, 165, 0.1)
    }
}