@import '../scssutil/scrollbar.scss';

/// Orange Scheme
:root {
    /// Orange login background
    --orange-login-background: rgb(245, 245, 245, 0.93);

    /// Orange login background
    --orange-login-logo-background: #ffffff;

    /// Orange login inputfields placeholder color
    --orange-login-placeholder-color: #bcc0c4;

    /// Orange login box-shadow
    --orange-login-shadow: 5px 5px 45px 5px rgba(0,0,0,0.6);

    /// Orange client background
    --orange-background: #ffffff;

    /// Orange background for topbar
    --orange-menu-header-background: #f78500;

    /// Orange menu color
    --orange-menu-color: #ffffff;

    /// Orange menu border
    --orange-menu-border: 1px solid rgba(120,130,140,.13);

    /// Orange logo background
    --orange-logo-background: linear-gradient(270deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);

    /// Orange profile-menu seperator
    --orange-profile-seperator: 2px solid #d67b13;

    /// Orange topbar buttons background
    --orange-topbar-buttons-background: transparent;

    // Orange topbar buttons hover background
    --orange-topbar-buttons-hover: #d67b13;

    /// Orange panel-menu background
    --orange-panelmenu-background: #fafafa;

    /// Orange panel-menu hover background
    --orange-panelmenu-hover-background: #e9ecef;

    /// Orange panel-menu color
    --orange-panelmenu-text-color: #495057;

    /// Orange panel-menu color hover
    --orange-panelmenu-hover-text-color: #000000;

    /// Orange color for active menuitem
    --orange-menu-activeitem-color: #f78500;

    /// Orange fadeout background
    --orange-fadeout-background: linear-gradient(90deg, #fafafa00 0%, #fafafa 100%);

    /// Orange background for corporation menu speeddial
    --orange-speeddial-background: #ffffff;

    /// Orange color for corporation menu speeddial
    --orange-speeddial-color: #495057;

    /// Orange shadow for corporation menu speeddial
    --orange-speeddial-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.20);

    /// Orange menubar submenu background
    --orange-menubar-submenu-background: #ffffff;

    /// Orange menubar items hover background
    --orange-menubar-items-hover-background: #e9ecef;

    /// Orange menubar item hover
    --orange-menubar-item-hover: #454b52;

    /// Orange button color
    --orange-button-color: #f78500;

    /// Orange component background
    --orange-component-background: #ffffff;

    /// Orange component border
    --orange-component-border: 1px solid #ced4da;

    /// Orange text color
    --orange-text-color: #495057;

    /// Orange checkbox, radiobutton selected outer color
    --orange-selected-rb-cb-outer-color: #f78500;

    /// Orange checkbox, radiobutton selected outer hover color
    --orange-selected-rb-cb-outer-hover-color: #db7500;

    /// Orange checkbox, radiobutton selected inner color
    --orange-selected-rb-cb-inner-color: #ffffff;

    /// Orange toolbar background
    --orange-toolbar-background: #f8f9fa;

    /// Orange toolbar border
    --orange-toolbar-border-color: #dee2e6;

    /// Orange table-header background
    --orange-table-header-background: #ffffff;

    /// Orange table-header border
    --orange-table-header-border: 1px solid #e9ecef;

    /// Orange table selected row background
    --orange-table-selected-row-background: linear-gradient(180deg, rgba(227,177,27,0.5) 2%, rgba(213,166,22,0.5) 98%); 

    /// Orange table-row background for odd rows
    --orange-table-row-odd-background: #fafafa;

    /// Orange table-row background for even rows
    --orange-table-row-even-background: #ffffff;

    /// Orange background when hovering a table/linked row
    --orange-table-hover-background: #e9ecef;

    /// Orange table-row border
    --orange-table-row-border: 1px solid #e9ecef;

    /// Orange cell hover color
    --orange-table-cell-hover-color: rgb(131, 131, 131);

    /// Orange cell background for required fields on even rows
    --orange-table-required-even-background: rgb(253, 238, 195);

    /// Orange cell background for required fields on odd rows
    --orange-table-required-odd-background: rgb(255, 244, 210);

    /// Orange cell font color when a cell is required
    --orange-table-required-color: var(--orange-text-color);

    /// Orange cell background for readonly fields on even rows
    --orange-table-readonly-even-background: rgb(230, 230, 230);

    /// Orange cell background for readonly fields on odd rows
    --orange-table-readonly-odd-background: rgb(239, 239, 239);

    /// Orange table-header sort color
    --orange-table-sort-color: #f78500;

    /// Orange LinkedCellEditor panel background
    --orange-linked-panel-background: #ffffff;

    /// Orange LinkedCellEditor item hover background
    --orange-linked-item-hover-background: #e9ecef;

    /// Orange overlay background for popupmenubuttons
    --orange-popupmenubutton-overlay-background: #ffffff;

    /// Orange popupmenu item hover background
    --orange-popupmenubutton-item-hover: #e9ecef;

    /// Orange DateCellEditor panel background
    --orange-date-panel-background: #ffffff;

    /// Orange DateCellEditor header border
    --orange-date-panel-header-border: 1px solid #dee2e6;

    /// Orange color when hovering over a day to select
    --orange-date-panel-hover-color: var(--orange-text-color);

    /// Orange date panel selected date background
    --orange-date-selected-background: #fff3e0;

    /// Orange Dialog header background
    --orange-dialog-header-background: #ffffff;

    /// Orange 'x' color when hovering
    --orange-dialog-icon-hover-color: var(--orange-text-color);

    /// Orange Dialog header border
    --orange-dialog-header-border: 1px solid rgba(0, 0, 0, 0.15);

    /// Orange Dialog background
    --orange-dialog-content-background: #ffffff;

    /// Orange TabSet navbar background
    --orange-tab-navbar-background: #ffffff;

    /// Orange TabSet navbar border
    --orange-tab-navbar-border: 1px solid #dee2e6;

    /// Orange border and color of a selected tab
    --orange-tab-selected-color: #ffc107;

    /// Orange TabSet hover background
    --orange-tab-hover-background: #ffffff;

    /// Orange TabSet border color
    --orange-tab-border-color: #dee2e6;

    /// Orange Tree background
    --orange-tree-background: #ffffff;

    /// Orange Tree border
    --orange-tree-border: 1px solid #dee2e6;

    /// Orange Tree item hover background
    --orange-tree-item-hover-background: #e9ecef;

    /// Orange Tree selected item background
    --orange-tree-selected-item-background: #fdefd4;

    /// Orange HTMLEditor toolbar background
    --orange-html-toolbar-background: #f8f9fa;

    /// Orange HTMLEditor toolbar border
    --orange-html-toolbar-border: 1px solid #dee2e6;

    /// Orange HTMLEditor button hover colors
    --orange-html-toolbar-button-hover-background: #000000;

    /// Orange HTMLEditor picker expanded background
    --orange-html-picker-expanded-background: #ffffff;

    /// Orange HTMLEditor picker item hover background
    --orange-html-picker-item-hover-background: #e9ecef;

    /// Orange Message info background
    --orange-message-info-header-background: #2196F3;

    /// Orange Message info hover background of closing element
    --orange-message-info-header-close-hover: #276b96;

    /// Orange Message info header color
    --orange-message-info-header-color: #ffffff;

    /// Orange Message warning background
    --orange-message-warning-header-background: #ffcf40;

    /// Orange Message warning hover background of closing element
    --orange-message-warning-header-close-hover: #ebbd35;

    /// Orange Message warning header color
    --orange-message-warning-header-color: #ffffff;

    /// Orange Message error background
    --orange-message-error-header-background: #ff364a;

    /// Orange Message error hover background of closing element
    --orange-message-error-header-close-hover: #db2739;

    /// Orange Message error header color
    --orange-message-error-header-color: #ffffff;

    /// Orange Message question background
    --orange-message-question-header-background: #17c0eb;

    /// Orange Message question hover background of closing element
    --orange-message-question-header-close-hover: #13aacf;

    /// Orange Message question header color
    --orange-message-question-header-color: #ffffff;

    /// Orange error-dialog background
    --orange-error-dialog-background: rgba(255, 255, 255, 0.8);

    /// Orange loading-screen background left
    --orange-loading-screen-left-background: #ffffff;

    /// Orange loading-screen background right
    --orange-loading-screen-right-background: #f1f1f1;

    /// Orange loading-screen spinner colors
    --orange-loading-spinner-color-1: #b3ec23;

    --orange-loading-spinner-color-2: #95c41f;

    --orange-loading-spinner-color-3: #8bb61d;

    --orange-loading-spinner-color-4: #80a818;

    /// Orange tab close button color
    --orange-tab-close-color: #cdcfd1;

    /// Orange focus border/shadow
    --orange-focus-box-shadow: 0 0 0 0.2rem #ffe69c;

    /// Orange hover border-color
    --orange-border-color-hover: #f78500;

    /// Orange border-radius for login
    --orange-login-border-radius: 6px;

    /// Orange border-radius for buttons
    --orange-button-border-radius: 3px;

    /// Orange border-radius for editors
    --orange-editor-border-radius: 3px;

    /// Orange border-radius for DatePicker panel
    --orange-date-border-radius: 3px;

    /// Orange border-radius for LinkedCellEditor panel
    --orange-linked-border-radius: 3px;
    
    /// Orange border-radius for Tables/Trees
    --orange-table-border-radius: 3px;

    /// Orange border-radius for tabset navbar
    --orange-tab-border-radius: 0px;
    
    /// Orange border-radius for Dialogs
    --orange-dialog-border-radius: 0px;

    /// Orange border-radius for toolbars which are NOT part of navigation-tables
    --orange-toolbar-border-radius: 0px;

    /// Orange Topbar colors
    --orange-topbar-colors: #f78500, #f78500;
}

body {
    background: var(--orange-background);
    color: var(--orange-text-color);
}

/// *----------Login----------*
.login-form {
    background: var(--orange-login-background);
    border-radius: var(--orange-login-border-radius);

    .p-float-label label {
        color: var(--orange-login-placeholder-color);
    }
}

.login-logo-wrapper {
    background: var(--orange-login-logo-background);
}

.login-form-position-wrapper {
    border-radius: var(--orange-login-border-radius);
    box-shadow: var(--orange-login-shadow);
}

/// *----------General-Header----------*
.menu-header {
    background: var(--orange-menu-header-background);
}

.p-button.p-button-icon-only.menu-topbar-buttons {
    background: var(--orange-topbar-buttons-background);
    color: var(--orange-menu-color);
    border-radius: var(--orange-button-border-radius);

    &:hover {
        background: var(--orange-topbar-buttons-hover);
    }
}

.menu-screen-title {
    color: var(--orange-menu-color);
}

/// *----------Standard-Menu----------*
.menu-logo-wrapper {
    background: var(--orange-logo-background);
    border-bottom: var(--orange-menu-border);
}

.menu-panelmenu-wrapper {
    background: var(--orange-panelmenu-background);
    @include styledScrollbarPanelDefault();
    border-right: var(--orange-menu-border);
}

.p-panelmenu {
    .p-panelmenu-header {
        .p-panelmenu-header-link {
            background: var(--orange-panelmenu-background);
            border-color: var(--orange-panelmenu-background);
            color: var(--orange-panelmenu-text-color);
        }

        &:not(.p-highlight):not(.p-disabled) > a:hover {
            background: var(--orange-panelmenu-hover-background);
            border-color: var(--orange-panelmenu-hover-background);
            color: var(--orange-panelmenu-hover-text-color);
        }

        &.p-highlight {
            > a, &:not(.p-disabled) > a:hover {
                background: var(--orange-panelmenu-background);
                color: var(--orange-panelmenu-hover-text-color);
            }
        }
    }

    .p-panelmenu-content {
        background: var(--orange-panelmenu-background);

        .p-menuitem {
            .p-menuitem-link:not(.p-disabled) {
                background: var(--orange-panelmenu-background);
                .p-menuitem-icon, .p-menuitem-text {
                    color: var(--orange-panelmenu-text-color);
                }

                &:hover {
                    background: var(--orange-panelmenu-hover-background);
                    .p-menuitem-icon, .p-menuitem-text {
                        color: var(--orange-panelmenu-hover-text-color);
                    }
                }
            }

            &.p-menuitem--active {
                .p-menuitem-link {
                    .p-menuitem-text, .p-menuitem-icon {
                        color: var(--orange-menu-activeitem-color);
                    }
                }
            }
        }
    }
}

.fadeout {
    background-image: var(--orange-fadeout-background);
}

/// *----------Corporate/Profile Menu----------*
.c-menu-header {
    background: var(--orange-menu-header-background);
}

.c-menu-menubar {
    background: var(--orange-menu-header-background);
}

.p-speeddial .p-speeddial-button.p-button.p-button-icon-only {
    background: var(--orange-speeddial-background);
    border-color: var(--orange-speeddial-background);
    color: var(--orange-speeddial-color);
    box-shadow: var(--orange-speeddial-shadow);
}

.profile-menu {
    border-left: var(--orange-profile-seperator);
}

.p-menubar {
    background: var(--orange-menu-header-background);
    
    .p-menubar-root-list {
        >.p-menuitem, >.p-menuitem.p-menuitem-active  {
            > .p-menuitem-link:not(.p-disabled) {
                background: var(--orange-menu-header-background);
                color: var(--orange-menu-color);

                .p-menuitem-text, .p-submenu-icon {
                    color: var(--orange-menu-color);
                }

                &:hover {
                    background: var(--orange-topbar-buttons-hover);
                    color: var(--orange-menu-color);
                    .p-menuitem-text, .p-submenu-icon {
                        color: var(--orange-menu-color);
                    }
                }
            }

            > .p-submenu-list {
                background: var(--orange-menubar-submenu-background);

                .p-menuitem .p-menuitem-link {
                    background: var(--orange-menubar-submenu-background);

                    .p-menuitem-text, .p-menuitem-icon {
                        color: var(--orange-text-color);
                    }

                    &:hover {
                        background: var(--orange-menubar-items-hover-background);

                        .p-menuitem-text, .p-menuitem-icon {
                            color: var(--orange-panelmenu-hover-text-color);
                        }
                    }
                }
            }
        }
    }
}

/// *----------Mobile-Theme Specific----------*

.reactUI.basti_mobile {
    .p-inputtext:enabled:focus {
        & + .p-autocomplete-dropdown, & + .p-datepicker-trigger {
            border-color: var(--orange-button-color);
            color: var(--orange-button-color);
        }
    }

    .rc-editor-linked, .rc-editor-date {
        &:hover {
            .p-button.p-button-icon-only {
                &.p-autocomplete-dropdown, &.p-datepicker-trigger {
                    border-color: var(--orange-button-color);
                    color: var(--orange-button-color);
                }
            }

            .p-inputtext {
                border-color: var(--orange-button-color);
            }
        }

        .p-autocomplete-dropdown, .p-datepicker-trigger {
            color: var(--orange-text-color);
        }
    }
}

/// *----------Components----------*

/// Button
.p-button {
    border-radius: var(--orange-button-border-radius);
}

.rc-button {
    &.mouse-border {
        color: var(--orange-text-color);
    }

    &:focus {
        box-shadow: var(--orange-focus-box-shadow);
    }
}

.border-notpainted:not(.p-button-link), .border-notpainted:enabled:hover:not(.p-button-link) {
    color: var(--orange-text-color);
}

/// Checkbox & Radiobutton
.p-checkbox .p-checkbox-box:not(.p-highlight), .p-radiobutton .p-radiobutton-box:not(.p-highlight) {
    background: var(--orange-component-background);
    border: var(--orange-component-border);
}

.p-checkbox {
    &:not(.p-checkbox-disabled) .p-checkbox-box {
        &:hover {
            border-color: var(--orange-border-color-hover);
        }
    
        &.p-focus {
            box-shadow: var(--orange-focus-box-shadow);
            border-color: var(--orange-selected-rb-cb-outer-color);
        }

        &.p-highlight:hover {
            background: var(--orange-selected-rb-cb-outer-hover-color);
            border-color: var(--orange-selected-rb-cb-outer-hover-color);
        }
    }
    
    .p-checkbox-box {
        border-radius: var(--orange-button-border-radius);

        &.p-highlight {
            background: var(--orange-selected-rb-cb-outer-color);
            border-color: var(--orange-selected-rb-cb-outer-color);
        }
    }
}

.p-checkbox-box.p-highlight .p-checkbox-icon {
    color: var(--orange-selected-rb-cb-inner-color);
}

.p-radiobutton {
    .p-radiobutton-box {
        &:not(.p-disabled) {
            .p-focus {
                box-shadow: var(--orange-focus-box-shadow);
            }

            &:not(.p-highlight):hover {
                border-color: var(--orange-selected-rb-cb-outer-color);
            }
        }

        &.p-highlight {
            background: var(--orange-selected-rb-cb-outer-color);
            border-color: var(--orange-selected-rb-cb-outer-color);

            &.p-highlight:hover {
                background: var(--orange-selected-rb-cb-outer-hover-color);
                border-color: var(--orange-selected-rb-cb-outer-hover-color);
            }
        }
    }
}

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
    background: var(--orange-selected-rb-cb-inner-color);
}

/// PopupMenuButton
.rc-popupmenubutton {
    background: var(--orange-button-color);
    border-color: var(--orange-button-color);
    border-radius: var(--orange-button-border-radius);

    &:focus-within {
        box-shadow: var(--orange-focus-box-shadow);
    }
}

.p-menu {
    &.p-menu-overlay {
        background: var(--orange-popupmenubutton-overlay-background);
    }

    .p-menuitem-link:not(.p-disabled):hover {
        background: var(--orange-popupmenubutton-item-hover);
        
        .p-menuitem-text {
            color: var(--orange-text-color);
        }
    }

    .p-menuitem-text{
        color: var(--orange-text-color);
    }
}

/// Togglebutton
.rc-togglebutton:focus {
    box-shadow: var(--orange-focus-box-shadow);
}

/// ChoiceCellEditor
.rc-editor-choice:focus img {
    box-shadow: var(--orange-focus-box-shadow);
}

/// Inputfields
.p-inputtext {
    background: var(--orange-component-background);
    border: var(--orange-component-border);
    border-radius: var(--orange-editor-border-radius);

    &:not(.required-field) {
        color: var(--orange-text-color);
    }

    &:enabled {
        &:focus {
            box-shadow: var(--orange-focus-box-shadow);
            border-color: var(--orange-border-color-hover);
        }

        &:hover {
            border-color: var(--orange-border-color-hover);
        }
    }
}

// .readonly-standard-background.p-inputtext, .readonly-standard-background .p-inputtext {
//     background-color: var(--orange-component-background) !important;
// }

/// DateCellEditor
.p-calendar {
    &:focus-within {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: var(--orange-focus-box-shadow);
        border-radius: var(--orange-editor-border-radius);
    }
    
    input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.p-datepicker {
    border-radius: var(--orange-date-border-radius);

    &:not(.p-datepicker-inline) {
        &, .p-datepicker-header {
            background: var(--orange-date-panel-background);
            color: var(--orange-text-color);
        }
    }

    .p-datepicker-header {
        border-bottom: var(--orange-date-panel-header-border);
        .p-datepicker-title {
            .p-datepicker-month, .p-datepicker-year {
                background-color: var(--orange-date-panel-background);
                color: var(--orange-text-color);
            }

            select:focus {
                box-shadow: var(--orange-focus-box-shadow);
                border-color: var(--orange-border-color-hover);
            }
        }
    } 

    &:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
        color: var(--orange-date-panel-hover-color);
    }

    table td > span.p-highlight {
        background: var(--orange-date-selected-background);
    }
}

/// ImageCellEditor, Icon
.rc-editor-image, .rc-icon, .rc-validator {
    &:focus img {
        box-shadow: var(--orange-focus-box-shadow);
    }
}

/// LinkedCellEditor
.rc-editor-linked {
    &:focus-within {
        box-shadow: var(--orange-focus-box-shadow);
    }

    input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.p-autocomplete-panel {
    background: var(--orange-linked-panel-background);
    border-radius: var(--orange-linked-border-radius);

    .p-autocomplete-items {
        .p-autocomplete-item {
            background: var(--orange-linked-panel-background);
            color: var(--orange-text-color);

            &:hover {
                background: var(--orange-linked-item-hover-background);
                color: var(--orange-panelmenu-hover-text-color);
            }
        }
    }

    &.dropdown-table {
        .p-autocomplete-items {
            /// Swaping odd and even because "table header" is also a child
            & li:nth-child(odd) {
                background: var(--orange-table-row-even-background);
                &:hover {
                    background: var(--orange-table-hover-background);
                }
            }

            & li:nth-child(even) {
                background: var(--orange-table-row-odd-background);
                &:hover {
                    background: var(--orange-table-hover-background);
                }
            }
        }
        .p-autocomplete-item-group > * {
            background: var(--orange-table-header-background);
            color: var(--orange-text-color);
            border-bottom: var(--orange-table-header-border);
        }

        .p-autocomplete-item > * {
            border-bottom: var(--orange-table-row-border);

            &:not(:first-child) {
                border-left: var(--orange-table-row-border);
            }
        }
    }
}

/// HTMLEditor
.p-editor-container {
    .p-editor-toolbar {
        background: var(--orange-html-toolbar-background);
        border: var(--orange-html-toolbar-border);
        border-top-left-radius: var(--orange-editor-border-radius);
        border-top-right-radius: var(--orange-editor-border-radius);

        &.ql-snow {
            border: var(--orange-component-border);

            .ql-formats {
                .ql-picker .ql-picker-label, button {
                    color: var(--orange-text-color);

                    &:hover {
                        color: var(--orange-html-toolbar-button-hover-background);
    
                        svg {
                            polygon, path, line, rect, polyline {
                                stroke: var(--orange-html-toolbar-button-hover-background);
                            }
                        } 
                    }
    
                    svg {
                        polygon, path, line, rect, polyline {
                            stroke: var(--orange-text-color);
                        }
                    }

                    &.ql-source {
                        svg path {
                            fill: var(--orange-text-color);
                        }

                        &:hover {
                            svg path {
                                fill: var(--orange-html-toolbar-button-hover-background);
                            }
                        }
                    } 
                }

                .ql-picker.ql-expanded .ql-picker-options {
                    background: var(--orange-html-picker-expanded-background);

                    .ql-picker-item {
                        color: var(--orange-text-color);

                        &:hover {
                            background: var(--orange-html-picker-item-hover-background);
                        }
                    }
                }
            }
        } 
    }

    .p-editor-content {
        border: var(--orange-component-border);
        border-bottom-left-radius: var(--orange-editor-border-radius);
        border-bottom-right-radius: var(--orange-editor-border-radius);

        .ql-editor {
            background: var(--orange-component-background);
            color: var(--orange-text-color);
            border-bottom-left-radius: var(--orange-editor-border-radius);
            border-bottom-right-radius: var(--orange-editor-border-radius);
        }

        &.ql-snow {
            border: var(--orange-component-border);
            border-top: 0px;
        }
    }
}

.rc-editor-html {
    textarea.p-inputtext {
        border: var(--orange-component-border) !important;
    }
}

/// Table
.rc-table {
    border: var(--orange-component-border);

    table {
        border-style: hidden;
        box-shadow: 0 0 0 1px #e9ecef;
    }

    &.navtable-north {
        border-bottom-left-radius: var(--orange-table-border-radius);
        border-bottom-right-radius: var(--orange-table-border-radius);
    }

    &.navtable-west {
        border-top-right-radius: var(--orange-table-border-radius);
        border-bottom-right-radius: var(--orange-table-border-radius);
        &:not(.p-datatable-scrollable) .p-datatable-thead > tr > th {
            &:last-child {
                border-top-right-radius: var(--orange-table-border-radius);
            }

            &:only-child {
                border-top-left-radius: var(--orange-table-border-radius);
                border-top-right-radius: var(--orange-table-border-radius);
            }
        }

        /// VirtualScroll border radiuses, can probably be deleted after PR update
        .p-datatable-scrollable-header {
            border-top-right-radius: var(--orange-table-border-radius);
        }
    }

    &.navtable-east {
        border-top-left-radius: var(--orange-table-border-radius);
        border-bottom-left-radius: var(--orange-table-border-radius);
        &:not(.p-datatable-scrollable) .p-datatable-thead > tr > th {
            &:first-child {
                border-top-left-radius: var(--orange-table-border-radius);
            }

            &:only-child {
                border-top-left-radius: var(--orange-table-border-radius);
                border-top-right-radius: var(--orange-table-border-radius);
            }
        }

        /// VirtualScroll border radiuses, can probably be deleted after PR update
        .p-datatable-scrollable-header {
            border-top-left-radius: var(--orange-table-border-radius);
        }
    }

    &.navtable-south {
        border-top-left-radius: var(--orange-table-border-radius);
        border-top-right-radius: var(--orange-table-border-radius);
        &:not(.p-datatable-scrollable) .p-datatable-thead > tr > th {
            &:first-child {
                border-top-left-radius: var(--orange-table-border-radius);
            }

            &:last-child {
                border-top-right-radius: var(--orange-table-border-radius);
            }

            &:only-child {
                border-top-left-radius: var(--orange-table-border-radius);
                border-top-right-radius: var(--orange-table-border-radius);
            }
        }
        

        /// VirtualScroll border radiuses, can probably be deleted after PR update
        .p-datatable-scrollable-header {
            border-top-left-radius: var(--orange-table-border-radius);
            border-top-right-radius: var(--orange-table-border-radius);
        }
    }

    &:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south) {
        border-radius: var(--orange-table-border-radius);

        &:not(.p-datatable-scrollable) .p-datatable-thead > tr > th {
            &:first-child {
                border-top-left-radius: var(--orange-table-border-radius);
            }

            &:last-child {
                border-top-right-radius: var(--orange-table-border-radius);
            }

            &:only-child {
                border-top-left-radius: var(--orange-table-border-radius);
                border-top-right-radius: var(--orange-table-border-radius);
            }
        }
    }

    .p-datatable-thead > tr > th {
        background: var(--orange-table-header-background);
        border: var(--orange-table-header-border);

        &.sort-asc, &.sort-des {
            color: var(--orange-table-sort-color);
        }

        .p-sortable-column-icon {
            color: var(--orange-table-sort-color);
        }
    }

    .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
        background: var(--orange-table-hover-background);
        color: var(--orange-text-color);

        &.sort-asc, &.sort-des {
            color: var(--orange-table-sort-color);

            .p-sortable-column-icon {
                color: var(--orange-table-sort-color);
            }
        }
    }

    .p-datatable-tbody > tr {
        background: var(--orange-table-row-odd-background);
        color: var(--orange-text-color);
        > td {
            border: var(--orange-table-row-border);

            &.cell-required {
                background: var(--orange-table-required-odd-background);
                color: var(--orange-table-required-color);
            }

            &.cell-readonly {
                background: var(--orange-table-readonly-odd-background);
            }

            &.p-highlight {
                color: var(--orange-text-color);
            }

            &:hover {
                color: var(--orange-table-cell-hover-color);
            }
        }

        &.p-highlight {
            color: var(--orange-text-color);
            background: var(--orange-table-selected-row-background) !important;

            td {
                &.cell-required {
                    background: var(--orange-table-required-odd-background);
                    opacity: 0.8;
                }

                &.cell-readonly {
                    background: var(--orange-table-readonly-odd-background);
                    opacity: 0.8;
                }
            }
        }

        &:nth-child(even) {
            background: var(--orange-table-row-even-background);

            &.p-highlight {
                background: var(--orange-table-selected-row-background);
                color: var(--orange-text-color);
            }

            > td {
                &.cell-required {
                    background: var(--orange-table-required-even-background);
                }

                &.cell-readonly {
                    background: var(--orange-table-readonly-even-background);
                }
            }

            &.p-highlight > td {
                &.cell-required {
                    background: var(--orange-table-required-even-background);
                    opacity: 0.8;
                }

                &.cell-readonly {
                    background: var(--orange-table-readonly-even-background);
                    opacity: 0.8;
                }
            }
        }
    }

    &.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
        background: var(--orange-table-hover-background);
        color: var(--orange-text-color);
    }
}

/// Toolbar
.rc-toolbar {
    background: var(--orange-toolbar-background);
    border-color: var(--orange-toolbar-border-color);

    &.navbar-north {
        border-top-left-radius: var(--orange-table-border-radius);
        border-top-right-radius: var(--orange-table-border-radius);
    }

    &.navbar-west {
        border-top-left-radius: var(--orange-table-border-radius);
        border-bottom-left-radius: var(--orange-table-border-radius);
    }

    &.navbar-east {
        border-top-right-radius: var(--orange-table-border-radius);
        border-bottom-right-radius: var(--orange-table-border-radius);
    }

    &.navbar-south {
        border-bottom-left-radius: var(--orange-table-border-radius);
        border-bottom-right-radius: var(--orange-table-border-radius);
    }

    &.toolbar-north {
        border-top-left-radius: var(--orange-toolbar-border-radius);
        border-top-right-radius: var(--orange-toolbar-border-radius);
    }

    &.toolbar-west {
        border-top-left-radius: var(--orange-toolbar-border-radius);
        border-bottom-left-radius: var(--orange-toolbar-border-radius);
    }

    &.toolbar-east {
        border-top-right-radius: var(--orange-toolbar-border-radius);
        border-bottom-right-radius: var(--orange-toolbar-border-radius);
    }

    &.toolbar-south {
        border-bottom-left-radius: var(--orange-toolbar-border-radius);
        border-bottom-right-radius: var(--orange-toolbar-border-radius);
    }
}

/// Dialogs
.rc-popup {
    .p-dialog-header {
        background: var(--orange-dialog-header-background);
        color: var(--orange-text-color);
        border-top-left-radius: var(--orange-dialog-border-radius);
        border-top-right-radius: var(--orange-dialog-border-radius);
        border-bottom: var(--orange-dialog-header-border);

        .p-dialog-header-icon {
            color: var(--orange-text-color);

            &:enabled:hover {
                background: #e9ecef;
                color: var(--orange-dialog-icon-hover-color);
            }
        }
    }

    .p-dialog-content {
        background: var(--orange-dialog-content-background);
        color: var(--orange-text-color);
        border-bottom-left-radius: var(--orange-dialog-border-radius);
        border-bottom-right-radius: var(--orange-dialog-border-radius);
    }
}

/// Messages
.rc-message-dialog {
    .p-dialog-header {
        border-top-left-radius: var(--orange-dialog-border-radius);
        border-top-right-radius: var(--orange-dialog-border-radius);
    }

    &.info .p-dialog-header {
        background: var(--orange-message-info-header-background);
        color: var(--orange-message-info-header-color);

        .p-dialog-header-close {
            &:hover {
                background: var(--orange-message-info-header-close-hover);
            }

            .p-dialog-header-close-icon {
                color: var(--orange-message-info-header-color);
            }
        }
    }

    &.warning .p-dialog-header {
        background: var(--orange-message-warning-header-background);
        color: var(--orange-message-warning-header-color);

        .p-dialog-header-close {
            &:hover {
                background: var(--orange-message-warning-header-close-hover);
            }

            .p-dialog-header-close-icon {
                color: var(--orange-message-warning-header-color);
            }
        }
    }

    &.error .p-dialog-header {
        background: var(--orange-message-error-header-background);
        color: var(--orange-message-error-header-color);

        .p-dialog-header-close {
            &:hover {
                background: var(--orange-message-error-header-close-hover);
            }

            .p-dialog-header-close-icon {
                color: var(--orange-message-error-header-color);
            }
        }
    }

    &.question .p-dialog-header {
        background: var(--orange-message-question-header-background);
        color: var(--orange-message-question-header-color);

        .p-dialog-header-close {
            &:hover {
                background: var(--orange-message-question-header-close-hover);
            }

            .p-dialog-header-close-icon {
                color: var(--orange-message-question-header-color);
            }
        }
    }

    .p-dialog-footer {
        border-bottom-left-radius: var(--orange-dialog-border-radius);
        border-bottom-right-radius: var(--orange-dialog-border-radius);
    }

    &.message-dialog-no-footer .p-dialog-content {
        border-bottom-left-radius: var(--orange-dialog-border-radius);
        border-bottom-right-radius: var(--orange-dialog-border-radius);
    }

    .p-dialog-content, .p-dialog-footer {
        background: var(--orange-dialog-content-background);
        color: var(--orange-text-color);
    }
}

/// Info Toasts
#toast-info {
    .p-toast-message {
        background: var(--orange-dialog-content-background);
    }

    .toast-header {
        color: white;

        &.info {
            background: var(--orange-message-info-header-background);

            .toast-header-close {
                color: white;

                &:hover {
                    background: var(--orange-message-info-header-close-hover);
                }
            }
        }
    }
}

/// Error Dialog
.rc-error-dialog {
    background: var(--orange-error-dialog-background);
}

/// GroupPanel
.rc-panel-group-caption {
    border-bottom: var(--orange-component-border);
}

/// TabSetPanel
.p-tabview .p-tabview-nav {
    background: var(--orange-tab-navbar-background);
    color: var(--orange-text-color);
    border: var(--orange-tab-navbar-border);
    border-radius: var(--orange-tab-border-radius);
    padding: 0 var(--orange-tab-border-radius);

    li {
        &:not(.p-highlight) {
            .p-tabview-nav-link {
                color: var(--orange-text-color);
                border-color: transparent transparent var(--orange-tab-border-color) transparent;
            }

            &:not(.p-disabled):hover .p-tabview-nav-link {
                color: var(--orange-text-color);
                background: var(--orange-tab-hover-background);
                border-color: var(--orange-text-color);
            }
        }

        &.p-highlight .p-tabview-nav-link {
            color: var(--orange-tab-selected-color);
            border-color: var(--orange-tab-selected-color);
        }

        .p-tabview-nav-link {
            background: var(--orange-tab-navbar-background);
        }
    }
}

.tabview-button {
    color: var(--orange-tab-close-color);
}

/// Tree
.p-tree {
    background: var(--orange-tree-background);
    border: var(--orange-tree-border);
    color: var(--orange-text-color);
    border-radius: var(--orange-table-border-radius);

    .p-tree-container .p-treenode .p-treenode-content {
        &.p-treenode-selectable:not(.p-highlight):hover {
            background: var(--orange-tree-item-hover-background);
            color: var(--orange-text-color);
        }

        &.p-highlight {
            background: var(--orange-tree-selected-item-background);
            color: var(--orange-text-color);
        }

        &:focus {
            box-shadow: var(--orange-focus-box-shadow);
        }
    }
}

/// Loading-Screen
.loading-screen {
    background: -webkit-radial-gradient(119% 190% at -6% -20%, var(--orange-loading-screen-left-background) 70%, var(--orange-loading-screen-right-background) 70%);
    background: -o-radial-gradient(119% 190% at -6% -20%, var(--orange-loading-screen-left-background) 70%, var(--orange-loading-screen-right-background) 70%);
    background: -moz-radial-gradient(119% 190% at -6% -20%, var(--orange-loading-screen-left-background) 70%, var(--orange-loading-screen-right-background) 70%);
    background: radial-gradient(119% 190% at -6% -20%, var(--orange-loading-screen-left-background) 70%, var(--orange-loading-screen-right-background) 70%);
}

.loading-screen-spinner {
    animation: progress-spinner-color 3s;
}

@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-root-list {
        background: var(--orange-menu-header-background);

        > .p-menuitem {
            background: var(--orange-menu-header-background);
        }
    }
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: var(--orange-loading-spinner-color-1);
    }
    40% {
        stroke: var(--orange-loading-spinner-color-2);
    }
    66% {
        stroke: var(--orange-loading-spinner-color-3);
    }
    80%,
    90% {
        stroke: var(--orange-loading-spinner-color-4);
    }
}