.btr-mobile {
    .p-inputtext {
        border-width: 0 0 2px 0;
        border-color: #CCCCCC;
        border-style: solid;
        border-radius: 0;

        &:enabled:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }

    .rc-editor-linked, .rc-editor-date {
        &:focus-within {
            box-shadow: none;
            -webkit-box-shadow: none;        
        }

        &:hover {
            .p-inputtext, .p-button.p-button-icon-only {
                &.p-autocomplete-dropdown, &.p-datepicker-trigger {
                    border-color: var(--btnDefaultBgd);
                }
            }

            .p-button.p-button-icon-only {
                &.p-autocomplete-dropdown, &.p-datepicker-trigger {
                    color: var(--btnDefaultBgd);
                }
            }

        }

        .p-autocomplete-dropdown, .p-datepicker-trigger {
            color: var(--standardTextColor);
        }
    }

    .p-button.p-button-icon-only {
        &.p-autocomplete-dropdown, &.p-datepicker-trigger {
            border-width: 0 0 2px 0;
            border-color: #CCCCCC;
            border-style: solid;
            border-radius: 0;
        }
    }
}