/// Inline-flex for alignment
.rc-radiobutton {
    --radioJustify: flex-start;
    --radioAlign: center;
    --radioPadding: 0;

    &.radio-action-group {
        //--radioPadding: 0.563rem 0rem;
    }
    
    display: flex;
    justify-content: var(--radioJustify);
    align-items: var(--radioAlign);
    padding: var(--radioPadding);

    .p-radiobutton-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .p-radiobutton {
        justify-content: center;
        align-items: center;
        height: unset;
        width: unset;
    }
}

.gap-top {
    .p-radiobutton {
        margin-top: var(--iconTextGap);
    }
}

.gap-left {
    .p-radiobutton {
        margin-left: var(--iconTextGap);
    }
}

.gap-right {
    .p-radiobutton {
        margin-right: var(--iconTextGap);
    }
}

.gap-bottom {
    .p-radiobutton {
        margin-bottom: var(--iconTextGap);
    }
}

.icon-center-left {
    .p-radiobutton {
        margin-left: var(--iconCenterGap);
    }
}

.icon-center-right {
    .p-radiobutton {
        margin-right: var(--iconCenterGap);
    }
}

.textcolor-set {
    color: inherit;
}