/// Inline-flex for alignment
.rc-radiobutton {
    --radioJustify: flex-start;
    --radioAlign: center;
    --radioPadding: 0;
    &.radio-action-group {
        --radioPadding: 0.563rem 0rem;
    }
    
    display: inline-flex;

    justify-content: var(--radioJustify);
    align-items: var(--radioAlign);
    padding: var(--radioPadding);
}

.p-radiobutton-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.p-radiobutton {
    align-self: center;
    justify-content: center;
    align-items: center;
    height: unset;
    width: unset;

    .p-radiobutton-box {
        height: 12px;
        width: 12px;
    
        .p-radiobutton-icon {
            width: 8px;
            height: 8px;
        }
    }

    .gap-top & {
        margin-top: var(--iconTextGap);
    }
    .gap-left & {
        margin-left: var(--iconTextGap);
    }
    .gap-right & {
        margin-right: var(--iconTextGap);
    }
    .gap-bottom & {
        margin-bottom: var(--iconTextGap);
    }
    .icon-center-left & {
        margin-left: var(--iconCenterGap)
    }
    .icon-center-right & {
        margin-right: var(--iconCenterGap)
    }
}

.textcolor-set {
    color: inherit;
}