.parent-grid {
    .p-col-12 {
        .p-panel {
            .p-toggleable-content {
                height: calc(100% - 39px);
                .p-panel-content {
                    height: 100%;
                }
            }
        }
    }
}

.borderlayout {
    .p-grid {
        margin-top: 0;
        .p-col {
            padding: 0;
            .p-col-12 {
                padding: 0;
                .p-toggleable-content {
                    height: calc(100% - 39px);
                    .p-panel-content {
                        height:100%;
                        padding: 0;
                        border: none;
                        .p-toggleable-content {
                            height: 100%
                        }
                    }
                }
            }
        }
    }
}