.split, .gutter.gutter-horizontal {
    display: inline-flex;
    height: 100%;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    display: inline-flex;
}

.splitHolder {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}