.popupmenu {
    .p-menuitem {
        .p-menuitem-link {
            color: inherit;
            .p-menuitem-icon {
                color: inherit;
            }
        }
        .p-menuitem-link:not(.p-disabled):hover {
            color: inherit;
            .p-menuitem-icon {
                color: inherit;
            }
        }
    }
}

.p-button {
    >i {
        color: black
    }
}