@import '../../../../frontmask/scssutil/buttonColors.scss';

.rc-popupmenubutton-wrapper {
    outline-width: 0;
    outline-style: none;
}

/// background and border-color set because children need to inherit
/// Inherit height and width from parent who has set it by the layout
.rc-popupmenubutton {
    --menuBtnSplitWidth: 38px;
    height: inherit;
    width: inherit;
    border-radius: 3px;
    &:hover {
        .p-splitbutton-defaultbutton, .p-splitbutton-menubutton {
            background: inherit;
            border-color: inherit;
            color: inherit;
        }
    }
    /// When either of the children is focused, display a blue shadow to show the button is focused
    &:focus-within {
        outline-width: 0;
        outline-style: none;
    }
    @include btnHover;
}

.p-splitbutton-defaultbutton, .p-splitbutton-menubutton {
    background: inherit;
    border-color: inherit;
    color: inherit;

    @include btnHover;
}



.p-splitbutton {
    --menuBtnJustify: center;
    --menuBtnAlign: center;
}

.p-splitbutton-defaultbutton {
    justify-content: var(--menuBtnJustify);
    align-items: var(--menuBtnAlign);
    padding: var(--menuBtnPadding, 0.5rem 0rem 0.5rem 1rem);
}

.p-button.p-splitbutton-menubutton, .p-button.p-splitbutton-defaultbutton {
    box-shadow: none;
}

/// Fixed width for menubutton part of splitbutton
.p-button.p-splitbutton-menubutton {
    width: var(--menuBtnSplitWidth);
    padding: 0.5rem 0.5rem 0.5rem 0px;
}

.rc-popupmenubutton-custom-icon {
    margin-right: 4px;
}

.basti {
    .p-splitbutton-defaultbutton {
        padding: var(--menuBtnPadding, var(--basti-menubtn-leftbtn-padding, 0.5rem 0rem 0.5rem 1rem));
    }

    .p-button.p-splitbutton-menubutton {
        padding: var(--basti-menubtn-rightbtn-padding);
    }
}

.basti_small {
    .p-splitbutton-defaultbutton {
        padding: var(--menuBtnPadding, var(--bastis-menubtn-leftbtn-padding, 0.125rem 0rem 0.125rem 0.25rem));
    }

    .p-button.p-splitbutton-menubutton {
        padding: var(--bastis-menubtn-rightbtn-padding);
    }
}

.p-menu {
    .p-menuitem-text {
        line-height: unset;
    }

    .fa, .pi {
        font-size: 14px;
    }
} 