@import '../../../../application-frame/scssutil/buttonColors.scss';

.rc-popupmenubutton-wrapper {
    outline-width: 0;
    outline-style: none;
}

/// background and border-color set because children need to inherit
/// Inherit height and width from parent who has set it by the layout
.rc-popupmenubutton {
    --menuBtnSplitWidth: 38px;
    height: inherit;
    width: inherit;
    border-radius: 3px;
    &:hover {
        .p-splitbutton-defaultbutton, .p-splitbutton-menubutton {
            background: inherit;
            border-color: inherit;
            color: inherit;
        }
    }
    /// When either of the children is focused, display a blue shadow to show the button is focused
    &:focus-within {
        outline-width: 0;
        outline-style: none;
    }
    @include btnHover;

    .p-splitbutton {
        --menuBtnJustify: center;
        --menuBtnAlign: center;
    }

    .p-splitbutton-defaultbutton {
        justify-content: var(--menuBtnJustify);
        align-items: var(--menuBtnAlign);
        padding: var(--menuBtnPadding, 0.5rem 0rem 0.5rem 1rem);
    }

    .p-splitbutton-defaultbutton, .p-splitbutton-menubutton {
        background: inherit;
        border-color: inherit;
        color: inherit;
    
        @include btnHover;
    }

    .p-button.p-splitbutton-menubutton, .p-button.p-splitbutton-defaultbutton {
        box-shadow: none;
    }

    /// Fixed width for menubutton part of splitbutton
    .p-button.p-splitbutton-menubutton {
        width: var(--menuBtnSplitWidth);
        padding: 0.5rem 0.5rem 0.5rem 0px;
    }

    .p-menu {
        .p-menuitem-text {
            line-height: unset;
        }
    
        .fa, .pi {
            font-size: 14px;
        }
    }
}

.rc-popupmenubutton-custom-icon {
    margin-right: 4px;
}
