.rc-popup.change-dialog .change-dialog-container {
  display: flex;
  justify-content: center;
  padding: var(--loginFormTBPadding) var(--loginFormLRPadding);
  
  .change-password-form {
    display: flex;
    flex-direction: column;
  
    .p-inputtext {
      width: 100%;
    }
  
    .change-password-label {
      width: calc(100% - 2rem);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.change-password-button-wrapper {
  display: flex;
  justify-content: space-between;

  .p-button-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}