:root {
  --login-form-top-bottom-padding: 30px;
  --login-form-left-right-padding: 40px;
  --login-form-field-margin: 1.5rem;
  --header-height: 70px;
  --topbar-buttons: 40px;
  --topbar-buttons-small: 25px;
  --profile-height: 60px;
  --profile-width-small: 60px;
  --profile-padding: 0.25rem 0.5rem;
  --profile-pic: 35px;
  --s-menu-header-padding: 0.5rem 1rem 0.5rem 0.625rem;
  --s-menu-item-padding: 0.375rem 0.75rem 0.375rem 1.5rem;
  --c-menu-header-padding: 0.75rem 0.5rem;
  --c-menu-item-padding: 0.25rem 0.5rem;
  --input-padding: 0.125rem 0.125rem;
  --input-button-padding: 0rem 0.125rem;
  --input-button-icon-size: 12px;
  --button-padding: 0.125rem 0.25rem;
  --button-icon-only-padding: 0.125rem 0.125rem;
  --menubtn-leftbtn-padding: 0.125rem 0rem 0.125rem 0.25rem;
  --menubtn-rightbtn-padding: 0rem 0.125rem 0rem 0.125rem;
  --checkbox-size: 14px;
  --radiobutton-size: 14px;
  --tab-padding: 0rem 0.5rem;
  --table-header-padding: 0.3rem 0.5rem;
  --table-data-height: 18px;
  --label-padding: 2.25px; }

.login-form .p-fluid {
  padding: calc(var(--login-form-top-bottom-padding) / 2) var(--login-form-left-right-padding) var(--login-form-top-bottom-padding); }
  .login-form .p-fluid .p-field {
    margin-bottom: var(--login-form-field-margin); }

.login-form .login-logo-wrapper {
  padding: var(--login-form-top-bottom-padding) var(--login-form-left-right-padding) calc(var(--login-form-top-bottom-padding) / 2); }

.basti_small .menu-header {
  height: var(--header-height); }

.basti_small .p-button.p-button-icon-only.menu-topbar-buttons {
  width: var(--topbar-buttons);
  height: var(--topbar-buttons); }

.basti_small .profile-menu .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  height: var(--profile-height);
  padding: var(--profile-padding); }

.basti_small .profile-image, .basti_small .profile-image-null {
  width: var(--profile-pic);
  height: var(--profile-pic); }

.basti_small .profile-image {
  background-size: var(--profile-pic) var(--profile-pic); }

.basti_small .profile-image-null::before {
  font-size: calc(var(--profile-pic) - 2px); }

.basti_small .p-panelmenu .p-panelmenu-header > a {
  padding: var(--s-menu-header-padding); }

.basti_small .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled) {
  padding: var(--s-menu-item-padding); }

.basti_small .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) {
  padding: var(--c-menu-header-padding); }

.basti_small .p-menubar .p-menuitem-link {
  padding: var(--c-menu-item-padding); }

.basti_small .p-inputtext {
  padding: var(--input-padding); }

.basti_small .rc-button {
  padding: var(--btnPadding, var(--button-padding, 0.125rem 0.25rem)); }

.basti_small .p-button.p-button-icon-only:not(.rc-toolbar-button) {
  padding: var(--btnPadding, var(--button-icon-only-padding, 0.25rem 0.25rem)); }

.basti_small .p-button.p-button-icon-only.p-autocomplete-dropdown, .basti_small .p-button.p-button-icon-only.p-datepicker-trigger {
  padding: var(--input-button-padding); }
  .basti_small .p-button.p-button-icon-only.p-autocomplete-dropdown > .p-button-icon, .basti_small .p-button.p-button-icon-only.p-datepicker-trigger > .p-button-icon {
    font-size: var(--input-button-icon-size); }

.basti_small .p-checkbox {
  width: var(--checkbox-size);
  height: var(--checkbox-size); }
  .basti_small .p-checkbox .p-checkbox-box {
    width: var(--checkbox-size);
    height: var(--checkbox-size); }
    .basti_small .p-checkbox .p-checkbox-box .p-checkbox-icon {
      font-size: calc(var(--checkbox-size) * 0.7); }

.basti_small .p-radiobutton .p-radiobutton-box {
  width: var(--radiobutton-size);
  height: var(--radiobutton-size); }
  .basti_small .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    height: calc(var(--radiobutton-size) * 0.6);
    width: calc(var(--radiobutton-size) * 0.6); }

.basti_small .p-splitbutton-defaultbutton {
  padding: var(--menuBtnPadding, var(--menubtn-leftbtn-padding, 0.125rem 0rem 0.125rem 0.25rem)); }

.basti_small .p-button.p-splitbutton-menubutton {
  padding: var(--menubtn-rightbtn-padding); }

.basti_small .rc-togglebutton {
  padding: var(--btnPadding, var(--button-padding, 0.125rem 0.25rem)); }

.basti_small .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: var(--tab-padding); }

.basti_small .rc-table .p-datatable-thead > tr > th {
  padding: var(--table-header-padding); }

.basti_small .rc-table .p-datatable-tbody > tr > td {
  height: calc(8px + var(--table-data-height)); }
  .basti_small .rc-table .p-datatable-tbody > tr > td:not(.ChoiceCellEditor):not(.CheckBoxCellEditor) {
    height: var(--table-data-height); }

.basti_small .rc-label > span {
  padding: var(--label-padding) 0px; }

@media screen and (max-width: 960px) {
  .basti_small .profile-menu .p-menubar .p-menubar-root-list .p-submenu-list {
    left: calc(var(--profile-width-small) - var(--s-menu-profile-mini-sub-width)); }
  .basti_small .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled), .basti_small .profile-menu .p-menubar .p-menubar-root-list.p-menuitem-active > .p-menuitem-link:not(.p-disabled) {
    width: var(--profile-width-small);
    padding: 0; } }

@media screen and (max-width: 530px) {
  .basti_small .p-button.p-button-icon-only.menu-topbar-buttons {
    width: var(--topbar-buttons-small);
    height: var(--topbar-buttons-small); } }
