:root {
  --bastim-font-size: 18px;
  --bastim-topbar-height: 35px;
  --bastim-topbar-buttons-small: 30px;
  --bastim-profile-size-small: 35px;
  --bastim-profile-image-size: 30px; }

.basti_mobile .p-component, .basti_mobile body {
  font-size: var(--bastim-font-size); }

.basti_mobile .c-menu .c-menu-menubar .p-menubar {
  height: unset; }

.basti_mobile .p-inputtext {
  border-width: 0 0 2px 0;
  border-color: #CCCCCC;
  border-style: solid;
  border-radius: 0; }
  .basti_mobile .p-inputtext:enabled:focus {
    box-shadow: none;
    -webkit-box-shadow: none; }
    .basti_mobile .p-inputtext:enabled:focus + .p-autocomplete-dropdown, .basti_mobile .p-inputtext:enabled:focus + .p-datepicker-trigger {
      border-color: var(--default-button-color);
      color: var(--default-button-color); }

.basti_mobile .rc-editor-linked:focus-within, .basti_mobile .rc-editor-date:focus-within {
  box-shadow: none;
  -webkit-box-shadow: none; }

.basti_mobile .rc-editor-linked:hover .p-button.p-button-icon-only.p-autocomplete-dropdown, .basti_mobile .rc-editor-linked:hover .p-button.p-button-icon-only.p-datepicker-trigger, .basti_mobile .rc-editor-date:hover .p-button.p-button-icon-only.p-autocomplete-dropdown, .basti_mobile .rc-editor-date:hover .p-button.p-button-icon-only.p-datepicker-trigger {
  border-color: var(--default-button-color);
  color: var(--default-button-color); }

.basti_mobile .rc-editor-linked:hover .p-inputtext, .basti_mobile .rc-editor-date:hover .p-inputtext {
  border-color: var(--default-button-color); }

.basti_mobile .rc-editor-linked .p-autocomplete-dropdown, .basti_mobile .rc-editor-linked .p-datepicker-trigger, .basti_mobile .rc-editor-date .p-autocomplete-dropdown, .basti_mobile .rc-editor-date .p-datepicker-trigger {
  color: var(--default-text-color); }

.basti_mobile .rc-editor-linked .p-button:focus, .basti_mobile .rc-editor-date .p-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none; }

.basti_mobile .rc-editor-date .p-datepicker-trigger {
  background: var(--dateBackground); }

.basti_mobile .rc-editor-linked .p-autocomplete-dropdown {
  background: var(--linkedBackground); }

.basti_mobile .p-button.p-button-icon-only.p-autocomplete-dropdown, .basti_mobile .p-button.p-button-icon-only.p-datepicker-trigger {
  border-width: 0 0 2px 0;
  border-color: #CCCCCC;
  border-style: solid;
  border-radius: 0; }

@media screen and (max-width: 530px) {
  .basti_mobile .menu-header {
    height: var(--bastim-topbar-height); }
  .basti_mobile .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    height: var(--bastim-profile-size-small); }
    .basti_mobile .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled), .basti_mobile .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link.p-menuitem-active > .p-menuitem-link:not(.p-disabled) {
      width: var(--bastim-profile-size-small); }
  .basti_mobile .profile-image, .basti_mobile .profile-image-null {
    width: var(--bastim-profile-image-size);
    height: var(--bastim-profile-image-size); }
  .basti_mobile .profile-image {
    background-size: var(--bastim-profile-image-size) var(--bastim-profile-image-size); }
  .basti_mobile .profile-image-null::before {
    font-size: calc(var(--bastim-profile-image-size) - 2px); }
  .basti_mobile .p-button.p-button-icon-only.menu-topbar-buttons {
    width: var(--bastim-topbar-buttons-small);
    height: var(--bastim-topbar-buttons-small);
    padding: 0; }
  .basti_mobile .menu-panelmenu-wrapper {
    padding-top: var(--bastim-topbar-height); }
  .basti_mobile .main--with-s-menu.desktop-panel-enabled:not(.menu-not-visible) {
    margin-top: var(--bastim-topbar-height); } }
