td{
    height: 1px;
    padding: 0 !important;
    border-color: #191919 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr.p-highlight{
    background: #007ad9 !important;
}

.loading-text {
    display: block;
    background-color: #f1f1f1;;
    min-height: 19px;
    animation: pulse 0.4s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}

.cellData{
    padding: 8px 16px;
}

.p-datatable {
    .p-datatable-tbody {
        >tr {
            &:focus {
                outline: none;
            }
            ::-moz-focus-inner {
                border: 0;
            }
            >td.ChoiceCellEditor, >td.CheckBoxCellEditor {
                text-align: center;
                >.cellData {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            >td {
                >.cellData{
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            >td.NumberCellEditor {
                text-align: right;

            }
        } 
    }
}
