table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    /*table-layout: fixed;*/
}

td {
    text-align: center;
    height: auto;
}

tr {
    height: 0;
    background-color: #f9f9f9
}

tr:hover {background-color:#c5c5c5;}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(even):hover {
    background-color: #c5c5c5;
}