td{
    height: 1px;
    padding: 0 !important;
    border-color: #191919 !important;

}

tr.p-highlight{
    background: #007ad9 !important;
}

tr:nth-child(odd).p-highlight{
    background: #007ad9 !important;
}

tr:nth-child(odd){
    background: #c5c5c5 !important;
    border-color: black;
}

.cellData{
    padding: 8px 16px;
}

.p-datatable {
    .p-datatable-tbody {
        >tr {
            >td.ChoiceCellEditor, >td.CheckBoxCellEditor {
                text-align: center;
                >.cellData {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            >td.TextCellEditor, >td.DateCellEditor {
                >.cellData{
                    display: flex;
                    align-items: center;
                }
            }
            >td.NumberCellEditor {
                text-align: right;
                >.cellData {
                    display: flex;
                    align-items: center;
                }
            }
        } 
    }
}
