td{
    height: 1px;
    padding: 0 !important;
    border-color: #191919 !important;

}



.cellData{
    padding: 8px 16px;
}

tr:nth-child(odd) {
    background: #c5c5c5 !important;
    border-color: black;
}