table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 8px;
    height: auto;
}

tr {
    height: 0;
}

tr:hover {background-color:#c5c5c5;}