tr.p-highlight{
    background: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%) !important;
}

.jvxTable {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-collapse: collapse;

    .p-datatable-wrapper {
        height: inherit;
    }
    .p-datatable-thead {
        >tr {
            >th {
                color: inherit;
                border-width: 0px 1px 1px 1px;
                .pi-sort-alt {
                    display: none;
                }
            }
        }
    }
    .p-datatable-tbody {
        >tr {
            &:nth-child(even) {
                background-color: #f5f5f5;
            }
            &:focus {
                outline: none;
            }
            ::-moz-focus-inner {
                border: 0;
            }
            >td {
                height: 1px;
                padding: 0.2rem 0.4rem;
                overflow: hidden;
                text-overflow: ellipsis;
                border-width: 0px 0px 1px 0px !important;
                &.ChoiceCellEditor, &.CheckBoxCellEditor {
                    text-align: center;
                    >.cellData {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &.NumberCellEditor {
                    text-align: right;
                }
                >.cellData{
                    padding: 6.5px 8.688px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.loading-text {
    display: block;
    background-color: #f1f1f1;;
    min-height: 19px;
    animation: pulse 0.4s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}