html, body, #root {
    height: 100%;
}

.content-sidemenu {
    padding-top: 80px;
    margin-left: 200px;
    height: 100%;
    overflow: auto;
    transition:0.3s;
      -webkit-transition:0.3s;
      -moz-transition:0.3s;
    transition-delay: .2s;
    min-height: 100%;
}
  
  .stretched {
    margin-left: 0px;
    transition:0.3s;
      -webkit-transition:0.3s;
      -moz-transition:0.3s;
    transition-delay: .3s;
}
  
  .content-topmenu {
    .p-grid {
        margin-top: -70px;
        margin-left: 34px;
        margin-right: 34px;
    }
} 
  
  .content-sidemenu {
    .p-grid {
        padding-top: 25px;
        margin-right: 0;
    }
} 
  
  .zahlungen {
    padding: 15px;
    font-weight: bold;
}
  
  .p-col-4 {
    padding: 1em;
    padding-top: 0;
}
  
  @media only screen and (max-width: 945px) {
    .content-topmenu {
        .p-grid {
            margin-top: -20px;
        }
    }

    .profile {
        .p-menubar {
            display: block;
        }
    }
}