/*Variables*/
/*Variables for dark theme*/
$bgdDark: #383736;
$colorDark: white;
/*Variables for light theme*/
$bgdLight: #98989e;
$colorLight: black;
/*Variables for blue theme*/
$bgdBlue: #2f2cdd;
$colorBlue: white;

/*Styling*/
/*mixin for themes*/
@mixin theme-colors($dark, $light, $blue) {
  @if $dark {
    .footer-sidemenu {
      background-color: $bgdDark;
      color: $colorDark;
      padding: 20px;
    }
    .footer-topmenu {
      background-color: $bgdDark;
      color: $colorDark;
      padding: 20px;
    }
  }
  @else if $light {
    .footer-sidemenu {
      background-color: $bgdLight;
      color: $colorLight;
      padding: 20px;
    }
    .footer-topmenu {
      background-color: $bgdLight;
      color: $colorLight;
      padding: 20px;
    }
  }
  @else if $blue {
    .footer-sidemenu {
      background-color: $bgdBlue;
      color: $colorBlue;
      padding: 20px;
    }
    .footer-topmenu {
      background-color: $bgdBlue;
      color: $colorBlue;
      padding: 20px;
    }
  }
}

//usage of the mixin based on theme
main {
  &.dark {
      @include theme-colors($dark: true,$light: false ,$blue: false);
  }
  &.light {
      @include theme-colors($dark: false,$light: true ,$blue: false);
  }
  &.blue {
      @include theme-colors($dark: false,$light: false ,$blue: true);
  }
}


/*Animation*/
.footer-sidemenu {
  transition:0.3s;
      -webkit-transition:0.3s;
      -moz-transition:0.3s;
      transition-delay: .2s;
}

/*Stretch to the left of screen*/
.stretched {
  margin-left: 0;
  transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
  transition-delay: .3s;
}

/*fixed position to bottom*/
.fixedPos {
  position: fixed;
  bottom: 0;
  width: 100%;
}