html, body, #root {
    height: 100%;
  }

.menu {
    height: 100%;
    background-color: #eeeeee;
}

.topBar {
    background: rgb(45,34,231);
    background: linear-gradient(0deg, rgba(45,34,231,1) 0%, rgba(84,84,236,1) 34%, rgba(0,212,255,1) 85%);
}

.topBar .p-menubar {
    border: none;
    background-color: inherit;
}

body .p-menubar .p-menuitem-link .p-menuitem-icon {
    font-size: 1.5em;
    font-weight: bold;
}

 .p-menubar .p-menubar-custom {
    float: right;
    font-weight: bold;
    font-size: 20px;
} 

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link>.p-submenu-icon {
    display: none
}

.grid-wrapper{
    padding-top: 5px;
    background-color: #eeeeee;
    color: #6b6b6b;
    font-weight: bold;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: #dfdfdf;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
  }

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.8);
    color: black;
    font-weight: normal;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    border-radius: 5%;
    margin: 2%;
    overflow: auto;
    -webkit-box-shadow: 7px 10px 45px -36px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 45px -36px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 45px -36px rgba(0,0,0,0.75);
  }