/*Variables*/
/*Variables for dark theme*/
$bgdDark: #4f5965;
$btnDark: white;
$btnHovDark: black;
$searchDark: #5a6673;
$searchIconDark: white;
/*Variables for light theme*/
$bgdLight: #f4f4f4;
$btnLight: #c5c5c5;
$btnHovLight: black;
$searchLight: #e7e7e7;
$searchIconLight: black;
/*Variables for blue theme*/
$bgdBlue: #457fca;
$btnBlue: white;
$btnHovBlue: black;
$searchBlue: #2f6fd4;
$searchIconBlue: white;
/*other*/
$shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);

/*Styling*/
/*mixin for themes*/
@mixin theme-colors($dark, $light, $blue) {
    @if $dark {
        & .topBar {
            background-color:$bgdDark;
            .p-inputgroup {
                .p-inputgroup-addon, .p-inputtext {
                    background-color: $searchDark;
                    border: 1px transparent;
                }
                .p-inputgroup-addon, .p-inputtext::placeholder {
                    color: $searchIconDark;
                }
            }
            .button-sidemenu {
                color: $btnDark;
                :hover {
                    color: $btnHovDark;
                    cursor: pointer;
                }
            }
        }
    }
    @else if $light {
        & .topBar {
            background-color:$bgdLight;
            .p-inputgroup {
                .p-inputgroup-addon, .p-inputtext {
                    background-color: $searchLight;
                    border: 1px transparent;
                }
                .p-inputgroup-addon, .p-inputtext::placeholder {
                    color: $searchIconLight;
                }
            }
            .button-sidemenu {
                color: $btnLight;
                :hover {
                    color: $btnHovLight;
                    cursor: pointer;
                }
            }
        }
    }
    @else if $blue {
        & .topBar {
            background-color:$bgdBlue;
            .p-inputgroup {
                .p-inputgroup-addon, .p-inputtext {
                    background-color: $searchBlue;
                    border: 1px transparent;
                }
                .p-inputgroup-addon, .p-inputtext::placeholder {
                    color: $searchIconBlue;
                }
            }
            .button-sidemenu {
                color: $btnBlue;
                :hover {
                    color: $btnHovBlue;
                    cursor: pointer;
                }
            }
        }
    }
}

/*use the mixin in main*/
main {
    &.dark {
        @include theme-colors($dark: true,$light: false ,$blue: false);
    }
    &.light {
        @include theme-colors($dark: false,$light: true ,$blue: false);
    }
    &.blue {
        @include theme-colors($dark: false,$light: false ,$blue: true);
    }
}

/*custom avatar icon for profile*/
.avatar-icon::before{
    background-image: url(imgs/avatar.jfif);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    content:"";
}

/*Positioning*/
.topBar {
    position: fixed;
    top:0;
    height: 80px;
    display: flex;
    width: 100%;
    padding-right: 10px;
    z-index: 2;
    -webkit-box-shadow: $shadow ;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

.logo-sidemenu, .button-sidemenu, .searchbar-sidemenu  {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo-sidemenu {
    padding-top: 10px;
}

.searchbar-sidemenu {
    margin-left: auto;
}

.button-sidemenu {
    margin-left: 20px;
}

.p-inputgroup {
    .p-inputtext {
        padding-left: 2px;
    }
} 

img {
    width: 190px;
    height: 40px;
    border-radius: 5%;
    margin-left: 5px;
  }

.menu-container  {
    position: fixed;
    top: 80px;
    width: 200px;
    height: 100%;
    left: 0;
    background-color: white;
    z-index: 1;
}

body {
    .p-tieredmenu {
        width: 100%;
        border-radius: 0;
        border: none;
    }    
}

/*Animation*/
@keyframes hide{
    0% { transform: translate(0);}
    20% { transform: translate(5px);}
    100% { transform: translate(-120vw);}
  }
  
  @keyframes show {
    0% { transform: translate(-120vw);}
    80% { transform: translate(-5px);}
    100% { transform: translate(0vw);}
  }
  
  .hide {
    animation: hide 0.5s forwards ease-in-out;
    animation-delay: .2s;
  }
  
  .show {
    animation: show 0.5s forwards ease-in-out;
  }