html, body, #root {
    height: 100%;
  }
  
.topBar {
    position: fixed;
    top:0;
    background-color:#4f5965;
    color: white;
    height: 80px;
    display: flex;
    width: 100%;
    padding-right: 10px;
    z-index: 2;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
}

.logo-sidemenu, .button-sidemenu, .projecttitle, .searchbar-sidemenu  {
    display: flex;
    height: 100%;
    align-items: center;
}

.projecttitle {
    margin: 0 auto;
    font-size: x-large;
    font-weight: bold;
}

.searchbar-sidemenu {
    margin-left: auto;
    border: 2px;
}

.button-sidemenu {
    margin-left: 20px;
}

.button-sidemenu:hover {
    cursor: pointer;
    color: #000000;
}

body .p-inputgroup .p-inputgroup-addon, body .p-inputgroup .p-inputtext{
    background-color: #5a6673;
    border: 1px transparent;
}

body .p-inputgroup .p-inputgroup-addon, body .p-inputgroup .p-inputtext::placeholder{
    color: white;
}
.p-inputgroup .p-inputgroup-addon {
    border-right: none;
}

.p-inputgroup .p-inputtext {
    padding-left: 2px;
}

img {
    width: 190px;
    height: 40px;
    border-radius: 5%;
    margin-left: 5px;
  }

.menu-container  {
    position: fixed;
    top: 80px;
    width: 200px;
    height: 100%;
    left: 0;
    background-color: white;
    z-index: 1;
}

@keyframes hide{
    0% { transform: translate(0);}
    20% { transform: translate(5px);}
    100% { transform: translate(-120vw);}
  }
  
  @keyframes show {
    0% { transform: translate(-120vw);}
    80% { transform: translate(-5px);}
    100% { transform: translate(0vw);}
  }
  
  .hide {
    animation: hide 0.5s forwards ease-in-out;
    animation-delay: .2s;
  }
  
  .show {
    animation: show 0.5s forwards ease-in-out;
  }

.p-tieredmenu {
    width: 100%;
    border: none;
}

body .p-tieredmenu {
    border-radius: 0;
    border: none;
}

.avatar-icon::before{
    background-image: url(imgs/avatar.jfif);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    content:"";
}

body .p-tieredmenu .p-menuitem .p-menuitem-link .p-submenu-icon {
    font-size: 1em;
}