.settings-content-side {
    padding-top: 100px;
    margin-left: 200px;
    transition:0.3s;
      -webkit-transition:0.3s;
      -moz-transition:0.3s;
      transition-delay: .2s;
}
  
.p-grid {
    margin-right: 0;
}
  
.settings-content-top {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -70px;
}
  
@media only screen and (max-width: 1575px) {
    .settings-content-top {
        margin-top: -50px;
    }
}
  
@media only screen and (max-width: 1207px) {
    .settings-content-top {
        margin-top: -25px;
    }
}
  
.stretched {
      margin-left: 0px;
      transition:0.3s;
        -webkit-transition:0.3s;
        -moz-transition:0.3s;
      transition-delay: .3s;
}
  
.menucard {
      overflow-wrap: break-word;
      margin-left: 20px;
}
  
.p-card-title {
      overflow-wrap: break-word;
}