.topMenuBar {
    height: 80px;
    padding-bottom: 125px;
    background-color:#4f5965;
    display: flex;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
}

.logo-topmenu, .searchbar-topmenu {
    padding-top: 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.logo-topmenu {
    padding-left: 50px
}

body .p-menubar {
    height: 100%;
}

.button-topmenu {
    display: none;
    padding-top: 27px;
}

.button-topmenu, .profile {
    color: white;
    cursor: pointer;
}

.profile {
    padding-top: 13px;
    padding-right: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-content:hover {
    border-bottom: 2px solid white;
}

.profile-content {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.profile-options {
    position: fixed;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    overflow: auto;
    list-style: none;
    border: 1px solid #c8c8c8;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
}

.profile-options-item {
    background-color: white;
    padding: 0.714em 0.857em;
}

.profile-options-item:hover {
    background-color: #eaeaea;
}

.profile-options-link, .profile-options-link:hover {
    display: block;
    color:black;
    background-color: inherit;
}

.profile-options-text {
    margin-left: 10px;
}

.avatar {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    margin-right: 10px;
}

.button-topmenu:hover {
    color: black;
}

@media only screen and (max-width: 1575px) {
    .topMenuBar {
        padding-bottom: 150px;
    }
}

@media only screen and (max-width: 1207px) {
    .topMenuBar {
        padding-bottom: 175px;
    }
}

@media only screen and (min-width: 1075px) {
    body .p-menubar {
        padding-top: 8px;
        padding-left: 130px;
    }
}

@media only screen and (max-width: 1075px) {
    body .p-menubar {
        padding-top: 8px;
    }
}

@media only screen and (max-width: 945px) {
    .topMenuBar {
        padding-bottom: 125px;
    }
    
    body .p-menubar {
        display: none;
    }

    .button-topmenu {
        display: flex;
    }

    .logo-topmenu, .searchbar-topmenu {
        padding-top: 45px;
    }

    .profile {
        padding-top: 26px;
    }
}

@media only screen and (max-width: 705px) {
    .logo-topmenu {
        display: none;
    }
}

.p-grid{
    margin: 0;
}

.p-col {
    flex-grow: 1
}

body .p-menubar {
    background-color: inherit;
    border: inherit;
}

body .p-menubar .p-menuitem-link .p-menuitem-text,  body .p-menubar .p-menuitem-link .p-menuitem-icon, body .p-menubar .p-menuitem-link .p-submenu-icon {
    color: white
}

body .p-menubar .submenu .p-menuitem-link .p-menuitem-text, body .p-menubar .submenu .p-menuitem-link .p-menuitem-icon, body .p-menubar .submenu .p-menuitem-link .p-submenu-icon {
    color: black;
}

body .p-menubar .p-menuitem-link:hover, body .p-menubar .p-menuitem-link:hover .p-menuitem-text, body .p-menubar .p-menuitem-link:hover .p-menuitem-icon {
    background-color: #4f5965;
    color: white;
}

body .p-menubar .p-menuitem-link:hover {
    border-bottom: 2px solid white;
}

body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    border-bottom: none;
}

body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon {
    background-color: inherit;
}



body .p-sidebar {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(246,246,246,1) 74%, rgba(233,233,233,1) 91%);;
}

body .sidebar-menu {
    border: none;
    margin-top: 25px;
}