/*Design and dimensions for bar at the very top of the screen */
.topMenuBar {
    height: 80px;
    padding-bottom: 175px;
    background-color:#4f5965;
    display: flex;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.42);
}

/*no margin fpr topbar*/
.topMenuBar.p-grid {
    margin: 0;
}

/*aligns the logo and the searchbar to the middle of the topbar */
.logo-topmenu, .searchbar-topmenu {
    padding-top: 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

/*moving the logo a little bit to the right */
.logo-topmenu {
    padding-left: 50px
}

/*Button, which gets displayed at a certain  min-width gets hidden while the page is wide + position if it is displayed */
.button-topmenu {
    display: none;
    padding-top: 27px;
}

/*color + makes it look like its clickable */
.button-topmenu {
    color: white;
    cursor: pointer;
}

/*Positioning of the userprofile + text of the div is not selectable*/
.profile {
    margin-top: -12px;
    padding-right: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*button which gets displayed at certain width has a hover to black so it looks more clickable*/
.button-topmenu:hover {
    color: black;
}

/*if width below x amount px make the topbar "bigger" looks better if a lot of menupoints which get in next line when resizing*/
@media only screen and (max-width: 1575px) {
    .topMenuBar {
        padding-bottom: 190px;
    }
}

/*if width below x amount px make the topbar "bigger" looks better if a lot of menupoints which get in next line when resizing*/
@media only screen and (max-width: 1207px) {
    .topMenuBar {
        padding-bottom: 200px;
    }
}

/*menu in middle */
body .p-menubar {
    padding-top: 8px;
}

/*adjust height of topbar, hide the menu and show the button mentioned earlier, logo, searchbar and profile moved*/
@media only screen and (max-width: 945px) {
    .topMenuBar {
        padding-bottom: 110px;
    }
    
    body .p-menubar {
        display: none;
    }

    .button-topmenu {
        display: flex;
    }

    .logo-topmenu, .searchbar-topmenu {
        padding-top: 45px;
    }

    .profile {
        padding-top: 26px;
    }
}

/*hide button*/
@media only screen and (max-width: 733px) {
    .logo-topmenu {
        display: none;
    }
}

/*menu inherits border and backgound color from topbar*/
body .p-menubar {
    background-color: inherit;
    border: inherit;
}

/*menuitem and subicon stay white*/
body .p-menubar .p-menuitem-link, body .p-menubar .p-menuitem-link .p-menuitem-text, body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon {
    color: white;
}

/*stays the same when hovoring over menuitem*/
body .p-menubar .p-menuitem-link:hover, body .p-menubar .p-menuitem-link:hover .p-menuitem-text, body .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background-color: #4f5965;
    color: white;
}

/*looks clickable*/
body .p-menubar .p-menuitem:hover {
    border-bottom: 4px solid rgba(255, 255, 255, 0.42);
}

/*no border as above for menuitems in list*/
body .p-menubar .p-menuitem .p-menuitem-active > .p-menuitem-link {
    border-bottom: none;
}

/*submenu items' backgrounds are white*/
body .p-menubar .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem-link {
    background-color: inherit;
}

/*hovering effect*/
body .p-menubar .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem-link:hover {
    background-color: #eaeaea
}

/*color for submenutext if not set they aren't visible because they get set white above*/
body .p-menubar .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem-link .p-menuitem-text {
    color: black
}

/*text-background doesn't get changed*/
body .p-menubar .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem-link:hover .p-menuitem-text {
    background-color: inherit
}

/*design for sidebar*/
body .p-sidebar {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(246,246,246,1) 74%, rgba(233,233,233,1) 91%);;
}

/*move menu in sidebar down so it doesn't overlap with the close button*/
body .sidebar-menu {
    border: none;
    margin-top: 25px;
}