:root {
  --blue-login-background: rgb(245, 245, 245, 0.93);
  --blue-login-logo-background: #ffffff;
  --blue-login-placeholder-color: #bcc0c4;
  --blue-login-shadow: 5px 5px 45px 5px rgba(0,0,0,0.6);
  --blue-background: #ffffff;
  --blue-menu-header-background: #2196F3;
  --blue-menu-color: #ffffff;
  --blue-menu-border: 1px solid rgba(120,130,140,.13);
  --blue-logo-background: linear-gradient(270deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
  --blue-profile-seperator: 2px solid #1c7bc9;
  --blue-topbar-buttons-background: transparent;
  --blue-topbar-buttons-hover: #1c7bc9;
  --blue-panelmenu-background: #fafafa;
  --blue-panelmenu-hover-background: #e9ecef;
  --blue-panelmenu-text-color: #495057;
  --blue-panelmenu-hover-text-color: #000000;
  --blue-menu-activeitem-color: #2196F3;
  --blue-fadeout-background: linear-gradient(90deg, #fafafa00 0%, #fafafa 100%);
  --blue-speeddial-background: #ffffff;
  --blue-speeddial-color: #495057;
  --blue-speeddial-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.20);
  --blue-menubar-submenu-background: #ffffff;
  --blue-menubar-items-hover-background: #e9ecef;
  --blue-menubar-item-hover: #454b52;
  --blue-button-color: #2196F3;
  --blue-component-background: #ffffff;
  --blue-component-border: 1px solid #ced4da;
  --blue-text-color: #495057;
  --blue-selected-rb-cb-outer-color: #2196f3;
  --blue-selected-rb-cb-outer-hover-color: #0b7ad1;
  --blue-selected-rb-cb-inner-color: #ffffff;
  --blue-toolbar-background: #f8f9fa;
  --blue-toolbar-border-color: #dee2e6;
  --blue-table-header-background: #ffffff;
  --blue-table-header-border: 1px solid #e9ecef;
  --blue-table-selected-row-background: linear-gradient(to bottom, rgba(27, 135, 227, 0.5) 2%, rgba(22, 110, 213, 0.5) 98%) !important;
  --blue-table-row-odd-background: #fafafa;
  --blue-table-row-even-background: #ffffff;
  --blue-table-hover-background: #e9ecef;
  --blue-table-row-border: 1px solid #e9ecef;
  --blue-table-cell-hover-color: rgb(131, 131, 131);
  --blue-table-required-even-background: rgb(253, 238, 195);
  --blue-table-required-odd-background: rgb(255, 244, 210);
  --blue-table-required-color: var(--blue-text-color);
  --blue-table-readonly-even-background: rgb(230, 230, 230);
  --blue-table-readonly-odd-background: rgb(239, 239, 239);
  --blue-table-sort-color: #2196F3;
  --blue-linked-panel-background: #ffffff;
  --blue-linked-item-hover-background: #e9ecef;
  --blue-popupmenubutton-overlay-background: #ffffff;
  --blue-popupmenubutton-item-hover: #e9ecef;
  --blue-date-panel-background: #ffffff;
  --blue-date-panel-header-border: 1px solid #dee2e6;
  --blue-date-panel-hover-color: var(--blue-text-color);
  --blue-date-selected-background: #e3f2fd;
  --blue-dialog-header-background: #ffffff;
  --blue-dialog-icon-hover-color: var(--blue-text-color);
  --blue-dialog-header-border: 1px solid rgba(0, 0, 0, 0.15);
  --blue-dialog-content-background: #ffffff;
  --blue-tab-navbar-background: #ffffff;
  --blue-tab-navbar-border: 1px solid #dee2e6;
  --blue-tab-selected-color: #2196fe;
  --blue-tab-hover-background: #ffffff;
  --blue-tab-border-color: #dee2e6;
  --blue-tree-background: #ffffff;
  --blue-tree-border: 1px solid #dee2e6;
  --blue-tree-item-hover-background: #e9ecef;
  --blue-tree-selected-item-background: #E3F2FD;
  --blue-html-toolbar-background: #f8f9fa;
  --blue-html-toolbar-border: 1px solid #dee2e6;
  --blue-html-toolbar-button-hover-background: #000000;
  --blue-html-picker-expanded-background: #ffffff;
  --blue-html-picker-item-hover-background: #e9ecef;
  --blue-message-info-header-background: var(--blue-button-color);
  --blue-message-info-header-close-hover: #276b96;
  --blue-message-info-header-color: #ffffff;
  --blue-message-warning-header-background: #ffcf40;
  --blue-message-warning-header-close-hover: #ebbd35;
  --blue-message-error-header-background: #ff364a;
  --blue-message-error-header-close-hover: #db2739;
  --blue-message-question-header-background: #17c0eb;
  --blue-message-question-header-close-hover: #13aacf;
  --blue-error-dialog-background: rgba(255, 255, 255, 0.8);
  --blue-loading-screen-left-background: #ffffff;
  --blue-loading-screen-right-background: #f1f1f1;
  --blue-loading-spinner-color-1: #b3ec23;
  --blue-loading-spinner-color-2: #95c41f;
  --blue-loading-spinner-color-3: #8bb61d;
  --blue-loading-spinner-color-4: #80a818;
  --blue-tab-close-color: #cdcfd1;
  --blue-focus-box-shadow: 0 0 0 0.2rem #8dcdff;
  --blue-border-color-hover: #2196fe;
  --blue-login-border-radius: 6px;
  --blue-button-border-radius: 3px;
  --blue-editor-border-radius: 3px;
  --blue-date-border-radius: 8px;
  --blue-linked-border-radius: 8px;
  --blue-table-border-radius: 0px;
  --blue-tab-border-radius: 0px;
  --blue-dialog-border-radius: 0px;
  --blue-toolbar-border-radius: 0px;
  --blue-topbar-colors: #2196F3, #2196F3; }

body {
  background: var(--blue-background);
  color: var(--blue-text-color); }

.login-form {
  background: var(--blue-login-background);
  border-radius: var(--blue-login-border-radius); }
  .login-form .p-float-label label {
    color: var(--blue-login-placeholder-color); }

.login-logo-wrapper {
  background: var(--blue-login-logo-background); }

.login-form-position-wrapper {
  border-radius: var(--blue-login-border-radius);
  box-shadow: var(--blue-login-shadow); }

.menu-header {
  background: var(--blue-menu-header-background); }

.p-button.p-button-icon-only.menu-topbar-buttons {
  background: var(--blue-topbar-buttons-background);
  color: var(--blue-menu-color);
  border-radius: var(--blue-button-border-radius); }
  .p-button.p-button-icon-only.menu-topbar-buttons:hover {
    background: var(--blue-topbar-buttons-hover); }

.menu-screen-title {
  color: var(--blue-menu-color); }

.menu-logo-wrapper {
  background: var(--blue-logo-background);
  border-bottom: var(--blue-menu-border); }

.menu-panelmenu-wrapper {
  background: var(--blue-panelmenu-background);
  border-right: var(--blue-menu-border); }
  .menu-panelmenu-wrapper::-webkit-scrollbar {
    width: 7px; }
  .menu-panelmenu-wrapper::-webkit-scrollbar-button:start:decrement {
    height: 70px; }
  .menu-panelmenu-wrapper::-webkit-scrollbar-track {
    background: white; }
  .menu-panelmenu-wrapper::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 10px; }
    .menu-panelmenu-wrapper::-webkit-scrollbar-thumb:hover {
      background: #cacaca; }

.p-panelmenu .p-panelmenu-header .p-panelmenu-header-link {
  background: var(--blue-panelmenu-background);
  border-color: var(--blue-panelmenu-background);
  color: var(--blue-panelmenu-text-color); }

.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
  background: var(--blue-panelmenu-hover-background);
  border-color: var(--blue-panelmenu-hover-background);
  color: var(--blue-panelmenu-hover-text-color); }

.p-panelmenu .p-panelmenu-header.p-highlight > a, .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
  background: var(--blue-panelmenu-background);
  color: var(--blue-panelmenu-hover-text-color); }

.p-panelmenu .p-panelmenu-content {
  background: var(--blue-panelmenu-background); }
  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled) {
    background: var(--blue-panelmenu-background); }
    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled) .p-menuitem-icon, .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled) .p-menuitem-text {
      color: var(--blue-panelmenu-text-color); }
    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
      background: var(--blue-panelmenu-hover-background); }
      .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon, .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
        color: var(--blue-panelmenu-hover-text-color); }
  .p-panelmenu .p-panelmenu-content .p-menuitem.p-menuitem--active .p-menuitem-link .p-menuitem-text, .p-panelmenu .p-panelmenu-content .p-menuitem.p-menuitem--active .p-menuitem-link .p-menuitem-icon {
    color: var(--blue-menu-activeitem-color); }

.fadeout {
  background-image: var(--orange-fadeout-background); }

.c-menu-header {
  background: var(--blue-menu-header-background); }

.c-menu-menubar {
  background: var(--blue-menu-header-background); }

.p-speeddial .p-speeddial-button.p-button.p-button-icon-only {
  background: var(--blue-speeddial-background);
  border-color: var(--blue-speeddial-background);
  color: var(--blue-speeddial-color);
  box-shadow: var(--blue-speeddial-shadow); }

.profile-menu {
  border-left: var(--blue-profile-seperator); }

.p-menubar {
  background: var(--blue-menu-header-background); }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled), .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) {
    background: var(--blue-menu-header-background);
    color: var(--blue-menu-color); }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) .p-submenu-icon {
      color: var(--blue-menu-color); }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
      background: var(--blue-topbar-buttons-hover);
      color: var(--blue-menu-color); }
      .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
        color: var(--blue-menu-color); }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list {
    background: var(--blue-menubar-submenu-background); }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link {
      background: var(--blue-menubar-submenu-background); }
      .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-icon {
        color: var(--blue-text-color); }
      .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover {
        background: var(--blue-menubar-items-hover-background); }
        .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-icon {
          color: var(--blue-panelmenu-hover-text-color); }

.reactUI.basti_mobile .p-inputtext:enabled:focus + .p-autocomplete-dropdown, .reactUI.basti_mobile .p-inputtext:enabled:focus + .p-datepicker-trigger {
  border-color: var(--blue-button-color);
  color: var(--blue-button-color); }

.reactUI.basti_mobile .rc-editor-linked:hover .p-button.p-button-icon-only.p-autocomplete-dropdown, .reactUI.basti_mobile .rc-editor-linked:hover .p-button.p-button-icon-only.p-datepicker-trigger, .reactUI.basti_mobile .rc-editor-date:hover .p-button.p-button-icon-only.p-autocomplete-dropdown, .reactUI.basti_mobile .rc-editor-date:hover .p-button.p-button-icon-only.p-datepicker-trigger {
  border-color: var(--blue-button-color);
  color: var(--blue-button-color); }

.reactUI.basti_mobile .rc-editor-linked:hover .p-inputtext, .reactUI.basti_mobile .rc-editor-date:hover .p-inputtext {
  border-color: var(--blue-button-color); }

.reactUI.basti_mobile .rc-editor-linked .p-autocomplete-dropdown, .reactUI.basti_mobile .rc-editor-linked .p-datepicker-trigger, .reactUI.basti_mobile .rc-editor-date .p-autocomplete-dropdown, .reactUI.basti_mobile .rc-editor-date .p-datepicker-trigger {
  color: var(--blue-text-color); }

.p-button {
  border-radius: var(--blue-button-border-radius); }

.rc-button.mouse-border {
  color: var(--blue-text-color); }

.rc-button:focus {
  box-shadow: var(--blue-focus-box-shadow); }

.border-notpainted:not(.p-button-link), .border-notpainted:enabled:hover:not(.p-button-link) {
  color: var(--blue-text-color); }

.p-checkbox .p-checkbox-box:not(.p-highlight), .p-radiobutton .p-radiobutton-box:not(.p-highlight) {
  background: var(--blue-component-background);
  border: var(--blue-component-border); }

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: var(--blue-border-color-hover); }

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: var(--blue-focus-box-shadow);
  border-color: var(--blue-selected-rb-cb-outer-color); }

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background: var(--blue-selected-rb-cb-outer-hover-color);
  border-color: var(--blue-selected-rb-cb-outer-hover-color); }

.p-checkbox .p-checkbox-box {
  border-radius: var(--blue-button-border-radius); }
  .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--blue-selected-rb-cb-outer-color);
    border-color: var(--blue-selected-rb-cb-outer-color); }

.p-checkbox-box.p-highlight .p-checkbox-icon {
  color: var(--blue-selected-rb-cb-inner-color); }

.p-radiobutton .p-radiobutton-box:not(.p-disabled) .p-focus {
  box-shadow: var(--blue-focus-box-shadow); }

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--blue-selected-rb-cb-outer-hover-color); }

.p-radiobutton .p-radiobutton-box.p-highlight {
  background: var(--blue-selected-rb-cb-outer-color);
  border-color: var(--blue-selected-rb-cb-outer-color); }
  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: var(--blue-selected-rb-cb-outer-hover-color);
    border-color: var(--blue-selected-rb-cb-outer-hover-color); }

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
  background: var(--blue-selected-rb-cb-inner-color); }

.rc-popupmenubutton {
  background: var(--blue-button-color);
  border-color: var(--blue-button-color);
  border-radius: var(--blue-button-border-radius); }
  .rc-popupmenubutton:focus-within {
    box-shadow: var(--blue-focus-box-shadow); }

.p-menu.p-menu-overlay {
  background: var(--blue-popupmenubutton-overlay-background); }

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: var(--blue-popupmenubutton-item-hover); }
  .p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: var(--blue-text-color); }

.p-menu .p-menuitem-text {
  color: var(--blue-text-color); }

.rc-togglebutton:focus {
  box-shadow: var(--blue-focus-box-shadow); }

.rc-editor-choice:focus img {
  box-shadow: var(--blue-focus-box-shadow); }

.p-inputtext {
  background: var(--blue-component-background);
  border: var(--blue-component-border);
  border-radius: var(--blue-input-border-radius); }
  .p-inputtext:not(.required-field) {
    color: var(--blue-text-color); }
  .p-inputtext:enabled:focus {
    box-shadow: var(--blue-focus-box-shadow);
    border-color: var(--blue-border-color-hover); }
  .p-inputtext:enabled:hover {
    border-color: var(--blue-border-color-hover); }

.p-calendar:focus-within {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--blue-focus-box-shadow);
  border-radius: var(--blue-editor-border-radius); }

.p-calendar input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.p-calendar button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.p-datepicker {
  border-radius: var(--blue-date-border-radius); }
  .p-datepicker:not(.p-datepicker-inline), .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
    background: var(--blue-date-panel-background);
    color: var(--blue-text-color); }
  .p-datepicker .p-datepicker-header {
    border-bottom: var(--blue-date-panel-header-border); }
    .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
      background-color: var(--blue-date-panel-background);
      color: var(--blue-text-color); }
    .p-datepicker .p-datepicker-header .p-datepicker-title select:focus {
      box-shadow: var(--blue-focus-box-shadow);
      border-color: var(--blue-border-color-hover); }
  .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
    color: var(--blue-date-panel-hover-color); }
  .p-datepicker table td > span.p-highlight {
    background: var(--blue-date-selected-background); }

.rc-editor-image:focus img, .rc-icon:focus img, .rc-validator:focus img {
  box-shadow: var(--blue-focus-box-shadow); }

.rc-editor-linked:focus-within {
  box-shadow: var(--blue-focus-box-shadow); }

.rc-editor-linked input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.rc-editor-linked button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.p-autocomplete-panel {
  background: var(--blue-linked-panel-background);
  border-radius: var(--blue-date-border-radius); }
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
    background: var(--blue-linked-panel-background);
    color: var(--blue-text-color); }
    .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover {
      background: var(--blue-linked-item-hover-background);
      color: var(--blue-panelmenu-hover-text-color); }
  .p-autocomplete-panel.dropdown-table .p-autocomplete-items li:nth-child(odd) {
    background: var(--blue-table-row-even-background); }
    .p-autocomplete-panel.dropdown-table .p-autocomplete-items li:nth-child(odd):hover {
      background: var(--blue-table-hover-background); }
  .p-autocomplete-panel.dropdown-table .p-autocomplete-items li:nth-child(even) {
    background: var(--blue-table-row-odd-background); }
    .p-autocomplete-panel.dropdown-table .p-autocomplete-items li:nth-child(even):hover {
      background: var(--blue-table-hover-background); }
  .p-autocomplete-panel.dropdown-table .p-autocomplete-item-group > * {
    background: var(--blue-table-header-background);
    color: var(--blue-text-color);
    border-bottom: var(--blue-table-header-border); }
  .p-autocomplete-panel.dropdown-table .p-autocomplete-item > * {
    border-bottom: var(--blue-table-row-border); }
    .p-autocomplete-panel.dropdown-table .p-autocomplete-item > *:not(:first-child) {
      border-left: var(--blue-table-row-border); }

.p-editor-container .p-editor-toolbar {
  background: var(--blue-html-toolbar-background);
  border: var(--blue-html-toolbar-border);
  border-top-left-radius: var(--blue-editor-border-radius);
  border-top-right-radius: var(--blue-editor-border-radius); }
  .p-editor-container .p-editor-toolbar.ql-snow {
    border: var(--blue-component-border); }
    .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button {
      color: var(--blue-text-color); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover {
        color: var(--blue-html-toolbar-button-hover-background); }
        .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg polygon, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg line, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg rect, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg polyline, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg polygon, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg line, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg rect, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg polyline {
          stroke: var(--blue-html-toolbar-button-hover-background); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg polygon, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg line, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg rect, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg polyline, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg polygon, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg line, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg rect, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg polyline {
        stroke: var(--blue-text-color); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label.ql-source svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button.ql-source svg path {
        fill: var(--blue-text-color); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label.ql-source:hover svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button.ql-source:hover svg path {
        fill: var(--blue-html-toolbar-button-hover-background); }
    .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker.ql-expanded .ql-picker-options {
      background: var(--blue-html-picker-expanded-background); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker.ql-expanded .ql-picker-options .ql-picker-item {
        color: var(--blue-text-color); }
        .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker.ql-expanded .ql-picker-options .ql-picker-item:hover {
          background: var(--blue-html-picker-item-hover-background); }

.p-editor-container .p-editor-content {
  border: var(--blue-component-border);
  border-bottom-left-radius: var(--blue-editor-border-radius);
  border-bottom-right-radius: var(--blue-editor-border-radius); }
  .p-editor-container .p-editor-content .ql-editor {
    background: var(--blue-component-background);
    color: var(--blue-text-color);
    border-bottom-left-radius: var(--blue-editor-border-radius);
    border-bottom-right-radius: var(--blue-editor-border-radius); }
  .p-editor-container .p-editor-content.ql-snow {
    border: var(--blue-component-border);
    border-top: 0px; }

.rc-editor-html textarea.p-inputtext {
  border: var(--blue-component-border) !important; }

.rc-table {
  border: var(--blue-component-border); }
  .rc-table table {
    border-style: hidden;
    box-shadow: 0 0 0 1px #e9ecef; }
  .rc-table.navtable-north {
    border-bottom-left-radius: var(--blue-table-border-radius);
    border-bottom-right-radius: var(--blue-table-border-radius); }
  .rc-table.navtable-west {
    border-top-right-radius: var(--blue-table-border-radius);
    border-bottom-right-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-west:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:last-child {
      border-top-right-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-west:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:only-child {
      border-top-left-radius: var(--blue-table-border-radius);
      border-top-right-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-west .p-datatable-scrollable-header {
      border-top-right-radius: var(--blue-table-border-radius); }
  .rc-table.navtable-east {
    border-top-left-radius: var(--blue-table-border-radius);
    border-bottom-left-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-east:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:first-child {
      border-top-left-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-east:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:only-child {
      border-top-left-radius: var(--blue-table-border-radius);
      border-top-right-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-east .p-datatable-scrollable-header {
      border-top-left-radius: var(--blue-table-border-radius); }
  .rc-table.navtable-south {
    border-top-left-radius: var(--blue-table-border-radius);
    border-top-right-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-south:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:first-child {
      border-top-left-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-south:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:last-child {
      border-top-right-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-south:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:only-child {
      border-top-left-radius: var(--blue-table-border-radius);
      border-top-right-radius: var(--blue-table-border-radius); }
    .rc-table.navtable-south .p-datatable-scrollable-header {
      border-top-left-radius: var(--blue-table-border-radius);
      border-top-right-radius: var(--blue-table-border-radius); }
  .rc-table:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south) {
    border-radius: var(--blue-table-border-radius); }
    .rc-table:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south):not(.p-datatable-scrollable) .p-datatable-thead > tr > th:first-child {
      border-top-left-radius: var(--blue-table-border-radius); }
    .rc-table:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south):not(.p-datatable-scrollable) .p-datatable-thead > tr > th:last-child {
      border-top-right-radius: var(--blue-table-border-radius); }
    .rc-table:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south):not(.p-datatable-scrollable) .p-datatable-thead > tr > th:only-child {
      border-top-left-radius: var(--blue-table-border-radius);
      border-top-right-radius: var(--blue-table-border-radius); }
  .rc-table .p-datatable-thead > tr > th {
    background: var(--blue-table-header-background);
    border: var(--blue-table-header-border); }
    .rc-table .p-datatable-thead > tr > th.sort-asc, .rc-table .p-datatable-thead > tr > th.sort-des {
      color: var(--blue-table-sort-color); }
    .rc-table .p-datatable-thead > tr > th .p-sortable-column-icon {
      color: var(--blue-table-sort-color); }
  .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
    background: var(--blue-table-hover-background);
    color: var(--blue-text-color); }
    .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover.sort-asc, .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover.sort-des {
      color: var(--blue-table-sort-color); }
      .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover.sort-asc .p-sortable-column-icon, .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover.sort-des .p-sortable-column-icon {
        color: var(--blue-table-sort-color); }
  .rc-table .p-datatable-tbody > tr {
    background: var(--blue-table-row-odd-background);
    color: var(--blue-text-color); }
    .rc-table .p-datatable-tbody > tr > td {
      border: var(--blue-table-row-border); }
      .rc-table .p-datatable-tbody > tr > td.cell-required {
        background: var(--blue-table-required-odd-background);
        color: var(--blue-table-required-color); }
      .rc-table .p-datatable-tbody > tr > td.cell-readonly {
        background: var(--blue-table-readonly-odd-background); }
      .rc-table .p-datatable-tbody > tr > td.p-highlight {
        color: var(--blue-text-color); }
      .rc-table .p-datatable-tbody > tr > td:hover {
        color: var(--blue-table-cell-hover-color); }
    .rc-table .p-datatable-tbody > tr.p-highlight {
      color: var(--blue-text-color);
      background: var(--blue-table-selected-row-background) !important; }
      .rc-table .p-datatable-tbody > tr.p-highlight td.cell-required {
        background: var(--blue-table-required-odd-background);
        opacity: 0.8; }
      .rc-table .p-datatable-tbody > tr.p-highlight td.cell-readonly {
        background: var(--blue-table-readonly-odd-background);
        opacity: 0.8; }
    .rc-table .p-datatable-tbody > tr:nth-child(even) {
      background: var(--blue-table-row-even-background); }
      .rc-table .p-datatable-tbody > tr:nth-child(even).p-highlight {
        background: var(--blue-table-selected-row-background);
        color: var(--blue-text-color); }
      .rc-table .p-datatable-tbody > tr:nth-child(even) > td.cell-required {
        background: var(--blue-table-required-even-background); }
      .rc-table .p-datatable-tbody > tr:nth-child(even) > td.cell-readonly {
        background: var(--blue-table-readonly-even-background); }
      .rc-table .p-datatable-tbody > tr:nth-child(even).p-highlight > td.cell-required {
        background: var(--blue-table-required-even-background);
        opacity: 0.8; }
      .rc-table .p-datatable-tbody > tr:nth-child(even).p-highlight > td.cell-readonly {
        background: var(--blue-table-readonly-even-background);
        opacity: 0.8; }
  .rc-table.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: var(--blue-table-hover-background);
    color: var(--blue-text-color); }

.rc-toolbar {
  background: var(--blue-toolbar-background);
  border-color: var(--blue-toolbar-border-color); }
  .rc-toolbar.navbar-north {
    border-top-left-radius: var(--blue-table-border-radius);
    border-top-right-radius: var(--blue-table-border-radius); }
  .rc-toolbar.navbar-west {
    border-top-left-radius: var(--blue-table-border-radius);
    border-bottom-left-radius: var(--blue-table-border-radius); }
  .rc-toolbar.navbar-east {
    border-top-right-radius: var(--blue-table-border-radius);
    border-bottom-right-radius: var(--blue-table-border-radius); }
  .rc-toolbar.navbar-south {
    border-bottom-left-radius: var(--blue-table-border-radius);
    border-bottom-right-radius: var(--blue-table-border-radius); }
  .rc-toolbar.toolbar-north {
    border-top-left-radius: var(--blue-toolbar-border-radius);
    border-top-right-radius: var(--blue-toolbar-border-radius); }
  .rc-toolbar.toolbar-west {
    border-top-left-radius: var(--blue-toolbar-border-radius);
    border-bottom-left-radius: var(--blue-toolbar-border-radius); }
  .rc-toolbar.toolbar-east {
    border-top-right-radius: var(--blue-toolbar-border-radius);
    border-bottom-right-radius: var(--blue-toolbar-border-radius); }
  .rc-toolbar.toolbar-south {
    border-bottom-left-radius: var(--blue-toolbar-border-radius);
    border-bottom-right-radius: var(--blue-toolbar-border-radius); }

.rc-popup .p-dialog-header {
  background: var(--blue-dialog-header-background);
  color: var(--blue-text-color);
  border-top-left-radius: var(--blue-dialog-border-radius);
  border-top-right-radius: var(--blue-dialog-border-radius);
  border-bottom: var(--blue-dialog-header-border); }
  .rc-popup .p-dialog-header .p-dialog-header-icon {
    color: var(--blue-text-color); }
    .rc-popup .p-dialog-header .p-dialog-header-icon:enabled:hover {
      background: #e9ecef;
      color: var(--blue-dialog-icon-hover-color); }

.rc-popup .p-dialog-content {
  background: var(--blue-dialog-content-background);
  color: var(--blue-text-color);
  border-bottom-left-radius: var(--blue-dialog-border-radius);
  border-bottom-right-radius: var(--blue-dialog-border-radius); }

.rc-message-dialog .p-dialog-header {
  border-top-left-radius: var(--blue-dialog-border-radius);
  border-top-right-radius: var(--blue-dialog-border-radius); }

.rc-message-dialog.info .p-dialog-header {
  background: var(--blue-message-info-header-background);
  color: var(--blue-message-info-header-color); }
  .rc-message-dialog.info .p-dialog-header .p-dialog-header-close:hover {
    background: var(--blue-message-info-header-close-hover); }
  .rc-message-dialog.info .p-dialog-header .p-dialog-header-close .p-dialog-header-close-icon {
    color: var(--blue-message-info-header-color); }

.rc-message-dialog.warning .p-dialog-header {
  background: var(--blue-message-warning-header-background);
  color: var(--blue-message-warning-header-color); }
  .rc-message-dialog.warning .p-dialog-header .p-dialog-header-close:hover {
    background: var(--blue-message-warning-header-close-hover); }
  .rc-message-dialog.warning .p-dialog-header .p-dialog-header-close .p-dialog-header-close-icon {
    color: var(--blue-message-warning-header-color); }

.rc-message-dialog.error .p-dialog-header {
  background: var(--blue-message-error-header-background);
  color: var(--blue-message-error-header-color); }
  .rc-message-dialog.error .p-dialog-header .p-dialog-header-close:hover {
    background: var(--blue-message-error-header-close-hover); }
  .rc-message-dialog.error .p-dialog-header .p-dialog-header-close .p-dialog-header-close-icon {
    color: var(--blue-message-error-header-color); }

.rc-message-dialog.question .p-dialog-header {
  background: var(--blue-message-question-header-background);
  color: var(--blue-message-question-header-color); }
  .rc-message-dialog.question .p-dialog-header .p-dialog-header-close:hover {
    background: var(--blue-message-question-header-close-hover); }
  .rc-message-dialog.question .p-dialog-header .p-dialog-header-close .p-dialog-header-close-icon {
    color: var(--blue-message-question-header-color); }

.rc-message-dialog .p-dialog-footer {
  border-bottom-left-radius: var(--blue-dialog-border-radius);
  border-bottom-right-radius: var(--blue-dialog-border-radius); }

.rc-message-dialog.message-dialog-no-footer .p-dialog-content {
  border-bottom-left-radius: var(--blue-dialog-border-radius);
  border-bottom-right-radius: var(--blue-dialog-border-radius); }

.rc-message-dialog .p-dialog-content, .rc-message-dialog .p-dialog-footer {
  background: var(--blue-dialog-content-background);
  color: var(--blue-text-color); }

#toast-info .p-toast-message {
  background: var(--blue-dialog-content-background); }

#toast-info .toast-header {
  color: white; }
  #toast-info .toast-header.info {
    background: var(--blue-message-info-header-background); }
    #toast-info .toast-header.info .toast-header-close {
      color: white; }
      #toast-info .toast-header.info .toast-header-close:hover {
        background: var(--blue-message-info-header-close-hover); }

.rc-error-dialog {
  background: var(--blue-error-dialog-background); }

.rc-panel-group-caption {
  border-bottom: var(--blue-component-border); }

.p-tabview .p-tabview-nav {
  background: var(--blue-tab-navbar-background);
  color: var(--blue-text-color);
  border: var(--blue-tab-navbar-border);
  border-radius: var(--blue-tab-border-radius);
  padding: 0 var(--blue-tab-border-radius); }
  .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link {
    color: var(--blue-text-color);
    border-color: transparent transparent var(--blue-tab-border-color) transparent; }
  .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    color: var(--blue-text-color);
    background: var(--blue-tab-hover-background);
    border-color: var(--blue-text-color); }
  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: var(--blue-tab-selected-color);
    border-color: var(--blue-tab-selected-color); }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: var(--blue-tab-navbar-background); }

.tabview-button {
  color: var(--blue-tab-close-color); }

.p-tree {
  background: var(--blue-tree-background);
  border: var(--blue-tree-border);
  color: var(--blue-text-color);
  border-radius: var(--blue-table-border-radius); }
  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    background: var(--blue-tree-item-hover-background);
    color: var(--blue-text-color); }
  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    background: var(--blue-tree-selected-item-background);
    color: var(--blue-text-color); }
  .p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
    box-shadow: var(--blue-focus-box-shadow); }

.loading-screen {
  background: -webkit-radial-gradient(119% 190% at -6% -20%, var(--blue-loading-screen-left-background) 70%, var(--blue-loading-screen-right-background) 70%);
  background: -o-radial-gradient(119% 190% at -6% -20%, var(--blue-loading-screen-left-background) 70%, var(--blue-loading-screen-right-background) 70%);
  background: -moz-radial-gradient(119% 190% at -6% -20%, var(--blue-loading-screen-left-background) 70%, var(--blue-loading-screen-right-background) 70%);
  background: radial-gradient(119% 190% at -6% -20%, var(--blue-loading-screen-left-background) 70%, var(--blue-loading-screen-right-background) 70%); }

.loading-screen-spinner {
  animation: progress-spinner-color 3s; }

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list {
    background: var(--blue-menu-header-background); }
    .p-menubar .p-menubar-root-list > .p-menuitem {
      background: var(--blue-menu-header-background); } }

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: var(--blue-loading-spinner-color-1); }
  40% {
    stroke: var(--blue-loading-spinner-color-2); }
  66% {
    stroke: var(--blue-loading-spinner-color-3); }
  80%,
  90% {
    stroke: var(--orange-loading-spinner-color-4); } }
