:root {
  --login-mask-background: rgb(245, 245, 245, 0.93);
  --login-logo-background: #ffffff;
  --login-shadow: 5px 5px 45px 5px rgba(0,0,0,0.6);
  --screen-background: #ffffff;
  --text-color: #495057;
  --topbar-background: #2196F3;
  --topbar-text-color: #ffffff;
  --topbar-logo-background: linear-gradient(270deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
  --topbar-button-background: transparent;
  --topbar-button-hover-background: #1c7bc9;
  --profile-background: #2196F3;
  --profile-hover-background: #1c7bc9;
  --profile-text-color: #ffffff;
  --profile-separator: 2px solid #1c7bc9;
  --profile-submenu-background: #ffffff;
  --profile-item-hover-background: #e9ecef;
  --profile-item-hover-text-color: #000000;
  --std-menu-background: #fafafa;
  --std-menu-item-hover-background: #e9ecef;
  --std-menu-text-color: #495057;
  --std-menu-item-hover-text-color: #000000;
  --std-menu-activeitem-color: #2196F3;
  --std-menu-border: 1px solid rgba(120,130,140,.13);
  --std-menu-fadeout-background: linear-gradient(90deg, #fafafa00 0%, #fafafa 100%);
  --corp-menu-background: #2196F3;
  --corp-menu-hover-background: #1c7bc9;
  --corp-menu-text-color: #ffffff;
  --corp-menu-submenu-background: #ffffff;
  --corp-menu-item-hover-background: #e9ecef;
  --corp-menu-item-hover-text-color: #000000;
  --corp-menu-speeddial-background: #ffffff;
  --corp-menu-speeddial-color: #495057;
  --corp-menu-speeddial-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.20);
  --primary-color: #2196F3;
  --input-background: #ffffff;
  --input-border: 1px solid #ced4da;
  --input-placeholder-color: #6c757d;
  --checkbox-background: #ffffff;
  --checkbox-border: 1px solid #ced4da;
  --checkbox-selected-background: #2196f3;
  --checkbox-selected-hover-background: #0b7ad1;
  --checkbox-color: #ffffff;
  --radiobutton-background: #ffffff;
  --radiobutton-border: 1px solid #ced4da;
  --radiobutton-selected-outer-background: #2196f3;
  --radiobutton-selected-outer-hover-background: #0b7ad1;
  --radiobutton-inner-color: #ffffff;
  --toolbar-background: #f8f9fa;
  --toolbar-border-color: #dee2e6;
  --table-header-background: #ffffff;
  --table-header-border: 1px solid #e9ecef;
  --table-header-hover-background: #e9ecef;
  --table-selected-row-background: linear-gradient(to bottom, rgba(27, 135, 227, 0.5) 2%, rgba(22, 110, 213, 0.5) 98%) !important;
  --table-row-odd-background: #fafafa;
  --table-row-even-background: #ffffff;
  --table-row-hover-background: #e9ecef;
  --table-row-border: 1px solid #e9ecef;
  --table-cell-hover-color: rgb(131, 131, 131);
  --table-required-even-background: rgb(253, 238, 195);
  --table-required-odd-background: rgb(255, 244, 210);
  --table-required-color: var(--text-color);
  --table-readonly-even-background: rgb(230, 230, 230);
  --table-readonly-odd-background: rgb(239, 239, 239);
  --table-sort-color: #2196F3;
  --linked-panel-background: #ffffff;
  --linked-item-hover-background: #e9ecef;
  --linked-item-hover-text-color: #000000;
  --popupmenubutton-panel-background: #ffffff;
  --popupmenubutton-item-hover-background: #e9ecef;
  --popupmenubutton-item-hover-text-color: #000000;
  --date-panel-background: #ffffff;
  --date-panel-header-border: 1px solid #dee2e6;
  --date-panel-hover-color: var(--text-color);
  --date-selected-background: #e3f2fd;
  --dialog-header-background: #ffffff;
  --dialog-header-text-color: var(--text-color);
  --dialog-icon-hover-color: var(--text-color);
  --dialog-header-border: 1px solid rgba(0, 0, 0, 0.15);
  --dialog-content-background: #ffffff;
  --tab-navbar-background: #ffffff;
  --tab-navbar-border: 1px solid #dee2e6;
  --tab-selected-color: #2196fe;
  --tab-hover-background: #ffffff;
  --tab-border-color: #dee2e6;
  --tree-background: #ffffff;
  --tree-border: 1px solid #dee2e6;
  --tree-item-hover-background: #e9ecef;
  --tree-selected-item-background: #E3F2FD;
  --html-toolbar-background: #f8f9fa;
  --html-toolbar-border: 1px solid #dee2e6;
  --html-toolbar-button-hover-background: #000000;
  --html-picker-expanded-background: #ffffff;
  --html-picker-item-hover-background: #e9ecef;
  --message-info-header-background: var(--primary-color);
  --message-info-header-close-hover: #276b96;
  --message-info-header-color: #ffffff;
  --message-warning-header-background: #ffcf40;
  --message-warning-header-close-hover: #ebbd35;
  --message-warning-header-color: #ffffff;
  --message-error-header-background: #ff364a;
  --message-error-header-close-hover: #db2739;
  --message-error-header-color: #ffffff;
  --message-question-header-background: #17c0eb;
  --message-question-header-close-hover: #13aacf;
  --message-question-header-color: #ffffff;
  --error-dialog-background: rgba(255, 255, 255, 0.8);
  --loading-screen-left-background: #ffffff;
  --loading-screen-right-background: #f1f1f1;
  --loading-spinner-color-1: #b3ec23;
  --loading-spinner-color-2: #95c41f;
  --loading-spinner-color-3: #8bb61d;
  --loading-spinner-color-4: #80a818;
  --tab-close-color: #cdcfd1;
  --tab-close-hover-color: #6f757a;
  --focus-box-shadow: 0 0 0 0.2rem #8dcdff;
  --border-color-hover: #2196fe;
  --login-border-radius: 6px;
  --button-border-radius: 3px;
  --editor-border-radius: 3px;
  --date-border-radius: 8px;
  --linked-border-radius: 8px;
  --table-border-radius: 0px;
  --tab-border-radius: 0px;
  --dialog-border-radius: 3px;
  --toolbar-border-radius: 0px;
  --topbar-colors: #2196F3, #2196F3;
  --mandatory-background: rgb(255, 244, 210);
  --readonly-background: rgb(239, 239, 239);
  --invalid-background: rgb(209, 51, 51); }

body {
  background: var(--screen-background);
  color: var(--text-color); }

.login-form {
  background: var(--login-mask-background);
  border-radius: var(--login-border-radius); }

.login-logo-wrapper {
  background: var(--login-logo-background); }

.login-form-position-wrapper {
  border-radius: var(--login-border-radius);
  box-shadow: var(--login-shadow); }

.menu-header {
  background: var(--topbar-background); }

.p-button.p-button-icon-only.menu-topbar-buttons {
  background: var(--topbar-button-background);
  color: var(--topbar-text-color);
  border-radius: var(--button-border-radius); }
  .p-button.p-button-icon-only.menu-topbar-buttons:hover {
    background: var(--topbar-button-hover-background); }

.profile-menu {
  border-left: var(--profile-separator); }
  .profile-menu .p-menubar {
    background: var(--profile-background); }
    .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled), .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) {
      background: var(--profile-background);
      color: var(--profile-text-color); }
      .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) .p-menuitem-text, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) .p-submenu-icon, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) .p-menuitem-text, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) .p-submenu-icon {
        color: var(--profile-text-color); }
      .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
        background: var(--profile-hover-background);
        color: var(--profile-text-color); }
        .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
          color: var(--profile-text-color); }
    .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list {
      background: var(--profile-submenu-background); }
      .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link {
        background: var(--profile-submenu-background); }
        .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-text, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-icon, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-text, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-icon {
          color: var(--text-color); }
        .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover {
          background: var(--profile-item-hover-background); }
          .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-text, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-icon, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-text, .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-icon {
            color: var(--profile-item-hover-text-color); }

.menu-screen-title {
  color: var(--topbar-text-color); }

.menu-logo-wrapper {
  background: var(--topbar-logo-background);
  border-bottom: var(--std-menu-border); }

.menu-panelmenu-wrapper {
  background: var(--std-menu-background);
  border-right: var(--std-menu-border); }
  .menu-panelmenu-wrapper::-webkit-scrollbar {
    width: 7px; }
  .menu-panelmenu-wrapper::-webkit-scrollbar-button:start:decrement {
    height: 70px; }
  .menu-panelmenu-wrapper::-webkit-scrollbar-track {
    background: white; }
  .menu-panelmenu-wrapper::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 10px; }
    .menu-panelmenu-wrapper::-webkit-scrollbar-thumb:hover {
      background: #cacaca; }

.p-panelmenu .p-panelmenu-header > a {
  background: var(--std-menu-background);
  border-color: var(--std-menu-background);
  color: var(--std-menu-text-color); }

.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
  background: var(--std-menu-item-hover-background);
  border-color: var(--std-menu-item-hover-background);
  color: var(--std-menu-item-hover-text-color); }

.p-panelmenu .p-panelmenu-header.p-highlight > a, .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
  background: var(--std-menu-background);
  color: var(--std-menu-item-hover-text-color); }

.p-panelmenu .p-panelmenu-content {
  background: var(--std-menu-background); }
  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    background: var(--std-menu-background); }
    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon, .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
      color: var(--std-menu-text-color); }
    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
      background: var(--std-menu-item-hover-background); }
      .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon, .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
        color: var(--std-menu-item-hover-text-color); }
  .p-panelmenu .p-panelmenu-content .p-menuitem.p-menuitem--active .p-menuitem-link .p-menuitem-text, .p-panelmenu .p-panelmenu-content .p-menuitem.p-menuitem--active .p-menuitem-link .p-menuitem-icon {
    color: var(--std-menu-activeitem-color); }

.fadeout {
  background-image: var(--std-menu-fadeout-background); }

.corp-menu-header {
  background: var(--topbar-background); }

.corp-menu-menubar {
  background: var(--topbar-background); }

.p-speeddial .p-speeddial-button.p-button.p-button-icon-only {
  background: var(--corp-menu-speeddial-background);
  border-color: var(--corp-menu-speeddial-background);
  color: var(--corp-menu-speeddial-color);
  box-shadow: var(--corp-menu-speeddial-shadow); }

.p-menubar {
  background: var(--corp-menu-background); }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled), .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) {
    background: var(--corp-menu-background);
    color: var(--corp-menu-text-color); }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled) .p-submenu-icon {
      color: var(--corp-menu-text-color); }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
      background: var(--corp-menu-hover-background);
      color: var(--corp-menu-text-color); }
      .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
        color: var(--corp-menu-text-color); }
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list {
    background: var(--corp-menu-submenu-background); }
    .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link {
      background: var(--corp-menu-submenu-background); }
      .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link .p-menuitem-icon {
        color: var(--text-color); }
      .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover {
        background: var(--corp-menu-item-hover-background); }
        .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-submenu-list .p-menuitem .p-menuitem-link:hover .p-menuitem-icon {
          color: var(--corp-menu-item-hover-text-color); }

.reactUI.basti_mobile .p-inputtext:enabled:focus + .p-autocomplete-dropdown, .reactUI.basti_mobile .p-inputtext:enabled:focus + .p-datepicker-trigger {
  border-color: var(--primary-color);
  color: var(--primary-color); }

.reactUI.basti_mobile .rc-editor-linked:hover .p-button.p-button-icon-only.p-autocomplete-dropdown, .reactUI.basti_mobile .rc-editor-linked:hover .p-button.p-button-icon-only.p-datepicker-trigger, .reactUI.basti_mobile .rc-editor-date:hover .p-button.p-button-icon-only.p-autocomplete-dropdown, .reactUI.basti_mobile .rc-editor-date:hover .p-button.p-button-icon-only.p-datepicker-trigger {
  border-color: var(--primary-color);
  color: var(--primary-color); }

.reactUI.basti_mobile .rc-editor-linked:hover .p-inputtext, .reactUI.basti_mobile .rc-editor-date:hover .p-inputtext {
  border-color: var(--primary-color); }

.reactUI.basti_mobile .rc-editor-linked .p-autocomplete-dropdown, .reactUI.basti_mobile .rc-editor-linked .p-datepicker-trigger, .reactUI.basti_mobile .rc-editor-date .p-autocomplete-dropdown, .reactUI.basti_mobile .rc-editor-date .p-datepicker-trigger {
  color: var(--text-color); }

.p-button {
  border-radius: var(--button-border-radius); }

.rc-button.mouse-border {
  color: var(--text-color); }

.rc-button:focus {
  box-shadow: var(--focus-box-shadow); }

.border-notpainted:not(.p-button-link), .border-notpainted:enabled:hover:not(.p-button-link) {
  color: var(--text-color); }

.p-checkbox .p-checkbox-box, .p-radiobutton .p-radiobutton-box {
  background: var(--input-background);
  border: var(--input-border); }

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: var(--border-color-hover); }

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: var(--focus-box-shadow);
  border-color: var(--checkbox-selected-background); }

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background: var(--checkbox-selected-hover-background);
  border-color: var(--checkbox-selected-hover-background); }

.p-checkbox .p-checkbox-box {
  border-radius: var(--button-border-radius); }
  .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--checkbox-selected-background);
    border-color: var(--checkbox-selected-background); }

.p-checkbox-box.p-highlight .p-checkbox-icon {
  color: var(--checkbox-color); }

.p-radiobutton .p-radiobutton-box:not(.p-disabled) .p-focus {
  box-shadow: var(--focus-box-shadow); }

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--radiobutton-selected-outer-hover-background); }

.p-radiobutton .p-radiobutton-box.p-highlight {
  background: var(--radiobutton-selected-outer-background);
  border-color: var(--radiobutton-selected-outer-background); }
  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: var(--radiobutton-selected-outer-hover-background);
    border-color: var(--radiobutton-selected-outer-hover-background); }

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
  background: var(--radiobutton-inner-color); }

.rc-popupmenubutton {
  background: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: var(--button-border-radius); }
  .rc-popupmenubutton:focus-within {
    box-shadow: var(--focus-box-shadow); }

.p-menu.p-menu-overlay {
  background: var(--popupmenubutton-panel-background); }

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: var(--popupmenubutton-item-hover-background); }
  .p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: var(--popupmenubutton-item-hover-text-color); }

.p-menu .p-menuitem-link .p-menuitem-text {
  color: var(--text-color); }

.p-menu .p-menuitem-text {
  color: var(--text-color); }

.rc-togglebutton:focus {
  box-shadow: var(--focus-box-shadow); }

.rc-editor-choice:focus img {
  box-shadow: var(--focus-box-shadow); }

.p-inputtext {
  background: var(--input-background);
  border: var(--input-border);
  border-radius: var(--input-border-radius); }
  .p-inputtext:not(.required-field) {
    color: var(--text-color); }
  .p-inputtext.mandatorybackground {
    background: var(--mandatory-background); }
  .p-inputtext.readonlybackground {
    background: var(--readonly-background); }
  .p-inputtext.invalideditorbackground {
    background: var(--invalid-background); }
  .p-inputtext:enabled:focus {
    box-shadow: var(--focus-box-shadow);
    border-color: var(--border-color-hover); }
  .p-inputtext:enabled:hover {
    border-color: var(--border-color-hover); }
  .p-inputtext::placeholder {
    color: var(--input-placeholder-color); }

.p-float-label > label {
  color: var(--input-placeholder-color); }

.p-calendar:focus-within {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-box-shadow);
  border-radius: var(--editor-border-radius); }

.p-calendar.required-field .p-inputtext {
  color: var(--table-required-color); }

.p-calendar input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.p-calendar button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.p-datepicker {
  border-radius: var(--date-border-radius); }
  .p-datepicker:not(.p-datepicker-inline), .p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
    background: var(--date-panel-background);
    color: var(--text-color); }
  .p-datepicker .p-datepicker-header {
    border-bottom: var(--date-panel-header-border); }
    .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
      background-color: var(--date-panel-background);
      color: var(--text-color); }
    .p-datepicker .p-datepicker-header .p-datepicker-title select:focus {
      box-shadow: var(--focus-box-shadow);
      border-color: var(--border-color-hover); }
  .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
    color: var(--date-panel-hover-color); }
  .p-datepicker table td > span.p-highlight {
    background: var(--date-selected-background); }

.rc-editor-image:focus img, .rc-icon:focus img, .rc-validator:focus img {
  box-shadow: var(--focus-box-shadow); }

.rc-editor-linked:focus-within {
  box-shadow: var(--focus-box-shadow); }

.rc-editor-linked.required-field .p-inputtext {
  color: var(--table-required-color); }

.rc-editor-linked input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.rc-editor-linked button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.p-autocomplete-panel {
  background: var(--linked-panel-background);
  border-radius: var(--date-border-radius); }
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
    background: var(--linked-panel-background);
    color: var(--text-color); }
    .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover {
      background: var(--linked-item-hover-background);
      color: var(--linked-item-hover-text-color); }
  .p-autocomplete-panel.dropdown-table .p-autocomplete-items li:nth-child(odd) {
    background: var(--table-row-even-background); }
    .p-autocomplete-panel.dropdown-table .p-autocomplete-items li:nth-child(odd):hover {
      background: var(--table-row-hover-background); }
  .p-autocomplete-panel.dropdown-table .p-autocomplete-items li:nth-child(even) {
    background: var(--table-row-odd-background); }
    .p-autocomplete-panel.dropdown-table .p-autocomplete-items li:nth-child(even):hover {
      background: var(--table-row-hover-background); }
  .p-autocomplete-panel.dropdown-table .p-autocomplete-item-group > * {
    background: var(--table-header-background);
    color: var(--text-color);
    border-bottom: var(--table-header-border); }
  .p-autocomplete-panel.dropdown-table .p-autocomplete-item > * {
    border-bottom: var(--table-row-border); }
    .p-autocomplete-panel.dropdown-table .p-autocomplete-item > *:not(:first-child) {
      border-left: var(--table-row-border); }

.p-editor-container .p-editor-toolbar {
  background: var(--html-toolbar-background);
  border: var(--html-toolbar-border);
  border-top-left-radius: var(--editor-border-radius);
  border-top-right-radius: var(--editor-border-radius); }
  .p-editor-container .p-editor-toolbar.ql-snow {
    border: var(--input-border); }
    .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button {
      color: var(--text-color); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover {
        color: var(--html-toolbar-button-hover-background); }
        .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg polygon, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg line, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg rect, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label:hover svg polyline, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg polygon, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg line, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg rect, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button:hover svg polyline {
          stroke: var(--html-toolbar-button-hover-background); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg polygon, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg line, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg rect, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label svg polyline, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg polygon, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg line, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg rect, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button svg polyline {
        stroke: var(--text-color); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label.ql-source svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button.ql-source svg path {
        fill: var(--text-color); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker .ql-picker-label.ql-source:hover svg path, .p-editor-container .p-editor-toolbar.ql-snow .ql-formats button.ql-source:hover svg path {
        fill: var(--html-toolbar-button-hover-background); }
    .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker.ql-expanded .ql-picker-options {
      background: var(--html-picker-expanded-background); }
      .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker.ql-expanded .ql-picker-options .ql-picker-item {
        color: var(--text-color); }
        .p-editor-container .p-editor-toolbar.ql-snow .ql-formats .ql-picker.ql-expanded .ql-picker-options .ql-picker-item:hover {
          background: var(--html-picker-item-hover-background); }

.p-editor-container .p-editor-content {
  border: var(--input-border);
  border-bottom-left-radius: var(--editor-border-radius);
  border-bottom-right-radius: var(--editor-border-radius); }
  .p-editor-container .p-editor-content .ql-editor {
    background: var(--input-background);
    color: var(--text-color);
    border-bottom-left-radius: var(--editor-border-radius);
    border-bottom-right-radius: var(--editor-border-radius); }
  .p-editor-container .p-editor-content.ql-snow {
    border: var(--input-border);
    border-top: 0px; }

.rc-editor-html textarea.p-inputtext {
  border: var(--input-border) !important; }

.rc-table {
  border: var(--input-border); }
  .rc-table table {
    border-style: hidden;
    box-shadow: 0 0 0 1px #e9ecef; }
  .rc-table.navtable-north {
    border-bottom-left-radius: var(--table-border-radius);
    border-bottom-right-radius: var(--table-border-radius); }
  .rc-table.navtable-west {
    border-top-right-radius: var(--table-border-radius);
    border-bottom-right-radius: var(--table-border-radius); }
    .rc-table.navtable-west:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:last-child {
      border-top-right-radius: var(--table-border-radius); }
    .rc-table.navtable-west:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:only-child {
      border-top-left-radius: var(--table-border-radius);
      border-top-right-radius: var(--table-border-radius); }
    .rc-table.navtable-west .p-datatable-scrollable-header {
      border-top-right-radius: var(--table-border-radius); }
  .rc-table.navtable-east {
    border-top-left-radius: var(--table-border-radius);
    border-bottom-left-radius: var(--table-border-radius); }
    .rc-table.navtable-east:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:first-child {
      border-top-left-radius: var(--table-border-radius); }
    .rc-table.navtable-east:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:only-child {
      border-top-left-radius: var(--table-border-radius);
      border-top-right-radius: var(--table-border-radius); }
    .rc-table.navtable-east .p-datatable-scrollable-header {
      border-top-left-radius: var(--table-border-radius); }
  .rc-table.navtable-south {
    border-top-left-radius: var(--table-border-radius);
    border-top-right-radius: var(--table-border-radius); }
    .rc-table.navtable-south:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:first-child {
      border-top-left-radius: var(--table-border-radius); }
    .rc-table.navtable-south:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:last-child {
      border-top-right-radius: var(--table-border-radius); }
    .rc-table.navtable-south:not(.p-datatable-scrollable) .p-datatable-thead > tr > th:only-child {
      border-top-left-radius: var(--table-border-radius);
      border-top-right-radius: var(--table-border-radius); }
    .rc-table.navtable-south .p-datatable-scrollable-header {
      border-top-left-radius: var(--table-border-radius);
      border-top-right-radius: var(--table-border-radius); }
  .rc-table:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south) {
    border-radius: var(--table-border-radius); }
    .rc-table:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south):not(.p-datatable-scrollable) .p-datatable-thead > tr > th:first-child {
      border-top-left-radius: var(--table-border-radius); }
    .rc-table:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south):not(.p-datatable-scrollable) .p-datatable-thead > tr > th:last-child {
      border-top-right-radius: var(--table-border-radius); }
    .rc-table:not(.navtable-north):not(.navtable-west):not(.navtable-east):not(.navtable-south):not(.p-datatable-scrollable) .p-datatable-thead > tr > th:only-child {
      border-top-left-radius: var(--table-border-radius);
      border-top-right-radius: var(--table-border-radius); }
  .rc-table .p-datatable-thead > tr > th {
    background: var(--table-header-background);
    border: var(--table-header-border); }
    .rc-table .p-datatable-thead > tr > th.sort-asc, .rc-table .p-datatable-thead > tr > th.sort-des {
      color: var(--table-sort-color); }
    .rc-table .p-datatable-thead > tr > th .p-sortable-column-icon {
      color: var(--table-sort-color); }
  .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
    background: var(--table-header-hover-background);
    color: var(--text-color); }
    .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover.sort-asc, .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover.sort-des {
      color: var(--table-sort-color); }
      .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover.sort-asc .p-sortable-column-icon, .rc-table .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover.sort-des .p-sortable-column-icon {
        color: var(--table-sort-color); }
  .rc-table .p-datatable-tbody > tr {
    background: var(--table-row-even-background);
    color: var(--text-color); }
    .rc-table .p-datatable-tbody > tr > td {
      border: var(--table-row-border); }
      .rc-table .p-datatable-tbody > tr > td.p-highlight {
        color: var(--text-color); }
      .rc-table .p-datatable-tbody > tr > td:hover {
        color: var(--table-cell-hover-color); }
      .rc-table .p-datatable-tbody > tr > td.cell-required {
        background: var(--table-required-even-background);
        color: var(--table-required-color); }
      .rc-table .p-datatable-tbody > tr > td.cell-readonly {
        background: var(--table-readonly-even-background); }
    .rc-table .p-datatable-tbody > tr.p-highlight {
      color: var(--text-color);
      background: var(--table-selected-row-background) !important; }
      .rc-table .p-datatable-tbody > tr.p-highlight > td .open-cell-editor {
        color: var(--text-color); }
      .rc-table .p-datatable-tbody > tr.p-highlight > td.cell-required {
        background: var(--table-required-even-background);
        opacity: 0.8; }
      .rc-table .p-datatable-tbody > tr.p-highlight > td.cell-readonly {
        background: var(--table-readonly-even-background);
        opacity: 0.8; }
    .rc-table .p-datatable-tbody > tr.p-row-odd {
      background: var(--table-row-odd-background); }
      .rc-table .p-datatable-tbody > tr.p-row-odd > td.cell-required {
        background: var(--table-required-odd-background);
        color: var(--table-required-color); }
      .rc-table .p-datatable-tbody > tr.p-row-odd > td.cell-readonly {
        background: var(--table-readonly-odd-background); }
      .rc-table .p-datatable-tbody > tr.p-row-odd.p-highlight td.cell-required {
        background: var(--table-required-odd-background);
        opacity: 0.8; }
      .rc-table .p-datatable-tbody > tr.p-row-odd.p-highlight td.cell-readonly {
        background: var(--table-readonly-odd-background);
        opacity: 0.8; }
  .rc-table.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):not(.p-datatable-emptymessage):hover {
    background: var(--table-row-hover-background);
    color: var(--text-color); }

.rc-toolbar {
  background: var(--toolbar-background);
  border-color: var(--toolbar-border-color); }
  .rc-toolbar.navbar-north {
    border-top-left-radius: var(--table-border-radius);
    border-top-right-radius: var(--table-border-radius); }
  .rc-toolbar.navbar-west {
    border-top-left-radius: var(--table-border-radius);
    border-bottom-left-radius: var(--table-border-radius); }
  .rc-toolbar.navbar-east {
    border-top-right-radius: var(--table-border-radius);
    border-bottom-right-radius: var(--table-border-radius); }
  .rc-toolbar.navbar-south {
    border-bottom-left-radius: var(--table-border-radius);
    border-bottom-right-radius: var(--table-border-radius); }
  .rc-toolbar.toolbar-north {
    border-top-left-radius: var(--toolbar-border-radius);
    border-top-right-radius: var(--toolbar-border-radius); }
  .rc-toolbar.toolbar-west {
    border-top-left-radius: var(--toolbar-border-radius);
    border-bottom-left-radius: var(--toolbar-border-radius); }
  .rc-toolbar.toolbar-east {
    border-top-right-radius: var(--toolbar-border-radius);
    border-bottom-right-radius: var(--toolbar-border-radius); }
  .rc-toolbar.toolbar-south {
    border-bottom-left-radius: var(--toolbar-border-radius);
    border-bottom-right-radius: var(--toolbar-border-radius); }

.rc-popup .p-dialog-header {
  background: var(--dialog-header-background);
  color: var(--dialog-header-text-color);
  border-top-left-radius: var(--dialog-border-radius);
  border-top-right-radius: var(--dialog-border-radius);
  border-bottom: var(--dialog-header-border); }
  .rc-popup .p-dialog-header .p-dialog-header-icon {
    color: var(--text-color); }
    .rc-popup .p-dialog-header .p-dialog-header-icon:enabled:hover {
      background: #e9ecef;
      color: var(--dialog-icon-hover-color); }

.rc-popup .p-dialog-content {
  background: var(--dialog-content-background);
  color: var(--text-color);
  border-bottom-left-radius: var(--dialog-border-radius);
  border-bottom-right-radius: var(--dialog-border-radius); }

.rc-message-dialog .p-dialog-header {
  border-top-left-radius: var(--dialog-border-radius);
  border-top-right-radius: var(--dialog-border-radius);
  background: var(--dialog-header-background); }

.rc-message-dialog.info .p-dialog-header {
  background: var(--message-info-header-background);
  color: var(--message-info-header-color); }
  .rc-message-dialog.info .p-dialog-header .p-dialog-header-close:hover {
    background: var(--message-info-header-close-hover); }
  .rc-message-dialog.info .p-dialog-header .p-dialog-header-close .p-dialog-header-close-icon {
    color: var(--message-info-header-color); }

.rc-message-dialog.warning .p-dialog-header {
  background: var(--message-warning-header-background);
  color: var(--message-warning-header-color); }
  .rc-message-dialog.warning .p-dialog-header .p-dialog-header-close:hover {
    background: var(--message-warning-header-close-hover); }
  .rc-message-dialog.warning .p-dialog-header .p-dialog-header-close .p-dialog-header-close-icon {
    color: var(--message-warning-header-color); }

.rc-message-dialog.error .p-dialog-header {
  background: var(--message-error-header-background);
  color: var(--message-error-header-color); }
  .rc-message-dialog.error .p-dialog-header .p-dialog-header-close:hover {
    background: var(--message-error-header-close-hover); }
  .rc-message-dialog.error .p-dialog-header .p-dialog-header-close .p-dialog-header-close-icon {
    color: var(--message-error-header-color); }

.rc-message-dialog.question .p-dialog-header {
  background: var(--message-question-header-background);
  color: var(--message-question-header-color); }
  .rc-message-dialog.question .p-dialog-header .p-dialog-header-close:hover {
    background: var(--message-question-header-close-hover); }
  .rc-message-dialog.question .p-dialog-header .p-dialog-header-close .p-dialog-header-close-icon {
    color: var(--message-question-header-color); }

.rc-message-dialog .p-dialog-footer {
  border-bottom-left-radius: var(--dialog-border-radius);
  border-bottom-right-radius: var(--dialog-border-radius); }

.rc-message-dialog.message-dialog-no-footer .p-dialog-content {
  border-bottom-left-radius: var(--dialog-border-radius);
  border-bottom-right-radius: var(--dialog-border-radius); }

.rc-message-dialog .p-dialog-content, .rc-message-dialog .p-dialog-footer {
  background: var(--dialog-content-background);
  color: var(--text-color); }

#toast-info .p-toast-message {
  background: var(--dialog-content-background); }

#toast-info .toast-header {
  color: white; }
  #toast-info .toast-header.info {
    background: var(--message-info-header-background); }
    #toast-info .toast-header.info .toast-header-close {
      color: white; }
      #toast-info .toast-header.info .toast-header-close:hover {
        background: var(--message-info-header-close-hover); }

.rc-error-dialog {
  background: var(--error-dialog-background);
  color: var(--text-color); }

.tag-panel {
  color: #495057; }
  .tag-panel .rc-button.mouse-border {
    color: #495057; }

.rc-panel-group-caption {
  border-bottom: var(--input-border); }

.p-tabview .p-tabview-nav {
  background: var(--tab-navbar-background);
  color: var(--text-color);
  border: var(--tab-navbar-border);
  border-radius: var(--tab-border-radius);
  padding: 0 var(--tab-border-radius); }
  .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link {
    color: var(--text-color);
    border-color: transparent transparent var(--tab-border-color) transparent; }
  .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    color: var(--text-color);
    background: var(--tab-hover-background);
    border-color: var(--text-color); }
  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: var(--tab-selected-color);
    border-color: var(--tab-selected-color); }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: var(--tab-navbar-background); }

.p-tabview-close {
  color: var(--tab-close-color); }
  .p-tabview-close:hover {
    font-weight: bold;
    color: var(--tab-close-hover-color); }

.p-tree {
  background: var(--tree-background);
  border: var(--tree-border);
  color: var(--text-color);
  border-radius: var(--table-border-radius); }
  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    background: var(--tree-item-hover-background);
    color: var(--text-color); }
  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    background: var(--tree-selected-item-background);
    color: var(--text-color); }
  .p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
    box-shadow: var(--focus-box-shadow); }

.loading-screen {
  background: -webkit-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-left-background) 70%, var(--loading-screen-right-background) 70%);
  background: -o-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-left-background) 70%, var(--loading-screen-right-background) 70%);
  background: -moz-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-left-background) 70%, var(--loading-screen-right-background) 70%);
  background: radial-gradient(119% 190% at -6% -20%, var(--loading-screen-left-background) 70%, var(--loading-screen-right-background) 70%); }

.loading-screen-spinner {
  animation: progress-spinner-color 3s; }

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list {
    background: var(--topbar-background); }
    .p-menubar .p-menubar-root-list > .p-menuitem {
      background: var(--topbar-background); } }

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: var(--loading-spinner-color-1); }
  40% {
    stroke: var(--loading-spinner-color-2); }
  66% {
    stroke: var(--loading-spinner-color-3); }
  80%,
  90% {
    stroke: var(--orange-loading-spinner-color-4); } }
