/// Transition when screen is collapsing/expanding
%screen-transition {
  -webkit-transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.reactUI{
  height: var(--main-height);
  display: flex;
  &.corporation {
    flex-direction: column;
  }
  &.reactUI-expired {
    filter: blur(5px);
  }
}

.main {
  &.menu-transition:not(.main--with-corp-menu) {
    @extend %screen-transition;
  }
  
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--with-s-menu {
    &:not(.desktop-panel-enabled):not(.menu-not-visible) {
      margin-top: calc(var(--std-header-height) + 10px);
      margin-left: calc(var(--std-menu-width) + 10px);
      margin-bottom: 10px;
      margin-right: 10px;
      &.screen-expanded {
        margin-left: calc(var(--std-menu-collapsed-width) + 10px);
      }
    }
    &.desktop-panel-enabled:not(.menu-not-visible) {
      margin-top: var(--std-header-height);
      &:not(.screen-expanded) {
        margin-left: var(--std-menu-width);
      }
      &.screen-expanded {
        margin-left: var(--std-menu-collapsed-width);
      }
    }

    &.menu-not-visible:not(.desktop-panel-enabled) {
      margin: 10px;
    }
  }

  &--with-corp-menu:not(.desktop-panel-enabled) {
    margin: 10px;
  }
}

.screen-wrapper-div {
  display: flex !important;
  flex: 1 1 auto;
  flex-direction: column;
}

.screen-expanded:not(.main--with-corp-menu) {
  margin-left: calc(var(--std-menu-collapsed-width) + 10px);
}

.transition-disable-overflow {
  overflow: hidden;
}

.p-speeddial.designer-speeddial .p-speeddial-button.p-button.p-button-icon-only {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--topbar-text-color);
}

@media screen and (max-width: 530px) {
  .main--with-s-menu.desktop-panel-enabled.screen-expanded.screen-no-mini {
    margin-left: 0;
  }
  .main--with-s-menu:not(.desktop-panel-enabled):not(.menu-not-visible).screen-expanded.screen-no-mini {
    margin-left: 10px;
  }
}