.invisible-border {
    border: none;
    background: transparent !important;
}

.rc-editor-text {
    .p-inputtext {
        text-align: left;
    }
}

.rc-editor-textarea {
    resize: none
}

.rc-editor-html {
    position: relative;

    &--disabled {
        pointer-events: none;
        opacity: .8;
    }

    .ql-formats--disabled {
        pointer-events: none;
        opacity: .5;
    }

    .p-editor-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .p-inputtextarea {
        position: absolute; 
        top: 40px;
        left: 0;
        right: 0;
        resize: none;
        width: 100%;
        height: calc(100% - 40px);
        font-family: monospace;
        border-radius: 0 0 3px 3px;
        border: 1px solid #dee2e6 !important;

        &:enabled:focus {
            box-shadow: none !important;
        }
    }
}