.borderlayout, .formlayout {
    .p-grid {
        margin-top: 0;
        .center, .east, .west {
            padding: 0;
            .p-col-12 {
                padding: 0;
            }
        }
    }
    .north, .south {
        padding: 0;
        .p-col-12 {
            padding: 0;
        }
    }
}