.rc-input {
    input {
        width: 100%;
    }
}

.p-inputtext.rc-input-readonly {
    opacity: 0.8;
    &:enabled {
        &:focus, &:hover {
            box-shadow: none !important;
            border: var(--input-border)
        }
    }
}