.layout{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 70px;
  flex: 1;
  overflow-y: hidden;
  margin-left: 240px;
  -webkit-transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.layout-expanded {
  margin-left: 80px;
  -webkit-transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.transition-disable-overflow {
  overflow-x: hidden;
}