@import './themes/theme-dark';
@import './themes/theme-light';
@import './themes/theme-blue';

@mixin themable($theme-name, $theme-map) {
  .#{$theme-name} {
    .footer {
      background-color: map-get($theme-map, "footer");
      color: map-get($theme-map, "fgdColor");
      padding-left: 20px;
      font-family: "Segoe UI";
    }
  } 
}

@include themable('dark', $theme-dark);
@include themable('light', $theme-light);
@include themable('blue', $theme-blue);

.layout{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 70px;
  flex: 1;
  overflow-y: hidden;
  background-color: white;
  margin-left: 240px;
  -webkit-transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.layout-expanded {
  margin-left: 80px;
  -webkit-transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.transition-disable-overflow {
  overflow-x: hidden;
}