/// Transition when layout is collapsing/expanding
%layout-transition {
  -webkit-transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.layout{
  height: 100vh;
  display: flex;
}

.main {
  @extend %layout-transition;
  margin-top: var(--menuHeight);
  margin-left: var(--menuWidth);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.customDisplayDiv {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.layout-expanded {
  @extend %layout-transition;
  margin-left: var(--menuCollapsedWidth);
}

.transition-disable-overflow {
  overflow-x: hidden;
}