/// Transition when screen is collapsing/expanding
%screen-transition {
  -webkit-transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.reactUI{
  height: 100vh;
  display: flex;
  &.corporate {
    flex-direction: column;
  }
}

.main {
  @extend %screen-transition;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--with-menu {
    margin-top: calc(var(--menuHeight) + 10px);
    margin-left: calc(var(--menuWidth) + 10px);
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.screen-wrapper-div {
  display: flex !important;
  flex: 1 1 auto;
  flex-direction: column;
}

.screen-expanded {
  @extend %screen-transition;
  margin-left: calc(var(--menuCollapsedWidth) + 10px);
}

.transition-disable-overflow {
  overflow: hidden;
}

@media screen and (max-width: 600px) { 
  .screen-expanded.screen-no-mini {
    margin-left: 0;
  }
}