/// Transition when screen is collapsing/expanding
%screen-transition {
  -webkit-transition: margin-left 0.5s ease-in-out;
  -moz-transition: margin-left 0.5s ease-in-out;
  -o-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.reactUI{
  height: 100vh;
  display: flex;
}

.main {
  @extend %screen-transition;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--with-menu {
    margin-top: var(--menuHeight);
    margin-left: var(--menuWidth);
  }
}

.screen-wrapper-div {
  display: flex !important;
  flex: 1 1 auto;
  flex-direction: column;
}

.screen-expanded {
  @extend %screen-transition;
  margin-left: var(--menuCollapsedWidth);
}

.transition-disable-overflow {
  overflow: hidden;
}

@media screen and (max-width: 600px) { 
  .screen-expanded.screen-no-mini {
    margin-left: 0;
  }
}