.rc-editor-linked {
    .p-inputtext {
        text-align: left;
    }
    /// When either of the children is focused, display a blue shadow to show the button is focused
    &:focus-within {
        box-shadow: 0 0 0 0.2rem #8dcdff;
        -webkit-box-shadow: 0 0 0 0.2rem #8dcdff;
    }
    /// Unset focus shadow because not the whole editor is focused but only either inputfield or button
    .p-inputtext, .p-button {
        &:focus {
            box-shadow: unset;
            -webkit-box-shadow: unset;
        }
    }
}

/// Lazyloading loading animation
.p-autocomplete-panel {
    .p-autocomplete-items {
        --itemsHeight: 200px;

        height: var(--itemsHeight);
        animation: pulse 0.7s infinite ease-in-out;
        padding: 0;
        .p-autocomplete-item {
            --itemTop: 0px;

            top: var(--itemTop);
            background: white;
        }
    }
}

@keyframes pulse {
    0% {
        background: rgba(165, 165, 165, 0.1)
    }
    50% {
        background: rgba(165, 165, 165, 0.3)
    }
    100% {
        background: rgba(165, 165, 165, 0.1)
    }
}