.rc-editor-linked {
    .p-inputtext {
        text-align: left;
    }
    /// When either of the children is focused, display a blue shadow to show the button is focused
    &:focus-within {
        box-shadow: 0 0 0 0.2rem #8dcdff;
        -webkit-box-shadow: 0 0 0 0.2rem #8dcdff;
        border-radius: 3px;
    }
    /// Unset focus shadow because not the whole editor is focused but only either inputfield or button
    .p-inputtext, .p-button {
        &:focus {
            box-shadow: unset;
            -webkit-box-shadow: unset;
        }
    }
}

/// Lazyloading loading animation
.p-autocomplete-panel {

    &.linked-min-width {
        min-width: 120px !important;
    }

    .p-autocomplete-items {
        max-height: none !important;
        padding: 0;
        .p-autocomplete-item {
            background: white;
        }
    }

    &.dropdown-table {
        .p-autocomplete-items {
            display: table;
        }

        .p-autocomplete-item-group {
            display: table-row;
            padding: 0;

            & > * {
                display: table-cell;
                vertical-align: middle;
                padding: 0.5rem 1rem;
                border-bottom: 1px solid #ccc;
            }
        }

        .p-autocomplete-item {
            display: table-row;
            padding: 0;

            & > * {
                display: table-cell;
                vertical-align: middle;
                padding: 0.5rem 1rem;
                border-bottom: 1px solid #ccc;

                &:not(:first-child) {
                    border-left: 1px solid #eee;
                }
            }
        }
    }
}

