@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import '~font-awesome/css/font-awesome.min.css';
@import './frontmask/login/login.scss';
@import './frontmask/menu/menu.scss';
@import './frontmask/Layout.scss';
@import './JVX/components/buttons/button/UIButton.scss';
@import './JVX/components/buttons/menubutton/UIMenuButton.scss';
@import './JVX/components/buttons/radiobutton/UIRadioButton.scss';
@import './JVX/components/buttons/togglebutton/UIToggleButton.scss';
@import './JVX/components/chart/UIChart.scss';
@import './JVX/components/checkbox/UICheckBox.scss';
@import './JVX/components/editors/checkbox/UIEditorCheckbox.scss';
@import './JVX/components/editors/choice/UIEditorChoice.scss';
@import './JVX/components/editors/date/UIEditorDate.scss';
@import './JVX/components/editors/image/UIEditorImage.scss';
@import './JVX/components/editors/linked/UIEditorLinked.scss';
@import './JVX/components/editors/number/UIEditorNumber.scss';
@import './JVX/components/editors/text/UIEditorText.scss';
@import './JVX/components/icon/UIIcon.scss';
@import './JVX/components/label/UILabel.scss';
@import './JVX/components/layouts/BorderLayout.scss';
@import './JVX/components/panels/groupPanel/UIGroupPanel.scss';
@import './JVX/components/panels/panel/UIPanel.scss';
@import './JVX/components/panels/split/SplitPanel.scss';
@import './JVX/components/panels/tabsetpanel/UITabsetPanel.scss';
@import './JVX/components/table/UITable.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    background-color: #f4f4f4;
    color: #495057;
}

.p-component {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.login-container {
    background-image: url("assests/Login.webP");
}

.separator {
    background-image: url('assests/Split.png');
}