@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import '~font-awesome/css/font-awesome.min.css';
@import './frontmask/login/login.scss';
@import './frontmask/menu/menu.scss';
@import './frontmask/Layout.scss';
@import './JVX/components/buttons/button/UIButton.scss';
@import './JVX/components/buttons/menubutton/UIMenuButton.scss';
@import './JVX/components/buttons/radiobutton/UIRadioButton.scss';
@import './JVX/components/buttons/togglebutton/UIToggleButton.scss';
@import './JVX/components/checkbox/UICheckBox.scss';
@import './JVX/components/editors/checkbox/UIEditorCheckbox.scss';
@import './JVX/components/editors/choice/UIEditorChoice.scss';
@import './JVX/components/editors/image/UIEditorImage.scss';
@import './JVX/components/editors/linked/UIEditorLinked.scss';
@import './JVX/components/editors/number/UIEditorNumber.scss';
@import './JVX/components/editors/text/UIEditorText.scss';
@import './JVX/components/icon/UIIcon.scss';
@import './JVX/components/label/UILabel.scss';
@import './JVX/components/layouts/BorderLayout.scss';
@import './JVX/components/panels/groupPanel/UIGroupPanel.scss';
@import './JVX/components/panels/panel/UIPanel.scss';
@import './JVX/components/panels/split/SplitPanel.scss';
@import './JVX/components/panels/tabsetpanel/UITabsetPanel.scss';
@import './JVX/components/table/UITable.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --standardBgdColor: white;
    --standardTextColor: #495057;

    --standardFont: 'Roboto', sans-serif;
    --standardFontSize: 14px;

    --menuWidth: 240px;
    --menuCollapsedWidth: 80px;
    --menuCollapsePaddingLeft: 1rem;
    --menuHeight: 70px;
    --menuLogoWidth: 190px;
    --menuLogoCollapsedWidth: 60px;
    --menuLogoHeight: 60px;
    --menuFadeoutWidth: 20px;
    --menuFadeoutLeft: calc(var(--menuCollapsedWidth) - var(--menuFadeoutWidth));
    --menuTopBar: #4f5965;
    --menuFgdColor: white;
    --menuHoverColor: rgb(165, 165, 165);
    --menuBorderColor: rgba(120,130,140,.13);
    --menuLogoBgdColor: rgb(232,232,232);
    --menuLogoBgdColorGrad: linear-gradient(270deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
    --menuProfileBgdColor: white;
    --menuPanelWrapperBgd: white;
    --menuPanelHeaderBgd: white;
    --menuPanelHeaderColor: #495057;
    --menuPanelHeaderColorHover: black;

    --loginContainerBgd: rgba(255, 255, 255, 0.75);
    --loginFormWidth: 400px;
    --loginFormTBPadding: 30px;
    --loginFormLRPadding: 40px;
    --loginFormLogoGap: 1rem;
    --loginLogoBgd: rgba(255, 255, 255, 0.65);
    --loginPlaceholderColor: #bcc0c4;

    --btnDefaultBgd: #2196F3;
    --btnPTB: 5px;
    --btnPLR: 10px;
    --btnNoBorderPaintedColor: black;
    --btnColorBright: white;
    --btnColorDark: black;

    --tglBtnDefaultBgd: #dadada;

    --menuBtnIconWidth: 38px;

    --tabsetXColor: #cdcfd1;
}

body {
    background: var(--standardBgdColor);
    color: var(--standardTextColor);
    font-family: var(--standardFont);
    font-size: var(--standardFontSize);
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.p-component {
    font-family: var(--standardFont);
    font-size: var(--standardFontSize);
}

.login-container {
    background-image: url("assests/login.webP");
}

.separator {
    background-image: url('assests/split.png');
}