/// importing other stylesheets needed for bundling
@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import '~font-awesome/css/font-awesome.min.css';
@import './frontmask/loading/loadingscreen.scss';
@import './frontmask/login/login.scss';
@import './frontmask/menu/menu.scss';
@import './frontmask/menu/corporateMenu.scss';
@import './frontmask/UIManager.scss';
@import './main/components/buttons/button/UIButton.scss';
@import './main/components/buttons/menubutton/UIMenuButton.scss';
@import './main/components/buttons/radiobutton/UIRadioButton.scss';
@import './main/components/buttons/togglebutton/UIToggleButton.scss';
@import './main/components/chart/UIChart.scss';
@import './main/components/buttons/checkbox/UICheckBox.scss';
@import './main/components/editors/checkbox/UIEditorCheckbox.scss';
@import './main/components/editors/choice/UIEditorChoice.scss';
@import './main/components/editors/image/UIEditorImage.scss';
@import './main/components/editors/linked/UIEditorLinked.scss';
@import './main/components/editors/number/UIEditorNumber.scss';
@import './main/components/editors/text/UIEditorText.scss';
@import './main/components/editors/date/UIEditorDate.scss';
@import './main/components/text/UIPassword.scss';
@import './main/components/gauge/UIGauge.scss';
@import './main/components/icon/UIIcon.scss';
@import './main/components/label/UILabel.scss';
@import './main/components/panels/groupPanel/UIGroupPanel.scss';
@import './main/components/panels/panel/UIPanel.scss';
@import './main/components/panels/scrollPanel/UIScrollPanel.scss';
@import './main/components/panels/split/SplitPanel.scss';
@import './main/components/panels/tabsetpanel/UITabsetPanel.scss';
@import './main/components/table/UITable.scss';
@import './main/components/tree/UITree.scss';
@import './main/components/topbar/TopBar.scss';
@import './main/components/toast/UIToast.scss';
@import './frontmask/changePassword/ChangePasswordDialog.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /// Standard background of the application
    --standardBgdColor: white;
    /// Standard text-color
    --standardTextColor: #495057;
    /// Standard font
    --standardFont: 'Roboto', sans-serif;
    /// Standard font-size
    --standardFontSize: 14px;

    /// Menu-width when extended
    --menuWidth: 240px;
    /// Menu-width when collapsed
    --menuCollapsedWidth: 80px;
    /// Left padding when menu is collpased
    --menuCollapsePaddingLeft: 10px;
    /// Topbar height
    --menuHeight: 70px;
    /// Logo width when expanded
    --menuLogoWidth: 190px;
    /// Logo width when collapsed
    --menuLogoCollapsedWidth: 60px;
    /// Logo height
    --menuLogoHeight: 60px;
    /// Logo width corp
    --cMenuLogoWidth: 210px;
    /// menubar corporation menu height
    --cMenuHeight: 40px;
    /// corp menu quicknav width
    --cMenuToolBarWidth: 100px;
    /// Fadeout width, fadeout: when menu is collapsed the text gets faded out with a gradient from right to left
    --menuFadeoutWidth: 20px;
    /// Fadeout positioning
    --menuFadeoutLeft: calc(var(--menuCollapsedWidth) - var(--menuFadeoutWidth));
    /// Background of topbar
    --menuTopBar: #4f5965;
    /// Foreground of topbar
    --menuFgdColor: white;
    /// Topbar foreground color when hovering 
    --menuHoverColor: hsl(0deg 0% 100% / 70%);
    /// Color for menu borders
    --menuBorderColor: rgba(120,130,140,.13);
    /// Logo background
    --menuLogoBgdColor: rgb(232,232,232);
    --menuLogoBgdColorGrad: linear-gradient(270deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
    /// Backgroud color of profile image when there is no image set
    --menuProfileBgdColor: white;
    /// Menu background
    --menuPanelWrapperBgd: white;
    /// Background for each panel of panelmenu
    --menuPanelHeaderBgd: white;
    /// Foreground color for each panel of panelmenu
    --menuPanelHeaderColor: #495057;
    /// Foreground color when a panel is hovered or active
    --menuPanelHeaderColorHover: black;
    /// the text color of an active menu item
    --menuPanelActiveItemColor: #2196F3;
    /// profilemenu height
    --profileMenuHeight: 60px;
    /// menubuttons-big height
    --menuButtonsBig: 60px;
    /// menubuttons-small height
    --menuButtonsSmall: 2.5rem;

    /// Login container background
    --loginContainerBgd: rgba(255, 255, 255, 0.75);
    /// Login form width
    --loginFormWidth: 450px;
    /// Login form height
    --loginFormHeight: 360px;
    /// Half of the login form width used for positioning
    --loginFormWidthHalf: calc(var(--loginFormWidth) / 2);
    /// Half of the login form height used for positioning
    --loginFormHeightHalf: calc(var(--loginFormHeight) / 2);
    /// Login form top bottom padding
    --loginFormTBPadding: 30px;
    /// Login form left right padding
    --loginFormLRPadding: 40px;
    /// Login form gap between logo and inputfields
    --loginFormLogoGap: 1rem;
    /// Login form logo background
    --loginLogoBgd: rgba(255, 255, 255, 0.65);
    /// Login inputfields placeholder color
    --loginPlaceholderColor: #bcc0c4;

    /// Button default background
    --btnDefaultBgd: #2196F3;
    /// Button default top bottom padding
    --btnPTB: 5px;
    /// Button default left right padding
    --btnPLR: 10px;
    /// Button border when no border painted on hover
    --btnNoBorderPaintedColor: black;
    /// Button foreground when button background is dark
    --btnColorBright: white;

    /// Menubutton split width
    --menuBtnIconWidth: 38px;

    /// Tabset closable 'x' foreground
    --tabsetXColor: #cdcfd1;

    --mainHeight: 100vh
}

* {
    min-width: 0;
    min-height: 0;
    outline-color: unset;

    &:focus-visible {
        outline: unset;
    }
}

/// setting standard values for body
body {
    background: var(--standardBgdColor);
    color: var(--standardTextColor);
    font-family: var(--standardFont);
    font-size: var(--standardFontSize);
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/// Overriding PrimeReact font-family and font-size
.p-component {
    font-family: var(--standardFont);
    font-size: var(--standardFontSize);
}

/// Image in this file because image won't be displayed
.login-container {
    background-image: url("assests/Login.webP");
}

.separator {
    background-image: url('assests/Split.png');
}

.mouse-pressed-event {
    -webkit-user-select: none; 
    user-select: none; 
}