/// importing other stylesheets needed for bundling
@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~ui-gauges/dist/bundle.min.css';
@import './frontmask/loading/loadingscreen.scss';
@import './frontmask/login/login.scss';
@import './frontmask/menu/menu.scss';
@import './frontmask/menu/corporateMenu.scss';
@import './frontmask/UIManager.scss';
@import './main/components/buttons/button/UIButton.scss';
@import './main/components/buttons/menubutton/UIMenuButton.scss';
@import './main/components/buttons/radiobutton/UIRadioButton.scss';
@import './main/components/buttons/togglebutton/UIToggleButton.scss';
@import './main/components/chart/UIChart.scss';
@import './main/components/buttons/checkbox/UICheckBox.scss';
@import './main/components/editors/checkbox/UIEditorCheckbox.scss';
@import './main/components/editors/choice/UIEditorChoice.scss';
@import './main/components/editors/image/UIEditorImage.scss';
@import './main/components/editors/linked/UIEditorLinked.scss';
@import './main/components/editors/number/UIEditorNumber.scss';
@import './main/components/editors/text/UIEditorText.scss';
@import './main/components/editors/date/UIEditorDate.scss';
@import './main/components/text/UIPassword.scss';
@import './main/components/gauge/UIGauge.scss';
@import './main/components/icon/UIIcon.scss';
@import './main/components/label/UILabel.scss';
@import './main/components/panels/groupPanel/UIGroupPanel.scss';
@import './main/components/panels/panel/UIPanel.scss';
@import './main/components/panels/scrollPanel/UIScrollPanel.scss';
@import './main/components/panels/split/SplitPanel.scss';
@import './main/components/panels/tabsetpanel/UITabsetPanel.scss';
@import './main/components/table/UITable.scss';
@import './main/components/tree/UITree.scss';
@import './main/components/topbar/TopBar.scss';
@import './main/components/toast/UIToast.scss';
@import './frontmask/changePassword/ChangePasswordDialog.scss';
@import './main/components/browser/UIBrowser.scss';
@import './main/components/panels/toolbarPanel/UIToolBarPanel.scss';
@import './frontmask/errorDialog/ErrorDialog.scss';
@import './frontmask/themes/basti.scss';
@import './frontmask/themes/basti_small.scss';
@import './frontmask/themes/basti_mobile.scss';
@import './frontmask/styles/default-style.scss';
@import './frontmask/styles/dark-style.scss';
@import './frontmask/styles/orange-style.scss';
@import './frontmask/styles/blue-style.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /// Standard font
    --standard-font-family: 'Roboto', sans-serif;

    /// Standard font-size
    --standard-font-size: 14px;

    --main-height: 100vh;
}

* {
    min-width: 0;
    min-height: 0;
    outline-color: unset;

    &:focus-visible {
        outline: unset;
    }
}

/// setting standard values for body
body {
    background: var(--default-background);
    color: var(--default-text-color);
    font-family: var(--standard-font-family);
    font-size: var(--standard-font-size);
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/// Overriding PrimeReact font-family and font-size
.p-component {
    font-family: var(--standard-font-family);
    font-size: var(--standard-font-size);
}

/// Image in this file because image won't be displayed
.login-container {
    background-image: url("assets/login.webP");
}

.separator {
    background-image: url('assets/split.png');
}

.mouse-pressed-event {
    -webkit-user-select: none; 
    user-select: none; 
}

.embed-frame {
    border: 6px solid #2196F3; 
    border-radius: 18px;
    overflow: hidden;
}
.rc-message-dialog {
    min-width: 20vw;

    &.info .p-dialog-header {
        background: #347fae;

        .p-dialog-header-close {
            &:hover {
                background: #276b96;
            }

            .p-dialog-header-close-icon {
                color: white;
            }
        }
    }

    &.warning .p-dialog-header {
        background: #ffcf40;
        .message-dialog-header {
            .message-dialog-header-text {
                color: #926d00;
            }

            .message-dialog-header-left .message-dialog-header-icon {
                color: #926d00;
            }
        }

        .p-dialog-header-close {
            &:hover {
                background: #ebbd35;
            }

            .p-dialog-header-close-icon {
                color: #926d00;
            }
        }
    }

    &.error .p-dialog-header {
        background: #ff364a;

        .p-dialog-header-close {
            &:hover {
                background: #db2739;
            }

            .p-dialog-header-close-icon {
                color: white;
            }
        }
    }

    &.question .p-dialog-header {
        background: #17c0eb;

        .p-dialog-header-close {
            &:hover {
                background: #13aacf;
            }

            .p-dialog-header-close-icon {
                color: white;
            }
        }
    }

    .p-dialog-header {
        padding: 0;

        .p-dialog-header-icons {
            padding: 0.5rem 0.25rem;
        }

        .message-dialog-header {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            color: white;

            &.warning {
                .message-dialog-header-close {
                    color: #926d00;

                    &:hover {
                        border-radius: 50%;
                        background: #ebbd35;                        
                    }
                }
            }

            &.error {
                .message-dialog-header-close {
                    color: white;

                    &:hover {
                        border-radius: 50%;
                        background: #db2739;
                    }
                }
            }

            &.question {
                .message-dialog-header-close {
                    color: white;

                    &:hover {
                        border-radius: 50%;
                        background: #13aacf;
                    }
                }
            }

            .message-dialog-header-text {
                align-self: center;
                font-size: 1rem;
                font-weight: bold;
                margin-left: 0.5rem;
            }

            .message-dialog-header-left {
                display: flex;
                .message-dialog-header-icon {
                    font-size: 2rem;
                }
            }

            .message-dialog-header-close {
                border: none;
                background: transparent;
                padding: 0.5rem;
                cursor: pointer;
                color: #444444;
            }
        }
    }

    .p-dialog-content {
        padding: 0;
        justify-content: center;
        .message-dialog-content {
            padding: 1.5rem 1rem;
            flex: 1;
        }
    }

    .p-dialog-footer {
        padding: 0;
        .message-dialog-footer {
            display: flex;
            padding: 0 0.5rem 0.5rem 0.5rem;

            &.single-button {
                justify-content: flex-end;
            }

            &.more-buttons {
                justify-content: space-between;
            }
        }

        button {
            margin: 0;
        }
    }

    &.p-confirm-dialog .p-confirm-dialog-message {
        margin: 0;
    }
}