@import '~primereact/resources/themes/nova/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
@import "~primeflex/primeflex.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
    margin: 0;
}
