.login-container {
  height: var(--main-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form .p-fluid {
  .lost-password-button {
    width: unset;
    padding: 0.5rem;
  }

  .p-float-label label {
    line-height: unset;
  }
} 

.login-logo-wrapper {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.login-logo {
  min-width: 100%;
  display: block;
}

.p-float-label {
  /// Position and Size of floatlabel placeholder
  input:focus ~label, input.p-filled ~label, 
  textarea:focus ~label, textarea.p-filled ~label,
  .p-inputwrapper-focus ~label, .p-inputwrapper-filled ~label{
    top: 10px;
    font-size: 8px;
  }
}

.login-button {
  padding: 0.5rem;
  justify-content: center;

  .p-button-label {
    flex: none;
  }
}

.remember-me-cbx {
  margin-right: 4px;
}

.login-extra-options {
  display: flex;
  justify-content: space-between;
  &.lost-password-enabled {
    margin-top: -1rem;
    margin-bottom: 1.4rem;

    .login-cbx-container {
      margin-right: 1rem;
    }
  }
  &:not(.lost-password-enabled) {
    margin-top: -0.5rem;
    margin-bottom: 1.9rem;
  }
}

.login-cbx-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.login-container-with-desktop {
  height: var(--main-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-position-wrapper {
  z-index: 1001;
  position: absolute;
}

.wait-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wait-code-display {
  margin-left: 4rem;
}

.url-topper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}