.p-calendar {
    .p-inputtext {
        &:focus + .p-button {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: 0 0 0 0.2rem #a6d5fa;
        }
    }
}

.p-datepicker {
    min-width: 0 !important;

    table td {
        padding: 0;

        & > span {
            width: 2rem;
            height: 2rem;
            padding: .5rem
        }
    }
    .p-datepicker-header {
        .p-datepicker-title {
            display: flex;
            align-items: center;

            select {
                cursor: pointer;
                appearance: none;
                font-family: var(--standardFont);
                font-size: 1rem;
                border: 0;
                padding-right: 1.25rem;
                background-size: 1rem;
                background-repeat: no-repeat;
                background-position: right 0 center;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23999;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;%7D%3C/style%3E%3C/defs%3E%3Cline class='cls-1' x1='16' x2='7' y1='20.5' y2='11.5'/%3E%3Cline class='cls-1' x1='25' x2='16' y1='11.5' y2='20.5'/%3E%3C/svg%3E");
            }
    
            .p-datepicker-month {
                margin-right: 1rem;
            }
        }
    }
    .p-timepicker {
        padding-bottom: 0;
    }
}