.rc-glasspane {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background: black;
    opacity: 0.35;
}

.rc-error-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100px;
    top: calc(50% - 50px);
    left: 0;
    z-index: 10001;
    background: rgba(255, 255, 255, .8);
    text-align: center;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    u {
        cursor: pointer;
    }
}

.rc-error-dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc-error-dialog-header-text, .rc-error-dialog-header-icon {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.rc-error-dialog-header-icon {
    margin-right: 8px;
}