:root {
    --icon: unset;
}

body {
    .p-button {
        transition: all 0.2s
    }
}

.p-button-text-icon-left {
    .p-button-icon-left {
        position: unset;
        top: unset;
        margin-top: unset;
    }
}

.p-button-text-icon-right {
    .p-button-icon-right {
        position: unset;
        top: unset;
        margin-top: unset;
    }
}

div {
    >.p-button-icon-only {
        .p-button-icon-left {
            position: unset;
            top: unset;
            left: unset;
            margin-top: unset;
            margin-left: unset;
        }
    }
}

.custom-icon::before {
    display: block;
    background-image: var(--icon);
    height: inherit;
    width: inherit;
    content:"";
}

.formlayout {
    >div {
        >.p-button {
            .p-button-text {
                display: inline
            }
        } 
    }
}