.loading-screen {
    height: var(--main-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: -webkit-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-background-left) 70%, var(--loading-screen-background-right) 70%);
    background: -o-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-background-left) 70%, var(--loading-screen-background-right) 70%);
    background: -moz-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-background-left) 70%, var(--loading-screen-background-right) 70%);
    background: radial-gradient(119% 190% at -6% -20%, var(--loading-screen-background-left) 70%, var(--loading-screen-background-right) 70%);
}

.loading-screen-spinner {
    position: absolute;
    height: 60px;
    width: 60px;
    top: calc(50% - 15px);
    left: calc(50% - 30px);
}