:root {
    --chart-colors: 
        #ff6384, 
        #36a2eb, 
        #ffce56, 
        #4bc0c0, 
        #9966ff, 
        #ff9f40;
    --chart-overlap-opacity: .6;
    --chart-points: 
        rect, 
        circle, 
        triangle, 
        star, 
        cross, 
        dash, 
        rectRot, 
        crossRot, 
        line, 
        rectRounded;
}