:root {
    /// -----Loading-Screen Variables-----

    /// The loading-screen-logo height
    --loading-screen-logo-height: 300px;

    /// The loading-screen-logo width
    --loading-screen-logo-width: 300px;
}

.loading-screen {
    height: var(--main-height);
    position: relative;
    background: -webkit-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-background-left) 70%, var(--loading-screen-background-right) 70%);
    background: -o-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-background-left) 70%, var(--loading-screen-background-right) 70%);
    background: -moz-radial-gradient(119% 190% at -6% -20%, var(--loading-screen-background-left) 70%, var(--loading-screen-background-right) 70%);
    background: radial-gradient(119% 190% at -6% -20%, var(--loading-screen-background-left) 70%, var(--loading-screen-background-right) 70%);
}

.loading-logo-container {
    position: absolute;
    height: var(--loading-screen-logo-height);
    width: var(--loading-screen-logo-width);
    top: calc(50% - calc(var(--loading-screen-logo-height) / 2));
    left: calc(50% - calc(var(--loading-screen-logo-width) / 2));
}

.loading-screen-spinner {
    position: absolute;
    height: calc(var(--loading-screen-logo-height) / 5);
    width: calc(var(--loading-screen-logo-width) / 5);
    top: calc(50% - calc(var(--loading-screen-logo-height) / 20));
    left: calc(50% - calc(var(--loading-screen-logo-width) / 10));
}